- item ||= f.object
- price_mode = Preference.global.find_by(name: :use_sale_catalog)&.value ? :use_sale_catalog : :last_sale_item
- precision = Onoma::Currency[f.object.sale_currency].precision
%tbody.nested-fields{ data: { trade_item: "sale", currency_precision: precision } }
  %tr
    %td.annotable
      :ruby
        options = {
          wrapper: :nested,
          source: {
            scope: { saleables: true, active: true },
            action: :unroll_saleables
          },
          input_html: {
            class: 'sale-variant',
            data: {
              variant_of_deal_item: {
                url: detail_backend_product_nature_variant_path("RECORD_ID", sale_nature_id: f.object.sale.nature_id, mode: price_mode)
              },
              parent: '.nested-fields',
              filter_unroll: "[data-selector-id='sale_item_conditioning_unit_id']"
            }
          }
        }

      = f.referenced_association(:variant, **options)
      - if f.object.annotation.blank?
        = link_to("#", data: { annotate: ".annotate", use_closest: "tbody" }, title: :add_annotation.tl) do
          %i
    = f.input_field :compute_from, as: :hidden, data: { compute_from_updater: true }
    %td= f.object.shipments.map { |i| i.reference_number.blank? ? i.number : i.reference_number }.to_sentence
    %td= f.input :accounting_label, wrapper: :nested, input_html: {size: 9}
    %td= f.referenced_association :conditioning_unit, wrapper: :nested, input_html: { size: 12, data: { filters_url: unroll_filters_by_catalog_items_backend_units_path, variant_selector: 'input.sale-variant' } }, new: { controller: :conditionings, action: :new_on_the_go }
    %td= f.input(:conditioning_quantity, wrapper: :nested, input_html: {size: 5, data: {trade_component: "quantity"}}, disabled: item.fixed)
    %td= f.input(:unit_pretax_amount, wrapper: :nested, input_html: {size: 8, data: {trade_component: "unit_pretax_amount", compute_from: :unit_pretax_amount }})
    %td.unitary-quantity.hidden= f.input(:base_unit_amount, disabled: true, wrapper: :nested)
    %td= f.select(:tax_id, Tax.current.collect{|t| [t.short_label, t.id, {'data-rate' => ((100 + t.usable_amount)/100)}]}, {}, data:{value: 'rate', trade_component: "tax"})
    %td= f.input(:reduction_percentage, wrapper: :nested, input_html: {size: 8, data: {trade_component: "reduction_percentage"}})
    %td= f.input(:pretax_amount, wrapper: :nested, input_html: {class: "pta lg-numeric", size: 6, maxlength: 6, data: {trade_component: "pretax_amount", compute_from: :pretax_amount }})
    %td= f.input(:amount, wrapper: :nested, input_html: { class: "wta lg-numeric", size: 6, data: { trade_component: "amount", compute_from: :amount } })
    %td.currency.right-align= f.object.sale_currency
    %td.action= link_to_remove_association(content_tag(:i) + h(:destroy.ta), f, 'data-no-turbolink' => true, class: 'remove-item')

  - attrs = {}
  - attrs[:style] = 'display: none' unless f.object.subscription
  - f.object.build_subscription unless f.object.subscription
  %tr.tr-add-on.subscription{attrs}
    %td{ colspan: 10 }
      .subscription-form
        = f.simple_fields_for :subscription do |s|
          %strong.label-inline.subscription_nature_name= (f.object.product_nature && f.object.subscription_nature) ? f.object.subscription_nature.name : nil
          %label.label-inline= :at_the_address.tl
          = s.referenced_association :address, source: { scope: :mails }, wrapper: :nested, input_html: { class: 'subscription_address_id' }
          %label.label-inline= :from.tl
          = s.input :started_on, wrapper: :nested, input_html: { class: 'subscription_started_on' }
          %label.label-inline= :to.tl
          = s.input :stopped_on, wrapper: :nested, input_html: { class: 'subscription_stopped_on' }

  %tr.tr-add-on
    %td{ colspan: 10 }
      - attrs = {}
      - attrs[:style] = "display: none" if f.object.annotation.blank?
      .annotate{attrs}= f.input(:annotation, wrapper: :nested, input_html: { class: "annotation" })
      - attrs[:style] = item && item.variant && item.variant.depreciable? ? {} : 'display: none'
      .fixed-asset{attrs}
        = f.input :fixed, show: :assets, input_html: { 'data-closest': :tr }
        - attrs = item.fixed ? {} : {style: 'display: none;'}
        #assets{attrs}
          = f.input :preexisting_asset, show: :existing_asset, hide: :new_asset, label: :asset_exists.tl, input_html: { 'data-closest': :tr }
          #existing_asset{attrs}
            = f.referenced_association :fixed_asset, source: :not_linked_to_sale
          #new_asset
            = f.referenced_association :depreciable_product, source: :depreciables

      .item-form-information
        - if Preference[:distribute_sales_and_purchases_on_activities] && current_user.can?(:read, :activities, :productions) && ActivityBudget.opened.any?
          .item-form.item-form__activity
            = f.referenced_association(:activity_budget, new: false)
        - if Preference[:distribute_sales_and_purchases_on_teams] && current_user.can?(:read, :teams, :human_resources)
          .item-form.item-form__team
            = f.referenced_association(:team)
