- item ||= f.object
%tr.nested-fields
  %td
    .selector
      = f.input_field(:price_id, as: :string, 'data-selector' => url_for(controller: :catalog_prices, action: :unroll), 'data-selector-new-item' => url_for(action: :new, controller: :catalog_prices))
    -# if item.errors.any?
      = item.errors.messages.inspect
  %td.decimal= f.input_field(:quantity, :size => 7, class: "item-pta item-wta")
  -#%td
    .selector
      = f.input_field(:price_id, 'data-selector' => url_for(controller: :catalog_prices, action: :unroll), 'data-selector-new-item' => url_for(action: :new, controller: :catalog_prices))
  %td
    = f.input_field(:unit_price_amount, class: "item-pta item-wta")
  %td.decimal
    = f.select(:tax_id, Tax.all.collect{|t| [t.name, t.id, {'data-rate' => ((100 + t.amount)/100)}]}, {}, 'data-value' => 'rate', class: "item-wta")
  %td.decimal.pta{'data-use' => ".item-pta", 'data-use-closest' => 'tr', 'data-calculate' => 'mul'}=item.pretax_amount
  %td.decimal.wta{'data-use' => ".item-wta", 'data-use-closest' => 'tr', 'data-calculate' => 'mul'}=item.amount
  %td.currency= f.object.sale_currency
  %td.action
    = link_to_remove_association(content_tag(:i) + h(:destroy.tl), f, 'data-no-turbolink' => true, class: 'remove-item')
