- if !session[:errors].nil?
  - if !session[:errors].empty?
    .errorExplanation
      %h2= session[:errors].size.to_s+" erreur(s) ont empéché l'enregistrement"
      %p Il y a eu des problèmes avec les champs suivantes :
      %ul
        - for error in session[:errors]
          %li= error.to_s

= error_messages('sale', object: @credit) if @credit

= form_tag() do
  = field_set :cancelation do
    = field Sale.human_attribute_name(:responsible), selector(:sale, :responsible, {action: :unroll, :scope => :employees, controller: :people})
    = list :creditable_items
  = form_actions do
    = submit_tag :validate.tl
