= kujaku do |k|
  - k.text
  - k.choice :all, :current, :unpaid
  - k.helper do
    %label= Sale.human_attribute_name(:responsible)
    = select_tag(:responsible_id, options_for_select([[]] + Entity.users.all.collect{|u| [u.label, u.id]}, params[:responsible_id]))

- main_toolbar do |t|
  = t.new variants: SaleNature.actives.reorder(:name).to_a.map{ |n| [n.name, {nature_id: n.id}, {by_default: n.by_default}] }

= main_list
