=formalize do |f|
  -f.error :production
%table.dyta
  %tr
    %th
    %th= tc('name')
    %th= tc('unit')
    %th= tc('quantity')
    %th= tc('total_quantity')
  -for @component in @components
    %tr{:class=>cycle('odd','even')}     
      %td{:colspan=>2}= @component.name
      %td= @component.component.unit.label
      %td= @component.quantity
      %td= @component.quantity*@production.quantity
      -for @stock_location in @current_company.stock_locations
        %tr
          %td{:style=>'width:20px'}
          %td{:colspan=>3}= @stock_location.name
          %td
            -if @component.location_id == @stock_location.id
              =text_field_tag "component[#{@component.id}][#{@stock_location.id}]",@component.quantity*@production.quantity , :id=>"component_#{@component.id}_#{@stock_location.id}"
            -else
              =text_field_tag "component[#{@component.id}][#{@stock_location.id}]", 0 , :id=>"component_#{@component.id}_#{@stock_location.id}"
