= form_tag backend_target_distributions_path, method: :patch do
  = hidden_field_tag(:redirect, params[:redirect]) if params[:redirect]
  = hidden_field_tag(:activity_id, params[:activity_id]) if params[:activity_id]
  = field_set do
    %table
      %thead
        %tr
          %th= TargetDistribution.human_attribute_name(:target)
          %th= TargetDistribution.human_attribute_name(:activity_production)
      %tbody
        :ruby
          activity = Activity.find_by(id: params[:activity_id]) if params[:activity_id]

          product_ids = @target_distributions.map(&:target_id).compact.uniq.sort
          products = Product.where(id: product_ids)
          products = product_ids.zip(products).to_h

          activity_productions = ActivityProduction.all
          activity_productions = activity_productions.of_activity(activity) if activity
          activity_productions = activity_productions.includes(:activity, :cultivable_zone).map { |ac| [ac.name, ac.id] }

        - @target_distributions.each do |distribution|
          - target = products[distribution.target_id]
          %tr
            %td
              = link_to target.name, backend_product_path(target)
              - name = "target_distributions[#{distribution.id}][target_id]"
              = hidden_field_tag name, target.id
            %td
              - activity_scope = { of_activity: activity.id } if activity
              = select_tag :"target_distributions[#{distribution.id}][activity_production_id]", options_for_select(activity_productions, distribution.activity_production_id), include_blank: true
              -# = selector_tag :"target_distributions[#{distribution.id}][activity_production_id]", { controller: 'backend/activity_productions', action: :unroll, scope: activity_scope }, { value: distribution.activity_production_id }
  = form_actions do
    = submit_tag(:update.tl, data: {disable_with: :please_wait.tl}, class: 'btn btn-primary')
    = link_to(:cancel.tl, (params[:redirect] || { controller: :activities, action: :index }), (params[:dialog] ? { class: 'btn', data: {close_dialog: params[:dialog]} } : { class: 'btn' }))
