- if @financial_year && Account.french_accounting_system?
  :ruby
    # get accoutancy ratio in financial_year.sum_entry_items_with_mandatory_line(:ratio, :products)
    # operating_margin_on_turnover = ( operating_margin / turnover_value) * 100


    production_sales = @financial_year.sum_entry_items_with_mandatory_line(:ratio, :production_sales)
    production_purchases = @financial_year.sum_entry_items_with_mandatory_line(:ratio, :production_purchases)
    added_value = @financial_year.sum_entry_items_with_mandatory_line(:ratio, :added_value)
    operating_margin = @financial_year.sum_entry_items_with_mandatory_line(:ratio, :operating_margin)

  = infos do
    - if production_sales
      .big-info
        %span.title= :product_value.tl(financial_year: @financial_year.name)
        %span.value= production_sales.l(currency: Preference[:currency])
    - if production_purchases
      .big-info
        %span.title= :charge_value.tl(financial_year: @financial_year.name)
        %span.value= production_purchases.l(currency: Preference[:currency])
    - if added_value
      .big-info{class: (added_value > 0 ? :positive : added_value < 0 ? :negative : :caution)}
        %span.title= :added_value.tl(financial_year: @financial_year.name)
        %span.value= added_value.l(currency: Preference[:currency])
    - if operating_margin
      .big-info{class: (operating_margin > 0 ? :positive : operating_margin < 0 ? :negative : :caution)}
        %span.title= :operating_margin.tl(financial_year: @financial_year.name)
        %span.value= operating_margin.l(currency: Preference[:currency])
- else
  = no_data
