- if @financial_year && Account.french_accounting_system?
  :ruby
    # get accoutancy ratio in financial_year.sum_entry_items_with_mandatory_line(:ratio, :products)
    # operating_margin_on_turnover = ( operating_margin / turnover_value) * 100


    net_production_sales = @financial_year.sum_entry_items_with_mandatory_line(:ratio, :net_production_sales)
    production_purchases = @financial_year.sum_entry_items_with_mandatory_line(:ratio, :production_purchases)
    added_value = @financial_year.sum_entry_items_with_mandatory_line(:ratio, :added_value)
    operating_margin = @financial_year.sum_entry_items_with_mandatory_line(:ratio, :operating_margin)
    raw_income = @financial_year.sum_entry_items_with_mandatory_line(:ratio, :raw_income)
    raw_income_before_taxe = @financial_year.sum_entry_items_with_mandatory_line(:ratio, :raw_income_before_taxe)
    net_income = @financial_year.sum_entry_items_with_mandatory_line(:ratio, :net_income)

  = infos do
    - if net_production_sales
      .big-info
        %span.title= :net_production_sales.tl(financial_year: @financial_year.name)
        %span.value= net_production_sales.l(currency: Preference[:currency])
    - if operating_margin
      .big-info{class: (operating_margin > 0 ? :positive : operating_margin < 0 ? :negative : :caution)}
        %span.title= :operating_margin.tl(financial_year: @financial_year.name)
        %span.value= operating_margin.l(currency: Preference[:currency])
    - if raw_income
      .big-info{class: (raw_income > 0 ? :positive : raw_income < 0 ? :negative : :caution)}
        %span.title= :raw_income.tl(financial_year: @financial_year.name)
        %span.value= raw_income.l(currency: Preference[:currency])
    - if net_income
      .big-info{class: (net_income > 0 ? :positive : net_income < 0 ? :negative : :caution)}
        %span.title= :net_income.tl(financial_year: @financial_year.name)
        %span.value= net_income.l(currency: Preference[:currency])
- else
  = no_data
