= content_tag(:div, id: :new_intervention, data: { template: @intervention_template.to_json, product_parameters_attributes: @intervention_template.product_parameters.to_json }) do
  = field_set do
    = f.input :name, input_html: { 'v-model': 'template.name' }
    = f.input :active, input_html: { 'v-model': 'template.active' }
    = f.input :description, wrapper: :bootstrap, type: :text, input_html: { 'v-model': 'template.description' }

  = field_set :product_parameters do
    = simple_fields_for f.object.product_parameters.new do |p|
      %h4 Parametres
      .parameters{ 'v-for': '(parameter, index) in template.product_parameters_attributes' }
        = p.input :quantity, input_html: { 'v-model': 'parameter.quantity' }
        %button{ 'v-on:click': 'removeParameter(index)', type: :button }
          Remove parameter

    %button{ 'v-on:click': 'addParameter', type: :button }
      Add parameter

  - f.clear_actions!
