- main_toolbar do |t|
  - t.edit resource

= cobbles do |c|
  - c.cobble :general_informations do
    = attributes_list do |l|
      - l.attribute :name
      - l.attribute :harvest_year
      - l.attribute :closed
      - l.attribute :number
      - l.attribute :description

  - c.cobble(:productions) do
    = cobble_toolbar do |t|
      - t.new variants: Activity.availables.reorder(:name).to_a.inject({}){|h,n| h[:new_production_of_activity.tl(activity: n.name)] = {activity_id: n.id, controller: :activity_productions, campaign_id: resource.id}; h}
    = cobble_list(:activity_productions)

  - c.cobble :map do
    = cell :map, params: {campaign_ids: resource.id}
