= field_set do
  = f.referenced_association :transporter, source: :necessary_transporters, new: {transporter: 1}
  = f.referenced_association :responsible, source: :employees
  = f.input :reference_number
  = f.input :departed_at
  = f.input :annotation
  = f.custom_fields

= field_set :parcels, label: resource_model.human_attribute_name(:parcels) do
  = list :parcels
