= field_set :general_informations do
  = f.referenced_association :recipient
  = f.input :mode
  = f.input :with_transport, hide: :sent_at, show: :transporter
  #sent_at= f.input :sent_at
  #transporter= f.referenced_association :transporter
  = f.referenced_association :address, source: :mails
  -#= f.referenced_association :sale
  = f.custom_fields

= field_set OutgoingDelivery.human_attribute_name(:items) do
  %table.list
    %thead
      %tr
        %th.act
        %th= OutgoingDeliveryItem.human_attribute_name(:product)
        %th= OutgoingDeliveryItem.human_attribute_name(:parted)
        %th= OutgoingDeliveryItem.human_attribute_name(:population)
        %th= OutgoingDeliveryItem.human_attribute_name(:shape)

    %tbody#items
      = f.simple_fields_for :items, @outgoing_delivery.items do |item|
        = render 'item_fields', f: item
    %tfoot
      %tr.total
        %th{colspan: 5}= link_to_add_association :add_item.tl, f, :items, partial: 'item_fields', 'data-association-insertion-node' => '#items', 'data-association-insertion-method' => :append, class: "btn primary"
