%table.active-list
  %tr
    %th= OutgoingDeliveryItem.human_attribute_name(:product)
    %th= CatalogPrice.human_attribute_name(:pretax_amount)
    %th= CatalogPrice.human_attribute_name(:amount)
    %th= :total_quantity.tl
    %th= OutgoingDeliveryItem.human_attribute_name(:unit)
    %th= :quantity_rest.tl
    %th= :quantity.tl
    %th= OutgoingDeliveryItem.human_attribute_name(:pretax_amount)
    %th= OutgoingDeliveryItem.human_attribute_name(:amount)
  - for item in @outgoing_delivery_items
    %tr{class: cycle('odd','even')}
      %td= item.sale_item.label
      %td.dec{class: "pta-#{item.sale_item_id}"}= item.sale_item.price.pretax_amount
      %td.dec{class: "awt-#{item.sale_item_id}"}= item.sale_item.price.amount
      %td.dec= item.sale_item.quantity
      %td= item.sale_item.unit.name
      %td.dec= item.sale_item.undelivered_quantity
      %td{:style => 'text-align:center'}
        = text_field_tag "outgoing_delivery_item[#{item.sale_item_id}][quantity]", item.quantity, id: "outgoing_delivery_item_#{item.sale_item_id}_quantity", class: "pta-#{item.sale_item_id} awt-#{item.sale_item_id}", "data-less-than-or-equal-to" => item.quantity+item.sale_item.undelivered_quantity
      %td.dec.pta{"data-use" => ".pta-#{item.sale_item_id}", "data-calculate" => "mul"}
      %td.dec.awt{"data-use" => ".awt-#{item.sale_item_id}", "data-calculate" => "mul"}
  %tr.total
    %th{:colspan => 7}=tg :total
    %td#total_pretax_amount{"data-use" => ".pta"}= @outgoing_delivery.pretax_amount
    %td#total_amount{"data-use" => ".awt"}= @outgoing_delivery.amount
