%li.cast
  .cost
    - cost = cast.cost
    - if cost
      = cast.cost.round.to_i.l(currency: Preference[:currency])
  - actor = cast.product
  - variant = cast.variant
  - if actor
    .picture
      - if actor.picture.file?
        = image_tag(actor.picture.url(:thumb))
      - elsif pictogram = actor.category.pictogram
        .picto{class: "picto-#{pictogram.gsub('_', '-')}"}
      - else
        .picto{class: "picto-question"}

    .details
      %h3= link_to(actor.name, {controller: actor.class.table_name, action: :show, id: actor.id})
      %p= cast.name
      %p= cast.model_name.human
      - if actor.is_a?(Product) && !actor.population_counting_unitary? && variant && cast.quantity
        %p= :x_thing.tl(x: cast.quantity.round(2).l, thing: variant.unit_name.mb_chars.downcase)
  - elsif variant
    .picture
      - if variant.picture.file?
        = image_tag(variant.picture.url(:thumb))
      - elsif pictogram = variant.category.pictogram
        .picto{class: "picto-#{pictogram.gsub('_', '-')}"}
      - else
        .picto{class: "picto-question"}

    .details
      %h3= link_to(variant.name, {controller: variant.class.table_name, action: :show, id: variant.id})
      %p= cast.name
      %p= cast.model_name.human
      - if !variant.population_counting_unitary?
        %p= :x_thing.tl(x: (cast.quantity || 0).round(2).l,
                        thing: variant.unit_name.mb_chars.downcase)

  - else
    .picture
      .picto{class: "picto-question"}
    .details
      %h3= cast.name
      %p= cast.model_name.human


