- f.object.parameter_name = parameter.name
.nested-fields.cast
  = link_to_remove_nested_association('cast', f)
  = f.input :parameter_name, as: :hidden
  - if parameter.input?
    = f.referenced_association :source_product, label: parameter.human_name, source: {scope: parameter.scope_hash.merge(availables: true)}
    = render 'quantifier_field', f: f, parameter: parameter
  - elsif parameter.output?
    = f.referenced_association :variant, label: parameter.human_name, source: {scope: parameter.scope_hash.merge(availables: true)}
    -# = render 'quantifier_field', f: f, parameter: parameter
  - else
    = f.referenced_association :product, label: parameter.human_name, source: {scope: parameter.scope_hash.merge(availables: true)}
