= form_tag(change_state_backend_interventions_path, method: :post) do

  = modal_header(:change_state.tl, { class: "modal-title", flex: true })

  .modal-body

    %div.modal-intervention

      = content_tag(:p, :choose_options_is_needed.tl, class: "change-state-text")
      = content_tag(:ul, class: "interventions-list") do
        - interventions.each do |intervention|
          = content_tag(:li, intervention.name, class: "intervention")

      - interventions_ids = []
      - interventions.each do |intervention|
        - interventions_ids << intervention.id

      = hidden_field_tag('intervention[interventions_ids]', interventions_ids.to_json)

      = field :status.tl, nil do |check_box|

        - Intervention.state.options.each do |state, option|

          - checked = false

          - if interventions.first.nature.to_sym == :request
            - checked = true if option.to_sym == :in_progress
          - elsif interventions.first.nature.to_sym == :record
            - checked = true if option.to_sym == :done && interventions.first.state.to_sym == :in_progress
            - checked = true if option.to_sym == :validated && interventions.first.state.to_sym == :done

          - if option.to_sym != :rejected
            = label_tag(nil) do
              = radio_button_tag('intervention[state]', option, checked)
              = content_tag(:span, state)

  .modal-footer
    = submit_tag :edit.tl, class: 'primary'
