- if f.object.errors.any? && Rails.env.development?
  = f.object.errors.inspect
- procedure = f.object.procedure
- if procedure = f.object.procedure
  = hidden_field_tag :updater, compute_backend_interventions_path(format: :json), data: {procedure_computing: procedure.name}
  = field_set do
    = f.input :procedure_name, as: :hidden, input_html: { data: { procedure: compute_backend_interventions_path(format: :json) }}
    = f.referenced_association :issue, new: false
    = f.input :description
    - procedure.mandatory_actions.each do |a|
      = hidden_field_tag('intervention[actions][]', a.name)
    - if procedure.optional_actions.any?
      = f.items_list(:actions, selection: procedure.optional_actions_selection)

    = f.custom_fields
    #prescriptions
      = f.referenced_association :prescription
      -#= f.referenced_association :recommender
    #working-periods
      - unless f.object.working_periods.any?
        - stopped_at ||= Time.zone.now
        - started_at ||= stopped_at - 1.hour
        - f.object.working_periods.new(started_at: started_at, stopped_at: stopped_at)
      = f.nested_association(:working_periods, minimum: 1, locals: {namespace: 'working_periods'})

  = field_set :parameters do
    - procedure.each_parameter do |parameter|
      = render 'parameter_form', reference: parameter, f: f, namespace: ''

- else # Root Procedure Natures
  - main_campaign_selector
  - Nomen::ActivityFamily.find_each do |family|
    - categories = Nomen::ProcedureCategory.select { |c| c.activity_family.include?(family.name.to_sym) }
    - next unless categories.any?
    .activity-family
      %h2.activity-family-name= family.human_name
      .activity-family-procedures
        - categories.sort{|a,b| a.human_name <=> b.human_name }.each do |category|
          = dropdown_menu_button(category.human_name, class: 'btn-group-lg') do |menu|
            - Procedo.procedures_of_category(category.name.to_sym).sort{|a,b| a.human_name <=> b.human_name }.each do |procedure|
              - menu.item procedure.human_name, { procedure_name: procedure.name, redirect: params[:redirect] }

  - f.clear_actions!
