- procedure = f.object.procedure
%div{id: 'intervention-form', data: {procedure_set: procedure.present?}}
  - if f.object.errors.any? && Rails.env.development?
    = f.object.errors.inspect
  - content_for :main_title do
    - interpolations = { number: f.object.number, nature: f.object.nature.l }
    - action_title_key = ['new', 'create'].include?(action_name) ? 'new' : 'edit'
    - if procedure
      - action_title_key << '_specified'
      - interpolations[:procedure_name] = procedure.human_name
    - action_title_key << "_#{f.object.nature}" unless f.object.record?
    = "actions.#{controller_path}.#{action_title_key}".t(interpolations)

  = hidden_field_tag 'intervention_id', f.object.id

  - if f.object.new_record?
    - f.object.auto_calculate_working_periods = true
  = f.input :auto_calculate_working_periods, as: :hidden

  -# Show the different kind of intervention, || the form to create intervention
  - if procedure

    - if params[:ride_ids]
      - params[:ride_ids].each do |ride_id|
        = f.hidden_field :ride_ids, :multiple => true, :value => ride_id

    = hidden_field_tag :updater, compute_backend_interventions_path(format: :json), data: {procedure_computing: procedure.name}
    = field_set do
      = f.input :procedure_name, as: :hidden, input_html: { data: { procedure: compute_backend_interventions_path(format: :json) }}
      = f.input :nature, as: :hidden
      = f.input :state, as: :hidden
      = f.input :intervention_proposal_id, as: :hidden
      = hidden_field_tag('is_harvesting', f.object.decorate.harvesting?)

      #working-periods
        - unless f.object.working_periods.any?
          - stopped_at ||= f.object.stopped_at.present? ? f.object.stopped_at : Time.zone.now
          - started_at ||= f.object.started_at.present? ? f.object.started_at : stopped_at - 1.hour
          - f.object.working_periods.new(started_at: started_at, stopped_at: stopped_at)
        = f.nested_association(:working_periods, minimum: 1, locals: {namespace: 'working_periods'}, collection: f.object.working_periods.sort_by(&:started_at), partial: '/backend/interventions/working_period_fields')
      - if f.object.record?
        = f.referenced_association :request_intervention, new: false, as: :hidden
      = f.referenced_association :issue, new: false, source: { controller: 'backend/issues' }
      = f.input :description
      - procedure.mandatory_actions.each do |a|
        = hidden_field_tag('intervention[actions][]', a.name)
      - if procedure.optional_actions.any?
        = f.items_list(:actions, selection: procedure.optional_actions_selection, required: procedure.mandatory_actions.empty?)
      - if f.object.record?
        = f.input :trouble_encountered, show: '#problem-description'
        #problem-description
          = f.input :trouble_description, as: :text
      = f.custom_fields
      #prescriptions
        = f.referenced_association :prescription, source: { controller: 'backend/prescriptions' }
        -#= f.referenced_association :recommender
      #labellings
        = f.nested_association(:labellings, partial: '/backend/interventions/labelling_fields')

    = field_set :parameters do
      - procedure.each_parameter do |parameter|
        - if [:zone, :plant,:land_parcel, :cultivation].include? parameter.name
          = render '/backend/interventions/crop_group_field', f: f
        = render '/backend/interventions/parameter_form', reference: parameter, f: f, namespace: ''
      - if f.object.spraying?
        .master-spray-volume
          :ruby
            spray_volume = f.object.settings.new(indicator_name: :spray_mix_volume_area_density) if f.object.settings.none?

            #copy spray volume error message from inputs to setting
            if f.object.errors.has_key?(:"inputs.spray_volume_value")
              spray_volume.errors.add(:measure_value_value, f.object.errors.full_messages_for(:"inputs.spray_volume_value").join)
            end

          = f.nested_association(:settings, new: false, locals: { intervention_form: f })

        #parameter-settings
          = f.nested_association(:parameter_settings)

      -# - if procedure.parameters.any?{|p| p.is_a?(Procedo::Procedure::ProductParameter) && p.beta?}
      -#   %span.beta
      -#     = :beta_description.tl
    = field_set :service_delivering do
      = f.nested_association(:receptions, maximum: 1, button_label: :add_service_delivering.tl, partial: '/backend/interventions/reception_fields')
  - else # Root Procedure Natures
    .show-map-input
      = label_tag do
        = check_box_tag('value', 'true', user_preference_value(User::PREFERENCE_SHOW_MAP_INTERVENTION_FORM), data: { remote: true, url: backend_preference_path(id: User::PREFERENCE_SHOW_MAP_INTERVENTION_FORM), method: 'PATCH' })
        = :view_map_when_creating_an_intervention.tl
    - main_period_selector(:year)
    - activity_families = Activity.pluck(:family).push("administering", "processing", "tool_maintaining").uniq
    - nomen_activity_families = Onoma::ActivityFamily.list.select{ |e| activity_families.include?(e.name)}
    - ListSorter.new(:activity_families, nomen_activity_families).sort.each do |family|
      - procedure_categories = Onoma::ProcedureCategory.select { |c| c.activity_family.include?(family.name.to_sym) }
      - next unless procedure_categories.any?
      .activity-family
        .activity-family-heading
          %h2.activity-family-title= family.human_name
        .activity-family-body
          - ListSorter.new(:procedure_categories, procedure_categories).sort.each do |procedure_category|
            = dropdown_menu_button(procedure_category.human_name, class: 'btn-group-lg procedure-dropdown', icon: false) do |menu|
              - procedures = Procedo::Procedure.of_main_category(procedure_category.name.to_sym)
              - procedures.sort_by(&:position).each do |procedure|
                - menu.item procedure.human_name, { procedure_name: procedure.name, redirect: params[:redirect], nature: params[:nature], crop_group_ids: params[:crop_group_ids], ride_ids: params[:ride_ids], targets_attributes: params[:targets_attributes]&.map(&:to_unsafe_h), group_parameters_attributes: params[:group_parameters_attributes]&.map(&:to_unsafe_h)}
    - f.clear_actions!
