= modal_header('Temps de travaux de Christian Dupont')

.modal-body
  .indicators
    .med-info
      %span.title= Intervention.human_attribute_name(:started_at)
      %span.value
        %i.picto.picto-clock-o
        -# = intervention.started_at.l(format: :compact)

  .participations
    .participation
      .picto.picto-timelapse
      = form_tag(url, method: :get) do
        = f.input :name

  .actions
  = link_to 'Preparation', '#', class: "btn btn-default"
  = link_to 'Déplacement', '#', class: "btn btn-default"
  = link_to 'Intervention', '#', class: "btn btn-default"
  = link_to 'Pause', '#', class: "btn btn-default"

.modal-footer
  = link_to 'Valider', '#', class: "btn btn-primary"
  = link_to 'Annuler', '#', class: "btn btn-default"
