.cost
  - computation = product_parameter.cost_amount_computation(nature: nature)
  .computation
    - if computation.failed?
      = 'FAILED'
    - elsif computation.none?
      = '&mdash;'.html_safe
    - elsif computation.quantity?
      %span.quantity= computation.quantity.round(3).l(precision: 0)
      %span.unit-name= computation.unit_name
      %span x
      - if computation.sale?
        = link_to(computation.human_unit_amount, {controller: :sales, action: :show, id: computation.sale.id})
      - elsif computation.purchase?
        = link_to(computation.human_unit_amount, {controller: :purchase_invoices, action: :show, id: computation.purchase.id})
      - elsif computation.order?
        = link_to(computation.human_unit_amount, {controller: :purchase_orders, action: :show, id: computation.order_item.purchase_id})
      - elsif computation.reception?
        = link_to(computation.human_unit_amount, {controller: :receptions, action: :show, id: computation.reception.id})
      - elsif computation.worker_contract?
        = link_to(computation.human_unit_amount, {controller: :worker_contracts, action: :edit, id: computation.worker_contract_item.id, redirect: request.fullpath})
      - elsif computation.catalog?
        - if computation.catalog_item
          = link_to(computation.human_unit_amount, {controller: :catalog_items, action: :edit, id: computation.catalog_item.id, redirect: request.fullpath})
        - elsif product_parameter.product.is_a?(Equipment)
          %br
          = link_to(:add_variant_catalog_price.tl, {controller: :catalog_items, action: :new, variant_id: product_parameter.product.variant.id, unit_id: computation.unit , catalog_id: Catalog.by_default!(computation.catalog_usage).id, started_at: (product_parameter.intervention.started_at - 1.hours), redirect: request.fullpath})
          %br
          = link_to(:add_product_catalog_price.tl, {controller: :catalog_items, action: :new, variant_id: product_parameter.product.variant.id, product_id: product_parameter.product.id, unit_id: computation.unit , catalog_id: Catalog.by_default!(computation.catalog_usage).id, started_at: (product_parameter.intervention.started_at - 1.hours), redirect: request.fullpath})
          %br
        - elsif product_parameter.product.is_a?(Worker)
          %br
          = link_to(:add_worker_contract.tl, {controller: :worker_contracts, action: :new, entity_id: product_parameter.product.person_id, started_at: (product_parameter.intervention.started_at - 1.hours), redirect: request.fullpath})
          %br
          = link_to(:add_product_catalog_price.tl, {controller: :catalog_items, action: :new, variant_id: product_parameter.product.variant.id, product_id: product_parameter.product.id, unit_id: computation.unit , catalog_id: Catalog.by_default!(computation.catalog_usage).id, started_at: (product_parameter.intervention.started_at - 1.hours), redirect: request.fullpath})
        - else
          = link_to(:add_variant_catalog_price.tl, {controller: :catalog_items, action: :new, variant_id: product_parameter.product.variant.id, unit_id: computation.unit , catalog_id: Catalog.by_default!(computation.catalog_usage).id, started_at: (product_parameter.intervention.started_at - 1.hours), redirect: request.fullpath})
      %span =
      - if computation.amount?
        %span.amount= computation.human_amount
      - else
        %span.amount.no-amount
          %i.icon.icon-question

  - if computation.quantity?
    .origin
      - if computation.sale?
        = :amount_computed_from.th(source: link_to(computation.sale.number, {controller: :sales, action: :show, id: computation.sale.id}, title: Sale.model_name.human))
      - elsif computation.purchase?
        = :amount_computed_from.th(source: link_to(computation.purchase.number, {controller: :purchase_invoices, action: :show, id: computation.purchase.id}, title: PurchaseInvoice.model_name.human))
      - elsif computation.order?
        = :amount_computed_from.th(source: link_to(PurchaseOrder.find(computation.order_item.purchase_id)&.number, {controller: :purchase_orders, action: :show, id: computation.order_item.purchase_id}, title: PurchaseOrder.model_name.human))
      - elsif computation.reception?
        = :amount_computed_from.th(source: link_to(computation.reception.number, {controller: :receptions, action: :show, id: computation.reception.id}, title: Reception.model_name.human))
      - elsif computation.worker_contract?
        = :amount_computed_from.th(source: link_to(computation.worker_contract_item.name, {controller: :worker_contracts, action: :show, id: computation.worker_contract_item.id}, title: WorkerContract.model_name.human))
      - elsif computation.catalog? && computation.catalog_item && computation.catalog
        = :amount_estimated_from.th(source: link_to(computation.catalog.name, {controller: :catalogs, action: :show, id: computation.catalog.id}, title: Catalog.model_name.human))
