= form_tag(change_state_backend_interventions_path, method: :post) do

  = modal_header('Changer le status', { class: "modal-title", flex: true })

  .modal-body

    %div.modal-intervention

      - interventions_ids = []
      - interventions.each do |intervention|
        - interventions_ids << intervention.id

      = hidden_field_tag('intervention[interventions_ids]', interventions_ids.to_json)

      = field "Test", nil do |check_box|

        - Intervention.state.options.each do |state, option|

          - if option.to_sym != :deleted
            = label_tag(nil) do
              = radio_button_tag('intervention[state]', option)
              = content_tag(:span, state)

  .modal-footer
    = submit_tag :edit.tl, class: 'primary'
