%div.modal-intervention

  %div.indicators
    .med-info
      %span.title= Intervention.human_attribute_name(:working_duration)
      %span.value
        %i.picto.picto-timelapse
        = human_duration(resource.working_duration)

    .med-info
      %span.title= Intervention.human_attribute_name(:started_at)
      %span.value
        %i.picto.picto-clock-o
        = resource.started_at.l

    .med-info
      %span.title= Intervention.human_attribute_name(:stopped_at)
      %span.value
        %i.picto.picto-clock-o
        = resource.stopped_at.l

  %div.blocks

    %div.block
      = content_tag(:h3, :activities.tl, class: "block-title")

      - intervention.activities_names_list.each do |activity_name|
        - title = activity_name
        - detail = ""
        = add_modal_data(title, detail, {icon: 'picto-leaf'})


    %div.block
      = content_tag(:h3, :land_parcels.tl, class: "block-title")

      - intervention.targets.each do |targets|
        - title = targets.product.name
        - detail = targets.product.nature.name
        = add_modal_data(title, detail, {icon: 'picto-land-parcels'})

    %div.block
      = content_tag(:h3, :doers.tl, class: "block-title")

      - intervention.doers.each do |doer|
        - title = doer.product.name
        - detail = doer.name
        = add_modal_data(title, detail, {icon: 'picto-male'})

    %div.block
      = content_tag(:h3, :inputs.tl, class: "block-title")

      - intervention.inputs.each do |input|
        - unless input.product.blank?
          - title = input.product.name
          - detail = input.quantity_value.round(2).l(precision: 0) + " " + input.product.unit_name.mb_chars
          = add_modal_data(title, detail, {icon: 'picto-matter'})


    %div.block
      = content_tag(:h3, :tools.tl, class: "block-title")

      - intervention.tools.each do |tool|
        - title = tool.product.name
        - detail = tool.product.nature.name
        = add_modal_data(title, detail, {icon: "picto-tractor"})
