.modal-header

  = content_tag(:h4, intervention.name, class: 'modal-title')

  = content_tag(:div, '', class: 'labels') do
    = content_tag(:span, intervention.state.tl, class: 'label label-default') if intervention.nature == :record
    -# = content_tag(:span, 'Conforme', class: 'label label-success')

  = button_tag({ class: 'close', aria: { label: :close.tl }, data: { dismiss: 'modal' }, type: 'button' }) do
    = content_tag(:span, '&times;'.html_safe, aria: { hidden: 'true' })

.modal-body

  %div.modal-intervention

    %div.indicators
      .med-info.total-cost
        %span.title= :total_cost.tl
        %span.value
          %i.picto.picto-timelapse
          - currency = Nomen::Currency.find(resource.currency)
          = resource.total_cost.round(currency.precision).l(currency: currency.name)

      .med-info
        %span.title= Intervention.human_attribute_name(:working_duration)
        %span.value
          %i.picto.picto-timelapse
          = human_duration(resource.working_duration)

      .med-info
        %span.title= Intervention.human_attribute_name(:started_at)
        %span.value
          %i.picto.picto-clock-o
          = resource.started_at.l(format: :datetime_with_slashs)

      .med-info
        %span.title= Intervention.human_attribute_name(:stopped_at)
        %span.value
          %i.picto.picto-clock-o
          = resource.stopped_at.l(format: :datetime_with_slashs)

    %div.blocks

      %div.block
        = content_tag(:h3, :activities.tl, class: "block-title")

        - intervention.activities_names_list.each do |activity_name|
          - title = activity_name
          - detail = ""
          = add_modal_data(title, detail, {icon: 'picto-leaf'})


      %div.block
        = content_tag(:h3, :targets.tl, class: "block-title")

        - intervention.targets.each do |targets|
          - title = targets.product.name
          - detail = targets.product.nature.name
          = add_modal_data(title, detail, {icon: 'picto-land-parcels'})

      %div.block
        = content_tag(:h3, :doers.tl, class: "block-title")

        - intervention.doers.each do |doer|
          - title = doer.product.name
          - detail = doer.name
          = add_modal_data(title, detail, {icon: 'picto-male'})

      %div.block
        = content_tag(:h3, :inputs.tl, class: "block-title")

        - intervention.inputs.each do |input|
          - unless input.product.blank?
            - title = input.product.name
            - detail = ""

            - unless input.quantity_handler_reference.unit.nil?
              - detail = input.quantity_value.round(2).l(precision: 0)
              - detail << " " + input.quantity_handler_reference.unit.symbol

            = add_modal_data(title, detail, {icon: 'picto-matter'})


      %div.block
        = content_tag(:h3, :tools.tl, class: "block-title")

        - intervention.tools.each do |tool|
          - title = tool.product.name
          - detail = tool.product.nature.name
          = add_modal_data(title, detail, {icon: "picto-tractor"})


.modal-footer
  %div.task-actions

    = link_to :see_details.tl, backend_intervention_path(intervention), class: 'btn btn-primary'
    = link_to :edit.tl, edit_backend_intervention_path(intervention), class: 'btn btn-primary'
