%li.cast
  .cost
    - cost = parameter.cost
    - if cost
      = parameter.cost.round.to_i.l(currency: Preference[:currency])
  - actor = parameter.product
  - variant = parameter.variant
  - if actor
    .picture
      - if actor.picture.file?
        = image_tag(actor.picture.url(:thumb))
      - elsif pictogram = actor.category.pictogram
        .picto{class: "picto-#{pictogram.gsub('_', '-')}"}
      - else
        .picto{class: "picto-question"}

    .details
      %h3= link_to(actor.name, {controller: actor.class.table_name, action: :show, id: actor.id})
      %p= parameter.name
      %p= parameter.model_name.human
      - if actor.is_a?(Product) && !actor.population_counting_unitary? && variant && parameter.quantity_unit && parameter.quantity
        %p
          - if parameter.quantity_indicator == 'population'
            = :x_thing.tl(x: parameter.quantity.round(2).l, thing: variant.unit_name.mb_chars.downcase)
          - else
            = parameter.quantity.round(2).l
  - elsif variant
    .picture
      - if variant.picture.file?
        = image_tag(variant.picture.url(:thumb))
      - elsif pictogram = variant.category.pictogram
        .picto{class: "picto-#{pictogram.gsub('_', '-')}"}
      - else
        .picto{class: "picto-question"}

    .details
      %h3= link_to(variant.name, {controller: variant.class.table_name, action: :show, id: variant.id})
      %p= parameter.name
      %p= parameter.model_name.human
      - if !variant.population_counting_unitary?
        %p= :x_thing.tl(x: (parameter.quantity || 0).round(2).l,
                        thing: variant.unit_name.mb_chars.downcase)

  - else
    .picture
      .picto{class: "picto-question"}
    .details
      %h3= parameter.name
      %p= parameter.model_name.human


