%li.cast
  .cost
    - cost = product_parameter.cost
    - if cost
      = product_parameter.cost_label
      = " = "
      = product_parameter.cost.round.to_i.l(currency: Preference[:currency])
  - actor = product_parameter.product
  - variant = product_parameter.variant



  - if actor
    .picture
      - if actor.picture.file?
        = image_tag(actor.picture.url(:thumb))
      - elsif pictogram = actor.category.pictogram
        .picto{class: "picto-#{pictogram.gsub('_', '-')}"}
      - else
        .picto{class: "picto-question"}

    .details
      %h3= link_to(actor.name, {controller: actor.class.table_name, action: :show, id: actor.id})
      %p= product_parameter.name
      %p= product_parameter.model_name.human
      - if actor.is_a?(Product) && !actor.population_counting_unitary? && variant && product_parameter.quantity_unit_name && product_parameter.quantity
        %p
          - if product_parameter.quantity_indicator == 'population'
            = :x_thing.tl(x: product_parameter.quantity.round(2).l, thing: variant.unit_name.mb_chars.downcase)
          - else
            = product_parameter.quantity.round(2).l
  - elsif variant
    .picture
      - if variant.picture.file?
        = image_tag(variant.picture.url(:thumb))
      - elsif pictogram = variant.category.pictogram
        .picto{class: "picto-#{pictogram.gsub('_', '-')}"}
      - else
        .picto{class: "picto-question"}

    .details
      %h3= link_to(variant.name, {controller: variant.class.table_name, action: :show, id: variant.id})
      %p= product_parameter.name
      %p= product_parameter.model_name.human
      - if !variant.population_counting_unitary?
        %p= :x_thing.tl(x: (product_parameter.quantity_value || 0).round(2).l,
                        thing: variant.unit_name.mb_chars.downcase)

  - else
    .picture
      .picto{class: "picto-question"}
    .details
      %h3= product_parameter.name
      %p= product_parameter.model_name.human


