= f.input(:quantity_value, wrapper: :append) do
  = f.input_field :quantity_value
  -# = f.input_field :quantity_population, as: :hidden
  - options = []
  - parameter.handlers.each do |handler|
    - if handler.widget == :number
      - unit = handler.unit? ? handler.unit : Nomen::Unit.find(:unity)
      - options << ["#{unit.symbol} (#{handler.indicator.human_name})", handler.name]
    - else
      - fail "Cannot handler #{handler.widget} handlers"
  = f.input_field(:quantity_handler, collection: options)
