= f.input_field :quantity_population, as: :hidden, data: { intervention_updater: prefix + 'quantity_population' }
- if reference.handlers.any?
  - options = reference.handlers.map do |handler|
    - if handler.population?
      - [Nomen::Unit.find(:unity).human_name, handler.name]
    - elsif handler.widget == :number
      - unit = handler.unit? ? handler.unit : Nomen::Unit.find(:unity)
      - ["#{unit.symbol} (#{handler.human_name})", handler.name]
    - else
      - fail "Cannot handler #{handler.widget} handlers"
  = f.input(:quantity, wrapper: :append) do
    = f.input :quantity_value, input_html: { data: { intervention_updater: prefix + 'quantity_value', intervention_field: 'quantity-value' } }, wrapper: :simplest
    = f.input(:quantity_handler, collection: options, include_blank: false, input_html: { data: { intervention_updater: prefix + 'quantity_handler', intervention_field: 'quantity-handler' } }, wrapper: :simplest)
