-# Form to set asked reading values
= form_tag(action: :run) do
  = field_set do
    - for operation in @intervention.reference.operations.values
      - next unless operation.need_parameters?
      %h3= operation.human_name
      .desc= operation.human_expressions.to_sentence
      - for task in operation.tasks.values
        - for indicator in task.wanted_indicators
          .control-group
            %label.control-label= indicator.human_name
            .controls
              = indicator_field_tag("parameters[readings][#{task.uid}]", indicator.reference)
  = form_actions do
    = submit_tag(:run.tl, class: :primary)
    = link_to(:cancel.tl, {action: :index}, class: :btn)

