- main_toolbar do |t|
  - t.edit @intervention
  - if @intervention.destroyable?
    - t.destroy @intervention, method: :post, "data-confirm" => :are_you_sure.tl
  - if @intervention.runnable?
    - t.run @intervention, method: :post, "data-confirm" => :are_you_sure.tl

= beehive do |b|
  - b.hbox do
    - if target = @intervention.casts.of_role(:target).first
      - if target.actor.shape
        - b.cell :target_zone do
          = mini_map(target.actor)
    - if output = @intervention.casts.of_role(:output).first
      - if output.shape
        - b.cell :working_zone do
          = mini_map(output)
    - if target.shape
      - b.cell :working_zone do
        = mini_map(target)

    - b.cell do
      = attributes_list do |l|
        - l.attribute :name
        - l.attribute :started_at
        - l.attribute :stopped_at
        - l.attribute :state
        - l.attribute :production, url: true
        - if @intervention.production_support
          - l.attribute :storage, url: true
        - if @intervention.prescription
          - l.attribute :prescription, label_method: :name, url: true
        - if @intervention.issue
          - l.attribute :issue, url: true

  - b.hbox do
    - b.cell(:casts) do
      = list(:casts)

  - if @intervention.operations.any?
    - b.cell(:operations) do
      = list(:operations)