= main_toolbar do |t|
  - t.edit @intervention
  - #  t.play @intervention

= beehive do |b|
  - b.tabbox do
    - b.cell do
      = attributes_list(@intervention) do |l|
        - l.attribute :procedure
        - l.attribute :state
        - l.attribute :production, :url => true

  - b.tabbox do
    - b.cell(:casts) do
      = list(:casts)
    - b.cell(:operations) do
      = list(:operations)