= field_set do
  = f.input :subject_id, as: :hidden
  = f.input :subject_type, as: :hidden
  = f.input :importance, as: :radio_buttons
  = f.input :observed_at
  = f.input :content
  = f.custom_fields
