= field_set do
  = f.referenced_association :nature
  = f.referenced_association :employee, source: :employees, new: { employee: 1 }, label: Payslip.human_attribute_name(:employee)
  = f.input :started_on
  = f.input :stopped_on
  = f.input :amount
  = f.input :emitted_on

= f.attachments_field_set
