= field_set class: 'delivery-item' do
  = f.input :number
  = f.input :nature
  = f.input :read_at
  = f.referenced_association :plant_density_abacus_item, source: {plant_density_abacus_id: f.object.plant_density_abacus }
  = f.input :comment, as: :text

  = f.referenced_association :plant, as: :hidden
  = f.referenced_association :plant_density_abacus, as: :hidden

  = field_set f.object.class.human_attribute_name(:items) do
    %table
      %thead
        %th= PlantCountingItem.model_name.human
        %th= PlantCountingItem.human_attribute_name(:value)
      %tbody.numbering-root#items-anchor
        = f.simple_fields_for :items, f.object.items do |item|
          = render 'item_fields', f: item
      %tfoot
        %tr
          %td{colspan: 3}= link_to_add_association :add_item.tl, f, :items, partial: 'item_fields', 'data-association-insertion-node' => '#items-anchor', 'data-association-insertion-method' => :append, class: 'btn primary'