- main_toolbar do |t|
  = t.edit resource
  = t.destroy

= main_informations do
  = attributes_list do |l|
    - l.attribute :number
    - l.attribute :read_at
    - l.attribute :sampling_area
    - l.attribute :plant_net_surface_area
    - l.attribute :plant, url: true

= cobbles do |c|
  - c.cobble :general_informations do
    = infos do
      .med-info
        %span.title= PlantDensityAbacusItem.human_attribute_name :seeding_density_value
        %span.value= resource.seeding_density_value
      .med-info
        %span.title= PlantCounting.human_attribute_name :nature
        %span.value= resource.nature.tl
      .med-info
        %span.title= PlantDensityAbacus.human_attribute_name :germination_percentage
        %span.value= resource.germination_percentage

  - c.cobble :observations do
    = infos do
      .med-info= resource.comment

  - c.cobble :totals do
    = infos do
      .big-info
        %span.title= PlantCounting.human_attribute_name :status
        %span.value= lights(resource.status)

      - if resource.density_computable?
        .med-info
          %span.title= PlantDensityAbacusItem.human_attribute_name :seeding_density_value
          %span.value= resource.expected_seeding_density.in(resource.seeding_density_unit).round(2).l(precision: 2)

        .med-info
          %span.title= PlantCounting.human_attribute_name :seeding_density_value
          %span.value= resource.measured_seeding_density.in(resource.seeding_density_unit).round(2).l(precision: 2)

      .med-info
        %span.title= PlantDensityAbacus.human_attribute_name :plants_count
        %span.value= resource.plant_density_abacus_item.plants_count

      .med-info
        %span.title= PlantCounting.human_attribute_name :plants_count
        %span.value= resource.average_value

  - c.cobble :data do
    %p= "Détail des comptages et moyennes obtenues."