= main_toolbar do |t|
  - t.edit @land_parcel_group

= beehive do |b|
  - b.cell :general do
    .picture= @land_parcel_group.shape_svg
    .info
      %span.title= LandParcelGroup.human_attribute_name(:name)
      %span.value= @land_parcel_group.name
    .info
      %span.title= LandParcelGroup.human_attribute_name(:net_surface_area)
      %span.value= @land_parcel_group.net_surface_area.in(:hectare).round(2).l
      