- main_toolbar do |t|
  - t.edit resource

= cobbles do |c|
  - c.cobble :general_informations do
    = mini_map(resource)
    .info
      %span.title= LandParcelGroup.human_attribute_name(:name)
      %span.value= resource.name
    .info
      %span.title= LandParcelGroup.human_attribute_name(:net_surface_area)
      %span.value= resource.net_surface_area.in(:hectare).round(2).l

