= field_set do
  = f.input :name
  = f.input :url
  = f.input :attribution
  = f.input :min_zoom
  = f.input :max_zoom
  = f.input :opacity
  = f.input :subdomains
  = f.input :tms
  = f.input :type, collection: [[MapBackground.model_name.human, MapBackground.model_name.name], [MapOverlay.model_name.human, MapOverlay.model_name.name]], as: :radio_buttons
  = f.input :enabled
  = f.input :by_default
