-# TODO Manage permutations in forms ?
= field_set do
  = f.referenced_association :entity, :permute_with => :linked
  = f.input :nature
  = f.input :post
  = f.input :main
  = f.referenced_association :linked, :permute_with => :entity
  = f.custom_fields
