-# TODO Manage permutations in forms ?
= field_set do
  = f.referenced_association :entity_1, :permute_with => :entity_2
  = f.input :nature
  = f.referenced_association :entity_2, :permute_with => :entity_1
  = f.custom_fields
