= field_set do
  = f.input :sampled_at
  = f.referenced_association :activity
  = f.referenced_association :product, source: :plants
  = f.input :implanter_application_width
  = f.input :implanter_rows_number
  = f.input :sampling_distance
  = f.input :comment, as: :text