= field_set do
  = f.input :number
  = f.input :sampled_at
  = f.referenced_association :activity
  = f.referenced_association :product
  = f.input :implanter_rows_number
  = f.input :implanter_working_width
  = f.input :comment, as: :text