- main_toolbar do |t|
  = t.edit resource
  = t.destroy

= cobbles do |c|
  - c.cobble :details do
    = attributes_list do |l|
      - l.attribute :number
      - l.attribute :sampled_at
      - l.attribute :implanter_rows_number
      - l.attribute :implanter_working_width
      - l.attribute :product, url: true
      - l.attribute :activity, url: true
      - l.attribute :comment

  - if resource.product_stock_in_ground
    - c.cobble :gradings do
      = infos do
        .med-info
          %span.title= Product.human_attribute_name(:product_stock_in_ground)
          %span.value
            %i.picto{class: "picto-grain"}
            = resource.product_stock_in_ground.round(3).l
        .med-info
          %span.title= Product.human_attribute_name(:product_stock_in_ground)
          %span.value
            %i.picto{class: "picto-grain"}
            = resource.product_stock_in_ground(unit = :unity).to_d.to_i

  :ruby
    data = resource.items.of_nature(:calibre).map do |item|
      y = item.items_count.to_s.to_f
      { name: item.activity_grading_check.name, y: y }
    end

  - if data.any?
    - c.cobble :charts do
      = pie_highcharts([{type: 'pie', name: resource.number, data: data}], legend: true)

  - c.cobble(:items) do
    = cobble_toolbar do |t|
      = t.new(params: {controller: :product_grading_checks, product_grading_id: resource.id})
    = cobble_list(:items)
