= f.object.errors.inspect
= field_set do
  = f.input :name
  = f.input :active
  = f.input :frequency
  = f.input :external
  = f.input :nature
  = f.input :reference_name
  = f.input :reference_source
  = f.custom_fields
