= field_set do
  = f.input :name
  = f.input :description, as: :text
  = f.custom_fields

= field_set(:depreciation) do
  = f.money :depreciable_amount
  = f.input :depreciation_method, as: :radio_buttons
  = f.input :started_on

= field_set(:simplified_linear_options) do
  = f.input :depreciation_percentage

= field_set(:linear_options) do
  = f.input :stopped_on

= field_set(:accountancy) do
  = f.referenced_association :journal
  = f.referenced_association :allocation_account, :source => :assets_depreciations
  = f.referenced_association :expenses_account, :source => :asset_depreciations_inputations_expenses
