- main_toolbar do |t|
  = t.edit(resource)

= main_informations attachment: true do
  = attributes_list do |l|
    - l.attribute :name
    - l.attribute :depreciation_method
    - l.attribute :depreciable_amount, currency: true
    -# l.attribute :depreciated_amount, currency: true
    - l.attribute :depreciation_percentage
    - l.attribute :started_on
    - l.attribute :stopped_on
    - l.attribute :description

  - if resource.purchase_item
    .info
      %span.title= :purchase.tl
      %span.value= link_to(resource.purchase_item.purchase.number, {controller: :purchases, action: :show, id: resource.purchase_item.purchase.id})
      
  - if resource.purchase_item && resource.purchase_item.journal_entry
    .info
      %span.title= :journal_entry.tl
      %span.value= link_to(resource.purchase_item.journal_entry.number, {controller: :journal_entries, action: :show, id: resource.purchase_item.journal_entry.id})

  
= cobbles do |c|

  - c.cobble(:depreciations) do
    = cobble_list(:depreciations)

  - c.cobble(:products) do
    = cobble_list(:products)
