= main_toolbar do |t|
  = t.edit resource

= cobbles do |c|
  - c.cobble :general_informations do
    = infos do
      .med-info
        %span.title= CapLandParcel.human_attribute_name(:land_parcel_number)
        %span.value= resource.land_parcel_number
      .med-info
        %span.title= Campaign.human_attribute_name(:name)
        %span.value= resource.cap_islet.cap_statement.campaign.name
      .med-info
        %span.title= CultivableZone.human_attribute_name(:net_surface_area)
        %span.value= resource.net_surface_area.in(:hectare).l
  - c.cobble :resource_map, title: :map.tl do
    = visualization do |v|
      - v.background "OpenStreetMap.HOT"
      - v.background "OpenStreetMap.Mapnik"
      - v.background "Thunderforest.Landscape"
      - v.background "Esri.WorldImagery"
      - v.serie resource.id, [{name: resource.land_parcel_number, shape: resource.shape}]
      - options = {fill_opacity: 0}
      - options[:fill_opacity] = 0.9
      - options[:fill_color] = cycle(theme_colors)
      - v.simple resource.land_parcel_number, resource.id, options
      - v.control :zoom
      - v.control :scale
      - v.control :fullscreen
      - v.control :layer_selector
