- item ||= f.object
%tbody.nested-fields{ data: { trade_item: "purchasing" } }
  %tr
    %td.annotable
      = f.referenced_association(:tax, wrapper: :nested, source: {scope: :current}, input_html: {})
    %td= f.input(:deductible_vat_amount, wrapper: :nested, input_html: {data: {trade_component: "deductible_vat_amount"}})
    %td= f.input(:collected_vat_amount, wrapper: :nested, input_html: {data: {trade_component: "collected_vat_amount"}})
    %td.currency= f.object.vat_declaration_currency
    %td.action= link_to_remove_association(content_tag(:i) + h(:destroy.ta), f, 'data-no-turbolink' => true, class: 'remove-item')
