= main_toolbar do |t|
  - t.edit @cultivable_land_parcel

= beehive do |b|
  - b.tabbox do
    - b.cell :general do
      .picture
        = @cultivable_land_parcel.shape_svg(:width => 180, :height => 180, :class => :map)
      .info
        %span.title= CultivableLandParcel.human_attribute_name(:net_surface_area)
        %span.value= @cultivable_land_parcel.net_surface_area.convert(:hectare).round(2)

    - b.cell do
      = attributes_list(@cultivable_land_parcel) do |l|
        - l.attribute :name

  - b.tabbox do
    - b.cell(:contained_products) do
      = list(:contained_products)
    - b.cell(:productions) do
      = list(:productions)
    - b.cell(:markers) do
      = list(:markers)
    - b.cell(:interventions) do
      = list(:intervention_casts)
