= f.object.errors.inspect
= field_set do
  = f.referenced_association :payer
  = f.referenced_association :mode
  = f.input :amount
  = f.input :to_bank_on
  = f.input :received

= field_set(:depositable_options) do
  = f.referenced_association :responsible, :source => :employees
  = f.input :paid_on
  = f.input :bank_check_number
  = f.input :bank_account_number
  = f.input :bank_name
