-line = row_form||{}
-direction = (params[:direction]||line[:direction]||"in").to_sym
-id='e'+Time.now.to_i.to_s(36)+rand.to_s[2..-1].to_i.to_s(36)[0..3]
-product = line[:product_id].blank? ?  nil : Product.find_by_id(line[:product_id])
-if line.respond_to? :errors
  -if line.errors.size > 0
    %tr{:id=>id+'-errors'}
      %td{:colspan=>6, :style=>"background: transparent; padding:8px 4px 0; border-left:none; border-right:none;"}=error_messages 'operation_line', :object=>line
%tr{:id=>id, :class=>(direction==:in ? 'odd' : 'even')}
  %td
    %strong{:title=>h(line.inspect)}=::I18n.t("models.operation_line.direction_label."+direction.to_s)
    =hidden_field_tag("lines[#{id}][direction]", direction)
  %td=combo_box_tag("lines[#{id}][product_id]", :operation_products, {:value=>product, :controller=>:interfacers, :no_resize=>true}, "data-dependents"=>"#lines_#{id}_unit_id, #lines_#{id}_tracking_id", "data-parameter-name"=>"product_id")
  %td
    %nobr
      =text_field_tag("lines[#{id}][quantity]", line[:quantity], :size=>8)
      =select_tag("lines[#{id}][unit_id]", (product ? options_for_select(product.units.collect{|x| [x.name, x.id]}, line[:unit_id].to_i) : nil), :id=>"lines_#{id}_unit_id", "data-refresh"=>url_for(:controller=>:interfacers, :action=>:product_units), "data-refresh-mode"=>"update")
  %td
    -if direction==:in
      =select_tag("lines[#{id}][tracking_id]", (product ? options_for_select([[]]+product.trackings.collect{|x| [x.name, x.id]}, line[:tracking_id].to_i) : nil), :id=>"lines_#{id}_tracking_id", "data-refresh"=>url_for(:controller=>:interfacers, :action=>:product_trackings), "data-refresh-mode"=>"update")
    -else
      =text_field_tag("lines[#{id}][tracking_serial]", line[:tracking_serial], :size=>12)
  %td=select_tag("lines[#{id}][warehouse_id]", options_for_select(Warehouse.collect{|x| [x.name, x.id]}, line[:warehouse_id].to_i))
  %td.act=link_to(image_tag(theme_button("delete"), :border=>0), "#", "data-remove"=>"##{id}, ##{id}-errors")
