= main_toolbar do |t|
  - t.edit @production_support

= beehive do |b|
  - b.cell do
    = attributes_list do |l|
      - l.attribute :name
      - l.attribute :storage, url: true
      - l.attribute :production, url: true
      - l.attribute :started_at
      - l.attribute :stopped_at
      - l.attribute :irrigated

  - b.hbox do
    - b.cell(:interventions) do
      = toolbar do |t|
        - t.new(:params =>{:controller => :interventions, :production_support_id => @production_support.id})
      = list(:interventions)
    - b.cell(:markers) do
      = toolbar do |t|
        - t.new(:params =>{:controller => :production_support_markers, :support_id => @production_support.id})
      = list(:markers)