= infos do
  = product_info(:work_number, important: true)
  = product_info(:net_surface_area, important: true) do |population|
    = resource.net_surface_area.round(3).l

  .med-info.important
    %span.title= :working_area.tl
    %span.value
      = resource.decorate.human_working_zone_area(current_campaign)

  = product_info(:variety, important: true, nomenclature: true)
  = product_info(:born_at, important: true)
  - if resource.dead_at
    = product_info(:dead_at, important: true)
  - if resource.born_at && resource.age >= 1.day
    = product_info(:age) do |age|
      %i.picto{class: "picto-clock-o"}
      = human_age(resource.born_at, display: 2)
  -# stock = resource.inspections.reorder(:sampled_at).last.product_stock_in_ground
  -# if resource.inspections.any? && stock
    .med-info
      %span.title= Product.human_attribute_name(:product_stock_in_ground)
      %span.value
        %i.picto{class: "picto-grain"}
        = stock.round(3).l
    - if resource.population && resource.population.to_d != 0.0
      .med-info
        %span.title= Product.human_attribute_name(:provisionnal_yield)
        %span.value
          %i.picto{class: "picto-grain"}
          - unit = stock.unit + "_per_" + resource.net_surface_area.unit
          = (stock.to_d / resource.population).in(unit).round(3).l
  = product_info(:status, important: true) do |status|
    = lights(status, title: resource.human_status)
  = product_info :description
  = product_info :container do |container|
    %i.picto{class: "zone"}
    = link_to(container.work_name, {controller: container.type.tableize, action: :show, id: container.id})
  - if resource.customized?
    = attributes_list(stamps: false)
