= infos do
  .med-info.important
    %span.title= :vine_area.tl
    %span.value
      = resource.net_surface_area.round(3).l precision: 3
  - if !resource.specie_variety.blank? && resource.specie_variety_name
    .med-info
      %span.title= :specie_variety_name.tl
      %span.value
        = resource.specie_variety_name
  .med-info.important
    %span.title= :vine_rows_interval.tl
    %span.value
      %i.picto{class: "picto-arrows-h"}
      - item = resource.reading(:rows_interval, {at: last_time_of_year})
      - if item.present?
        = link_to(item.value.convert(:centimeter).round_l, {controller: :product_readings, action: :edit, id: item.id, redirect: request.fullpath})
      - else
        = link_to('--', {controller: :product_readings, action: :new, product_id: resource.id, indicator_name: :rows_interval, read_at: Time.now, redirect: request.fullpath})
  .med-info.important
    %span.title= :vine_plants_interval.tl
    %span.value
      %i.picto{class: "picto-arrows-v"}
      - item = resource.reading(:plants_interval, {at: last_time_of_year})
      - if item.present?
        = link_to(item.value.convert(:centimeter).round_l, {controller: :product_readings, action: :edit, id: item.id, redirect: request.fullpath})
      - else
        = link_to('--', {controller: :product_readings, action: :new, product_id: resource.id, indicator_name: :plants_interval, read_at: Time.now, redirect: request.fullpath})
  .med-info.important
    %span.title= :planting_campaign.tl
    %span.value
      = resource.born_at.year
  - if resource.dead_at
    .med-info.important
      %span.title= :grubbing_year.tl
      %span.value
        = resource.dead_at.year
  - if resource.born_at && resource.age >= 1.day
    = product_info(:age) do
      %i.picto{class: "picto-clock-o"}
      = human_age(resource.born_at, display: 1)
  .med-info.important
    %span.title= :vine_certification.tl
    %span.value
      - item = resource.reading(:certification_label, {at: last_time_of_year})
      - if item.present?
        = link_to(item.value, {controller: :product_readings, action: :edit, id: item.id, redirect: request.fullpath})
      - else
        = link_to('--', {controller: :product_readings, action: :new, product_id: resource.id, indicator_name: :certification_label, read_at: Time.now, redirect: request.fullpath})
  .med-info.important
    %span.title= :vine_density.tl
    %span.value= resource.vine_density(at: last_time_of_year)&.l
  = product_info :description
  = product_info :container do |container|
    %i.picto{class: "zone"}
    = link_to(container.work_name, {controller: container.type.tableize, action: :show, id: container.id})
  - if resource.customized?
    = attributes_list(stamps: false)
