- main_period_selector(:year)
= kujaku do |k|
  - k.text
  - k.helper do
    %label= Plant.human_attribute_name(:variety)
    = select_tag(:variety, options_for_select([[]] + Plant.uniq_variety, params[:variety]))
  - k.helper do
    = plant_period_crit(label: Plant.human_attribute_name(:born_at), name: :born_at)
  - k.helper do
    = plant_period_crit(label: Plant.human_attribute_name(:dead_at), name: :dead_at)
  - k.helper do
    %label= Plant.human_attribute_name(:net_surface_area)
    %input{ id: 'slider', 'data-slider-min': 10, 'data-slider-max': 50, 'data-provide': 'slider', 'data-slider-value': [20, 30] }

= janus do |j|
  - if current_campaign && Plant.of_campaign(current_campaign).any?
    - j.face :map do
      = plants_map main: true

  - j.face :list do
    = main_list
