= kujaku do |k|
  - k.text
  - k.helper do
    %label= Plant.human_attribute_name(:variety)
    = select_tag(:variety, options_for_select([[]] + Plant.uniq_variety, params[:variety]))
  - if Plant.where.not(born_at: nil).any?
    - k.helper do
      = plant_period_crit(label: Plant.human_attribute_name(:born_at), name: :born_at)
  - if Plant.where.not(dead_at: nil).any?
    - k.helper do
      = plant_period_crit(label: Plant.human_attribute_name(:dead_at), name: :dead_at)
  - k.helper do
    %label= Plant.human_attribute_name(:net_surface_area)
    %b#right-slider= '0' + ' ' + Nomen::Unit['hectare'].symbol
    %input{ name: :area, 'data-slider-min': 0, 'data-slider-max': plants_max_area, 'data-provide': 'slider', 'data-slider-value': data_slider_value, 'data-slider-step': 0.1, 'data-slider-tooltip-split': true }
    %b#left-slider= plants_max_area.to_s + ' ' + Nomen::Unit['hectare'].symbol

= janus do |j|
  - if current_campaign && Plant.of_campaign(current_campaign).any?
    - j.face :map do
      = plants_map main: true

  - j.face :list do
    = main_list
