- main_period_selector(:year)
= kujaku do |k|
  - k.text
  - k.helper do
    %label= Plant.human_attribute_name(:variety)
    = select_tag(:variety, options_for_select([[]] + Plant.uniq_variety, params[:variety]))
  - k.helper do
    = plant_period_crit(label: Plant.human_attribute_name(:born_at), name: :born_at)
  - k.helper do
    = plant_period_crit(label: Plant.human_attribute_name(:dead_at), name: :dead_at)
  - k.helper do
    %label= Plant.human_attribute_name(:net_surface_area)
    %b#right-slider 0
    - max_area = Plant.pluck("ST_Area(ST_Transform(ST_GeomFromEWKB(initial_shape),2154))").max
    - magnitude = 1 ** (max_area.to_i.to_s.length - 2)
    - rounded = (max_area.to_i / magnitude + 1) * magnitude / 10_000
    %input{ name: :area, 'data-slider-min': 0, 'data-slider-max': rounded, 'data-provide': 'slider', 'data-slider-value': params[:area].present? ? params[:area].split(',').map { |v| v.to_i } : [0, rounded] }
    %b#left-slider= rounded

= janus do |j|
  - if current_campaign && Plant.of_campaign(current_campaign).any?
    - j.face :map do
      = plants_map main: true

  - j.face :list do
    = main_list
