- main_toolbar do |t|
  - t.edit resource
  - t.destroy(resource, method: :delete, "data-confirm" => :are_you_sure_you_want_to_delete.tl)

= beehive do |b|
  - b.cell :details do
    - if resource.picture.exists?
      .picture= image_tag(resource.picture.url(:identity))
    - else
      = mini_map(resource)
    .info
      %span.title= Plant.human_attribute_name(:net_surface_area)
      %span.value= resource.net_surface_area.in_hectare.round(2).l
    = attributes_list do |l| # liste des champs à afficher
      - l.attribute :name
      - l.attribute :born_at
      - l.attribute :variety
      - #- l.attribute :group, url: true # on affiche l'attribut name de l'entité ProductGroup associé par l'attribut group de l'entité courante Product avec un lien vers ce groupe
      - l.attribute :description

  - b.hbox do
    - b.cell(:intervention_casts) do
      = list(:intervention_casts)
    - b.cell(:issues) do
      = toolbar do |t|
        - t.new(params: {controller: :issues, target_id: resource.id, target_type: resource.class.name})
      = list(:issues)
    - b.cell(tl(:x_readings, count: resource.readings.count)) do
      = list(:readings)
    - b.cell(:reading_tasks) do
      = list(:reading_tasks)
    - b.cell(:places) do
      = list(:places)

