- main_toolbar do |t|
  = t.edit resource
  -# t.destroy
  -#= t.new(params: {controller: :issues, target_id: resource.id, target_type: resource.class.name}, tool: 'new-issue')
  -#= t.new(params: {controller: :product_gradings, product_id: resource.id}, tool: 'eyedropper')

= main_informations attachment: true do
  = render 'picture'
  = infos do
    = resource_info(:work_number, important: true)
    = resource_info(:population, important: true) do |population|
      = resource.population.round(3).l + " " + resource.unit_name
    = resource_info(:variety, important: true, nomenclature: true)
    = resource_info(:born_at, important: true)
    - if resource.born_at && resource.age >= 1.day
      = resource_info(:age) do |age|
        %i.picto{class: "picto-clock-o"}
        = human_age(age, display: 2)
    - if resource.gradings.any?
      .med-info
        %span.title= Product.human_attribute_name(:product_stock_in_ground)
        %span.value
          %i.picto{class: "picto-grain"}
          = resource.gradings.reorder(:sampled_at).last.product_stock_in_ground.round(3).l
    = resource_info(:status, important: true) do |status|
      = lights(status)
    = resource_info :description
    = resource_info :container do |container|
      %i.picto{class: "zone"}
      = link_to(container.work_name, {controller: container.type.tableize, action: :show, id: container.id})
    - if resource.customized?
      = attributes_list(stamps: false)

= cobbles do |c|

  - if resource.intervention_product_parameters.any?
    - c.cobble(:intervention_product_parameters, title: :x_interventions.tl(count: resource.interventions.count)) do
      = cobble_list(:intervention_product_parameters)

  - c.cobble(:issues, title: :x_issues.tl(count: resource.issues.count)) do
    = cobble_toolbar do |t|
      = t.new(params: {controller: :issues, target_id: resource.id, target_type: resource.class.name})
    = cobble_list(:issues)

  - c.cobble(:gradings, title: :x_gradings.tl(count: resource.gradings.count)) do
    = cobble_toolbar do |t|
      = t.new(params: {controller: :product_gradings, product_id: resource.id})
    = cobble_list(:gradings)
