.affair.active-list
  %table.list.deals
    %thead
      %tr
        %th.act
          %i.icon.icon-remove
        %th= Gap.human_attribute_name(:done_at)
        %th= Gap.human_attribute_name(:deal_type)
        %th= Gap.human_attribute_name(:third)
        %th= Gap.human_attribute_name(:reference)
        %th= Gap.human_attribute_name(:amount)
    %tfoot
      %tr
        %td{colspan: 4}
          - if affair && affair.gaps.none?
            - unless affair.closed?
              %span.action-intro= :attach_deal.tl
            %span.btn-group<
              - third_id = (affair.deals.first ? affair.deals.first.deal_third.id : nil)
              - for type in (Affair.affairable_types - %w(Gap))
                - model = type.underscore
                = link_to({action: :select, controller: :affairs, id: affair.id, :deal_type => model, :third_id => third_id, redirect: request.fullpath}, class: "btn btn-link") do
                  %i
                  = Ekylibre::Record.human_name(model)
        %td.total
          - if affair
            - if affair.closed?
              = :balance.tl
            - else
              - unless affair.balance.zero?
                %span.btn-group<
                  = link_to({controller: :affairs, action: :finish, id: affair.id, redirect: request.fullpath}, method: :post, class: "btn btn-check primary") do
                    %i
                    = "convert_balance_into_#{affair.losing? ? :loss : :profit}".tl
        - if affair
          %td.total.amount.sum{class: (affair.balance == 0 ? "debit" : "credit")}= affair.balance.l(currency: affair.currency)
        - else
          %td.total.amount.sum
    - if affair
      %tbody
        - for deal in affair.deals.sort{|a,b| a.dealt_at <=> b.dealt_at and a.created_at <=> b.created_at }
          %tr
            %td.act
              - if !current_deal or (deal != current_deal and deal.detachable?)
                - if affair.gaps.none?
                  = link_to({action: :detach, controller: :affairs, id: deal.affair_id, :deal_type => deal.class.name.underscore, :deal_id => deal.id, redirect: request.fullpath}, method: :delete, data: {confirm: :are_you_sure.tl}, class: "remove") do
                    %i
                    = :destroy.tl
                - if deal.is_a? Gap
                  = link_to({action: :detach_gaps, controller: :affairs, id: deal.affair_id, redirect: request.fullpath}, method: :delete, data: {confirm: :are_you_sure.tl}, class: "remove") do
                    %i
                    = :destroy.tl
            %td.dat.dealt-on= deal.dealt_at.l
            %td.type= deal.class.model_name.human
            %td.third= link_to(deal.deal_third.full_name, send("backend_#{deal.deal_third.class.name.underscore}_path", deal.deal_third))
            %td.name= link_to(deal.label, controller: "/backend/"+deal.class.table_name, action: :show, id: deal.id)
            %td.amount{class: (deal.deal_debit? ? "debit" : "credit")}
              - amount = deal.deal_amount
              - amount *= -1 if deal.deal_credit?
              -# unless deal.deal_amount.zero?
                %span.sign= deal.deal_debit? ? "+" : "-"
              %span.value= amount.l(currency: deal.currency)
