.affair.active-list
  %table.list.deals
    %thead
      %tr
        %th= Gap.human_attribute_name(:done_at)
        %th= Gap.human_attribute_name(:deal_type)
        %th= Gap.human_attribute_name(:third)
        %th= Gap.human_attribute_name(:reference)
        %th= Gap.human_attribute_name(:amount)
        %th.act
    %tfoot
      %tr
        %td{:colspan => 3}
          - unless affair.closed?
            %strong.action-intro= :attach_deal.tl
            - third_id = (affair.deals.first ? affair.deals.first.deal_third.id : nil)

            %span.btn-group<
              - for model in (Affair::AFFAIRABLE_MODELS - %w(gap transfer))
                = link_to({action: :select, controller: :affairs, id: affair.id, :deal_type => model, :third_id => third_id, :redirect => request.path}, class: "btn btn-link") do
                  %i
                  = "activerecord.models.#{model}".t
        %td.total
          - if affair.closed?
            = :balance.tl
          - else
            - unless affair.balance.zero?
              %span.btn-group<
                = link_to({controller: :affairs, action: :finish, id: affair.id, redirect: request.path}, method: :post, class: "btn btn-check primary") do
                  %i
                  = "convert_balance_into_#{affair.losing? ? :loss : :profit}".tl
        %td.total.amount.sum{class: (affair.balance == 0 ? "debit" : "credit")}= affair.balance.l(currency: affair.currency)
        %td.act
    %tbody
      - for deal in affair.deals.sort{|a,b| a.dealt_at <=> b.dealt_at and a.created_at <=> b.created_at }
        %tr
          %td.dat.dealt-on= deal.dealt_at.l
          %td.type= deal.class.model_name.human
          %td.third= link_to(deal.deal_third.full_name, send("backend_#{deal.deal_third.class.name.underscore}_path", deal.deal_third))
          %td.name= link_to(deal.label, controller: "/backend/"+deal.class.table_name, action: :show, id: deal.id)
          %td.amount{class: (deal.deal_debit? ? "debit" : "credit")}
            - amount = deal.deal_amount
            - amount *= -1 if deal.deal_credit?
            -# unless deal.deal_amount.zero?
              %span.sign= deal.deal_debit? ? "+" : "-"
            %span.value= amount.l(currency: deal.currency)
          %td.act
            - if deal != current_deal and deal.detachable?
              = link_to({action: :detach, controller: :affairs, :deal_type => deal.class.name.underscore, :deal_id => deal.id, :redirect => request.url}, method: :delete, data: {confirm: :are_you_sure.tl}, class: "remove") do
                %i
                = :destroy.tl
