= field_set do
  = f.input :name
  = f.referenced_association :affair, new: false, source: { controller: :sale_opportunities }
  = f.input :nature, collection: Nomen::EventNature.selection
  = f.input :place, autocomplete: true
  = f.input :restricted
  -# TODO Manages refresh_depending_at
  = f.input :started_at
  = f.input :stopped_at
  -# = f.input :duration, :refresh_depending_at => :nature
  = f.input :description
  = f.custom_fields

= field_set(:participants) do
  = f.nested_association(:participations)
