- main_toolbar do |t|
  = t.edit resource
  = t.destroy

= main_informations attachment: true do
  = attributes_list(resource) do |l|
    - l.attribute :name
    - l.attribute :description
    - l.attribute :started_at
    - l.attribute :nature, url: true
    - l.attribute(:intervention, url: true) if resource.intervention
    - l.attribute(:affair, url: true) if resource.affair

= cobbles do |c|
  - c.cobble :participations do
    - list :participations
