= field_set do
  = f.referenced_association :activity, as: :hidden
  = f.input :nature, as: :radio_buttons, show: '#{{value}}-options'
  #calibre-options
    - activity = f.object.activity
    = f.input :minimal_calibre_value, wrapper: :append do
      = f.input_field :minimal_calibre_value
      %span.add-on= (activity ? activity.human_grading_calibre_unit_name : '#')
    = f.input :maximal_calibre_value, wrapper: :append do
      = f.input_field :maximal_calibre_value
      %span.add-on= (activity ? activity.human_grading_calibre_unit_name : '#')
  #quality-options
    = f.referenced_association :quality_criterion
