- if @intervention
  - if @container.is_a?(CultivableZone)
    = map(@container)
  .info
    %span.title= Intervention.human_attribute_name(:name)
    %span.value= link_to(@intervention.name, controller: "/backend/interventions", action: :show, id: @intervention.to_param)
  .info
    %span.title= Intervention.human_attribute_name(:casting)
    %span.value= @intervention.casting
  - if @intervention.started_at?
    .info
      %span.title= Intervention.human_attribute_name(:started_at)
      %span.value= @intervention.started_at.l
    .info
      %span.title= Intervention.human_attribute_name(:duration)
      %span.value= @intervention.duration.in_second.convert(:hour).round(2).l
    .info
      %span.title= Intervention.human_attribute_name(:state)
      %span.value= @intervention.state.text
    - for type in [:input, :tool, :doer]
      - cost = @intervention.cost(type) || 0.0
      .info
        %span.title= "evaluated_#{type}_cost".tl
        %span.value= cost.round(2).l(currency: Preference[:currency])

- else
  = no_data
