- main_toolbar do |t|
  = t.new params: { redirect: nil }

= janus do |j|
  - if resource_model.any?
    - j.face :map do
      = main_resources_map
  - j.face :list do
    = kujaku do |k|
      - k.text
    = main_list
