= field_set do
  = f.input :name
  = f.input :nature
  = f.input :due_at
  = f.referenced_association :entity
  = f.referenced_association :executor, source: {scope: :responsibles}
  = f.referenced_association :sale_opportunity
  = f.input :state, as: :radio_buttons
  = f.input :description

= f.attachments_field_set

