= main_toolbar do |t|
  - t.edit resource

= main_state_bar(resource)

= main_informations attachment: true do
  = attributes_list(stamps: false) do |l|
    - l.attribute :due_at
    - l.attribute :entity, url: true
    - l.attribute :executor, url: true
    - l.attribute :sale_opportunity, url: true
    - l.attribute :description

= timeline(resource) do |l|
  - l.side :observations, at: :observed_at
  - l.side :versions, new: false
