- main_period_selector(:year)

- if resource.plant_farming? || resource.vine_farming?
  - content_for :main_title do
    = I18n.t(action_name, scope:'actions.backend/activity_productions_of_plant.', name: resource.name)

- main_toolbar do |t|
  = t.edit resource
  = t.destroy show_disabled: true, disabled_tooltip_content: :cannot_delete_this_production.tl

= main_informations attachment: true do
  - if (resource.plant_farming? || resource.vine_farming?)  && (resource.support.is_a?(LandParcel) || resource.support.is_a?(Plant))
    = mini_map(resource, shape_method: :support_shape)
    = infos do
      .med-info.important
        %span.title= LandParcel.human_attribute_name(:net_surface_area)
        %span.value= resource.human_area
      .med-info.important
        %span.title= :working_area.tl
        %span.value= resource.decorate.human_working_zone_area(current_campaign)
      - unless @reentry_possible.possible
        .med-info.delay
          %span.title= :re_entry_delay.tl
          %span.value
            %span= @reentry_possible.next_possible_date.l

      - if resource.season
        .med-info
          %span.title= ActivityProduction.human_attribute_name(:season)
          %span.value= resource.season.name
      - if resource.tactic
        .med-info
          %span.title= ActivityProduction.human_attribute_name(:tactic)
          %span.value= resource.tactic.name
      - estimated_yield = resource.estimate_yield(current_campaign) if ["grain", "seed", "fodder", "fiber"].include?(resource.usage)
      - if estimated_yield
        .med-info
          %span.title= :estimate_yield.tl
          %span.value= estimated_yield.round(1).l(precision: 1)
      - if resource.harvested_at
        - if resource.grains_yield && resource.grains_yield.to_d > 0.0
          .med-info
            %span.title= :grains_yield.tl
            %span.value= resource.grains_yield.round(2).l
        -# if resource.vine_yield && resource.vine_yield.to_d > 0.0
          .med-info
            %span.title= :vine_yield.tl
            %span.value= resource.vine_yield.round(2).l
    = attributes_list stamps: false do |l|
      - l.attribute :activity, url: true
      - l.attribute :support_nature
      - l.attribute :usage
      - l.attribute :irrigated
      - l.attribute :nitrate_fixing
      - l.attribute :cap_land_parcel, url: true, label: :land_parcel_number

  - if resource.animal_farming? && resource.support.is_a?(AnimalGroup)
    = attributes_list stamps: false do |l|
      - l.attribute :activity, url: true
      - l.attribute :support_nature

.activity-production-cobbles
  = cobbles do |c|

    - if (resource.plant_farming? || resource.vine_farming?) && (resource.support.is_a?(LandParcel) || resource.support.is_a?(Plant))
      - c.cobble :weather do
        = cell :weather, params: {centroid: resource.support_shape.centroid}

      - if resource.interventions.any?
        - c.cobble(:production_costs, title: :production_costs.tl) do
          = render partial: 'backend/shared/production_costs', locals: { costs: resource.decorate.production_costs(current_campaign) }
    - else
      = no_data

    - c.cobble(:interventions) do
      = cobble_toolbar do |t|
        = t.new(params: { controller: :interventions, intervention: { product_id: resource&.support&.id }, targets_attributes: [{ product_id: resource&.support&.id, reference_name: "cultivation", working_zone: resource&.support&.shape&.to_geojson }], group_parameters_attributes: [ { reference_name: "zone", targets_attributes: [ { product_id: resource&.support&.id, reference_name: "land_parcel", working_zone: resource&.support&.shape&.to_geojson } ] } ] })
      - if resource.interventions.any?
        = cobble_list(:interventions)

    - if resource.decorate.plants?
      - c.cobble(:plants, title: :crops.tl) do
        = cobble_list(:plants)

  = #render partial: 'backend/shared/distributions', locals: {c: c}
