- reflection = direction.to_s.pluralize
- locals = { direction: direction, currency_symbol: currency_symbol, currency: currency, computation_methods: computation_methods }
= f.simple_fields_for reflection, f.object.send(reflection).order(:id) do |item|
  = render 'item_fields', locals.merge(f: item)
%tr.total{id: "#{reflection}-total-row"}
  %th= link_to_add_association "add_#{direction}".tl, f, reflection, partial: 'item_fields', 'data-association-insertion-node' => "##{reflection}-total-row", 'data-association-insertion-method' => :before, class: "btn primary", render_options: { locals: locals }
  %th{colspan: 4}= reflection.tl
  %td.decimal.left-align.unwrapped
    %span.budget-amount{id: "#{reflection}-amount", data: {use: ".nested-fields .#{direction}-amount", calculate: "sum", calculate_round: currency.precision, format: "budget"}}= (f.object.send(reflection).sum(:amount).zero? ? '0.00' : f.object.send(reflection).sum(:amount))
    %span.currency= currency_symbol
  %td.decimal.left-align.required-support.unwrapped
    %span.budget-amount{id: "#{reflection}-amount-per-working-unit", data: {use: ".nested-fields .#{direction}-amount-per-working-unit", calculate: "sum", calculate_round: currency.precision, format: "budget"}}= '0.00'
    %span.currency= currency_symbol
  %th
