= aclist do |l|
  - l.action :entities_update, :id=>@entity.id

%table
  %tr
    %td
      =evalue @entity, :name
      =evalue @entity, :first_name unless @entity.first_name.blank?
      =evalue @entity, :code
      =evalue @entity, :born_on unless @entity.born_on.blank?
      =evalue @entity, :dead_on unless @entity.dead_on.blank?
      =evalue @entity, :active
      =evalue @entity, :website unless @entity.website.blank?
      =evalue t('activerecord.attributes.entity.country'), image_tag("countries/"+@entity.country+".png")+" "+t("countries."+@entity.country) unless @entity.country.blank?
    -if @entity.client
      %td
        =evalue @entity, :proposer, :label=>:full_name unless @entity.proposer_id.blank?
        =evalue @entity, :vat_number unless @entity.vat_number.blank?
        =evalue @entity, :vat_submissive
        =evalue @entity, :reflation_submissive 
        =evalue @entity, :discount_rate unless @entity.discount_rate.blank?
        =evalue @entity, :reduction_rate unless @entity.reduction_rate.blank?
        =evalue @entity, :payments_number unless @entity.payments_number.blank?
        =#evalue @entity, :deliveries_conditions unless @entity.deliveries_conditions.blank?
    %td
      -for datum in @entity.complement_data.find(:all, :joins=>"JOIN complements ON (complements.id=complement_id)", :order=>"position")
        =evalue datum.complement.name, datum.value.to_s

%h2=tc :contacts, :count=>@contacts.size
=dyta :contacts
-if @entity.client
  %h2=tc :sale_orders_number , :count=>@sale_orders_number
-if @sale_orders.size > 0 and @entity.client
  %table.dyta
    %tr
      %th= tc 'number'
      %th= tc 'nature'
      %th= tc 'client'
      %th= tc 'amount'
      %th= tc 'amount_with_taxes'
      %th= tc 'confirmed_on'
      %th= tc 'state'
    -for sale_order in @sale_orders
      %tr
        %td= link_to sale_order.number, :controller=>:management, :action=>:sales_details, :id=>sale_order.id
        %td= sale_order.nature.name
        %td= sale_order.client.full_name
        %td= sale_order.amount
        %td= sale_order.amount_with_taxes
        %td= sale_order.confirmed_on
        %td= sale_order.text_state


