-form_tag({:id=>@step}, :multipart=>true, :style=>'overflow:none', :flex=>1, :orient=>:vertical) do
  .fields{:flex=>10, :orient=>:horizontal, :style=>'overflow:none'}
    .form-column{:flex=>2}
      -params[:columns] ||= {}
      %p.hint=tc(:select_columns)
      %table.formalize
        -for klass in [Entity, Contact, EntityNature, EntityCategory]
          %tr.title
            %th=klass.human_name
          -for c in klass.content_columns.sort{|a,b| a.name<=>b.name}
            -code = klass.name.underscore+'-'+c.name
            %tr.field
              %td
                =hidden_field_tag("columns[#{code}]", 0)
                =check_box_tag("columns[#{code}]", "1", params[:columns][code]||(c.type==:string), :id=>"columns_#{code}")
                =content_tag(:label, klass.human_attribute_name(c.name), :for=>"columns_#{code}")
        %tr.title
          %th=Complement.human_name
        -for c in @current_company.complements
          -code = Complement.name.underscore+'-id'+c.id.to_s
          %tr.field
            %td
              =hidden_field_tag("columns[#{code}]", 0)
              =check_box_tag("columns[#{code}]", "1", params[:columns][code]||(c.type==:string), :id=>"columns_#{code}")
              =content_tag(:label, klass.human_attribute_name(c.name), :for=>"columns_#{code}")
            
      .end
    .form-column{:flex=>7}
      =toolbar do |t|
        -t.javascript(:add_condition)
      #conditions
        
      .end
  .actions
    =submit_tag(tg(:export))
