= field_set do
  = f.referenced_association :responsible, source: :employees
  = f.input :achieved_at
  -# = f.input :description
  -# = render 'items_form'

:ruby
  f.object.build_missing_items
  containers = f.object.items.collect(&:container).uniq

- for container in containers
  = field_set(container ? container.name : :undefined_container) do
    = f.simple_fields_for :items, f.object.items.select{|i| i.container == container} do |nested|
      = nested.association :product, as: :hidden
      = nested.input :expected_population, as: :hidden
      .control-group
        %label.control-label= nested.object.product.name
        .controls
          %span.input-append
            = nested.input_field :population
            %span.add-on= nested.object.unit_name
          %span.help-block= :expected_quantity_is_x.tl x: nested.object.expected_population.l
