= field_set do
  = f.input :name
  = f.referenced_association :financial_year
  = f.referenced_association :responsible #, source: :employees
  = f.input :achieved_at
  = f.custom_fields

:ruby
  f.object.build_missing_items
  containers = Product.where(id: f.object.items.collect(&:container)).order(:name)

- containers.each do |container|
  = field_set(container.name) do
    = render 'items_form', f: f, items: f.object.items.select{|i| i.container == container}.sort{|a,b| a.name <=> b.name}

- undefined = f.object.items.select{|i| i.container.nil? }
- if undefined.any?
  = field_set(:undefined_container) do
    = render 'items_form', f: f, items: undefined.sort{|a,b| a.name <=> b.name}

= f.attachments_field_set
