= render 'backend/shared/financial_year_warning' if Preference.get(:permanent_stock_inventory, true).boolean_value

- main_toolbar do |t|
  = t.export(:stocks, target:"_blank")
  
  - if FinancialYear.any? && Product.any?
    = t.new params: { redirect: nil }
  - else
    = t.new params: { redirect: nil }, disabled: "disabled"

= main_list
