- categories = Nomen::DocumentCategories.to_a.select{|category| Aggeratio.of_category(category).size > 0}
= beehive do |b|
  - while categories.any?
    - b.hbox do
      - for category in categories.slice!(0, 3)
        - b.cell("#{category}_exports".to_sym, title: Nomen::DocumentCategories[category].human_name) do
          - for aggregator in Aggeratio.of_category(category)
            = link_to({action: :show, id: aggregator.id}, class: "btn btn-big btn-#{aggregator.id}", title: aggregator.human_name) do
              %i
              = aggregator.human_name
