- if params[:id] == 'exchange_accountancy_file_fr'
  - fiscal_positions = [[:export_fec_all.tl, 'all'], [:export_fec_ba_bnc_ir_commercial_accountancy.tl, 'ba_bnc_ir_commercial_accountancy'], [:export_fec_ba_ir_cash_accountancy.tl, 'ba_ir_cash_accountancy'], [:export_fec_bnc_ir_cash_accountancy.tl, 'bnc_ir_cash_accountancy']]
  #custom-list
    .toolbar-content
      .main-toolbar.toolbar.custom-main-toolbar
        = form_tag class: 'filter-form' do
          = label_tag :financial_year.tl
          = select_tag :financial_year_id, options_from_collection_for_select(FinancialYear.order(started_on: :desc), :id, :name, current_user.current_financial_year.id)
          = label_tag :type_of_structure.tl
          = select_tag :fiscal_position, options_for_select(fiscal_positions, 'all')

        = button_tag class: 'btn btn-default', id: 'fec-export-submit' do
          <i class='icon icon-download'></i> #{:download.tl}

- else
  = kujaku do |k|
    - @aggregator.class.parameters.each do |parameter|
      = render "parameter", parameter: parameter, k: k

  - main_toolbar do |t|
    = t.export @aggregator.class.aggregator_name, key: :key, resource: @aggregator

  - if current_user.preference(User::PREFERENCE_SHOW_EXPORT_PREVIEW).value
    .aggregator= @aggregator.to_html_fragment
