= field_set do
  = f.input :name
  = f.input :nature, as: :radio_buttons, show: '.{{value}}-nature-options'
  = f.referenced_nomenclature :family, input_html: { data: { activity_family: true }, class: "disabled" }
  = f.referenced_nomenclature :production_system
  - family = Onoma::ActivityFamily[f.object.family]
  - with_cultivation = family.cultivation_variety.present?
  = f.referenced_nomenclature :cultivation_variety, required: with_cultivation,
                                                      input_html: { data: { family_cultivation_variety: family.cultivation_variety }},
                                                      collection: (with_cultivation ? Onoma::Variety.selection(family.cultivation_variety) : []),
                                                      wrapper_html: { style: "display: #{with_cultivation ? 'block' : 'none'}" }
  = f.input :production_cycle, as: :radio_buttons, show: '.{{value}}-production-cycle-options'
  = f.input(:production_cycle_period, label: :production_cycle_period.tl, wrapper: :append) do
    = content_tag(:span, :from.tl, class: 'add-on')
    = f.input(:production_started_on, input_html: { data: { flatpickr_alt_format: 'd-F',flatpickr_calendar_class: 'day-names-hidden year-hidden' }}, wrapper: :simplest)
    = content_tag(:span, :year_long.tl, class: 'add-on')
    = f.input(:production_started_on_year, collection: [["N-1", -1 ],["N", 0]], wrapper: :simplest)
    = content_tag(:span, :to_next_year.tl, class: 'add-on')
    = f.input(:production_stopped_on, input_html: { data: { flatpickr_alt_format: 'd-F', flatpickr_calendar_class: 'day-names-hidden year-hidden' }}, wrapper: :simplest)
    = content_tag(:span, :year_long.tl, class: 'add-on')
    = f.input(:production_stopped_on_year, collection: [["N", 0],["N+1", 1]], input_html: {class: f.object.production_stopped_on_year == 0 ? 'disabled' : ''}, wrapper: :simplest)
  .perennial-production-cycle-options
    = f.input :life_duration, required: true, wrapper: :append do
      = f.input_field :life_duration
      %span.add-on= :year.tl.pluralize
  = f.input :description
  - if AnalyticSegment.where(name: 'activities').exists?
    = f.input :isacompta_analytic_code
  = f.custom_fields
