= main_informations do
  = infos do
    .med-info
      %span.title= :started_at.tl
      %span.value= resource.started_at.l
    - if resource.sleep_duration
      .med-info
        %span.title= :sleep_duration.tl
        %span.value= resource.decorated_sleep_duration
    .med-info
      %span.title= :equipments_name.tl
      %span.value= resource.equipments_name

= cobbles do |c|
  - c.cobble :map do
    = visualization(async_url: backend_visualizations_rides_visualizations_path(ride_id: resource.id), view: {zoom: 16}) do |v|
      - v.control :zoom
      - v.control :scale
      - v.control :fullscreen
      - v.control :layer_selector
      - v.center resource.crumbs.first.geolocation.coordinates.reverse if resource.crumbs.first.present?