= main_toolbar do |t|
  - t.edit resource
  - t.export :manure_management_plan_sheet, key: :id

= main_informations attachment: true do
  = attributes_list do |l|
    - l.attribute :name
    - if resource.custom_fields.any?
      - l.custom_fields

= cobbles do |c|

  - c.cobble :zones do
    = cobble_list :zones
