= field_set do
  = f.input :name
  = f.input :currency
  = f.input :nature, show: '.{{value}}-options', as: :radio_buttons
  .associate_account-options
    = f.referenced_association :owner
  = f.custom_fields

.bank_account-options
  = field_set(:bank_account) do
    = f.input :bank_name
    = f.input :bank_agency_address
    = f.input :mode, show: '#{{value}}', as: :radio_buttons

  = field_set(:iban) do
    = f.input :iban
    = f.input :bank_identifier_code

  = field_set(:bban) do
    = f.input :country
    = f.input :bank_code
    = f.input :bank_agency_code
    = f.input :bank_account_number
    = f.input :bank_account_key

= field_set(:accountancy) do
  = f.referenced_association :account, source: :banks_or_cashes_or_associates
  = f.referenced_association :journal, source: { nature: :banks_or_cashes }

= f.attachments_field_set
