- main_toolbar do |t|
  = t.new params: { redirect: nil }
  = t.import params: { controller: :bank_statements }

= janus do |j|
  - j.face :list do
    = main_list
  - j.face :chart do
    = cell :cashes_balance_evolution
