- main_toolbar do |t|
  - t.edit resource

= beehive do |b|
  - b.hbox do
    - b.cell :general do
      .big-info
        %span.title= resource.human_attribute_name(:balance)
        %span.value= resource.balance.l(currency: Preference[:currency])
    - b.cell do
      = attributes_list do |l|
        - l.attribute :name
        - l.attribute :nature
        - l.attribute :journal, url: true
        - l.attribute :account, url: true
        - if resource.bank_account?
          - l.attribute :bank_name
          - l.attribute :bank_agency_address
          - l.attribute :spaced_iban
          - l.attribute :bank_identifier_code
          - if resource.mode_bban?
            - l.attribute :bank_code
            - l.attribute :bank_agency_code
            - l.attribute :bank_account_number
            - l.attribute :bank_account_key

  - b.hbox do

    - if resource.incoming_payment_modes.depositers.any?
      - b.cell(Cash.human_attribute_name(:deposits)) do
        = list(:deposits)

    - if resource.bank_account?
      - b.cell(Cash.human_attribute_name(:bank_statements)) do
        = toolbar do |t|
          - t.new(params: {controller: :bank_statements, cash_id: resource.id})
        = list(:bank_statements)
