= field_set do
  = f.referenced_association :nature, as: :hidden
  = f.referenced_association :supplier, source: :suppliers, new: { supplier: 1 }
  = f.input :reference_number
  = f.referenced_association :responsible, source: :employees, new: { employed: 1 }
  = f.input :ordered_at
  = f.input :command_mode
  = f.input :estimate_reception_date
  = f.custom_fields
  = f.attachments

= field_set Purchase.human_attribute_name(:items) do
  .items
    %table#items-table
      %thead
        %tr
          %th= :merchandises_services_costs.tl
          %th= PurchaseItem.human_attribute_name(:quantity)
          %th= :unit_amount.tl
          %th= PurchaseItem.human_attribute_name(:tax)
          %th= PurchaseItem.human_attribute_name(:reduction_percentage)
          %th= :vat_rate.tl

      = f.simple_fields_for :items, f.object.items.sort_by { |i| i.id.to_i } do |item|
        = render 'item_fields', f: item

      %tfoot#items-footer
        %tr.total
          %th{colspan: 3}= link_to_add_association :add_merchandise.tl, f, :items, partial: 'item_fields', render_options: { locals: { role: 'merchandise' } }, 'data-association-insertion-node' => '#items-footer', 'data-association-insertion-method' => :before
          %th{colspan: 2}= link_to_add_association :add_service.tl, f, :items, partial: 'item_fields', render_options: { locals: { role: 'service' } }, 'data-association-insertion-node' => '#items-footer', 'data-association-insertion-method' => :before
          %th{colspan: 1}= link_to_add_association :add_fees.tl, f, :items, partial: 'item_fields', render_options: { locals: { role: 'fees' } }, 'data-association-insertion-node' => '#items-footer', 'data-association-insertion-method' => :before
