.modal-body
  .purchase-orders
    .list-headers
      %span.list-header.reception Reception
      %span.list-header Quantité
      %span.list-header Prix unit. HT
      %span.list-header Total HT
    .list-models
      - purchase_orders.each do |purchase_order|
        .model
          = check_box_tag('', '1', false, class: 'model-checkbox', data: { id: purchase_order.id })
          %span.model-ref Réf fournisseur
          %ul.list-items
            - purchase_order.items.each do |purchase_order_item|
              %li.item
                = check_box_tag('', '1', false, class: 'item-checkbox', data: { id: purchase_order_item.id })
                %span.variant= purchase_order_item.variant.name
                %span.item-value.quantity= purchase_order_item.quantity
                %span.item-value.unit-cost= purchase_order_item.unit_pretax_amount
                %span.item-value.total-except-taxes= purchase_order_item.amount

.modal-footer
  .actions
    %button.btn.btn-default.valid-modal Validate