= field_set do
  = f.referenced_association :responsible, source: :contacts
  = f.input :started_at
  = f.input :stopped_at
  = f.input :annotation
  = f.input :mode, as: :radio_buttons
  #transporter
    = f.referenced_association :transporter, source: :necessary_transporters, new: {transporter: 1}
    = f.input :reference_number
  #us
    = f.referenced_association :driver
    = f.nested_association(:tools)
  = f.custom_fields
  - parcels = Parcel.where("id IN (?) OR state != ?", f.object.parcel_ids, :given).order(:created_at)
  - if parcels.any?
    = f.association(:parcels, as: :check_boxes, label_method: :number, collection: parcels)

= f.attachments_field_set

