- main_toolbar do |t|
  = t.export(:outgoing_delivery_docket, key: :number)
  = t.edit resource
  = t.destroy

= main_state_bar(resource)

= main_informations attachment: true do
  = attributes_list do |l|
    - l.attribute :number
    - l.attribute :mode
    - l.attribute :driver, url: true
    - l.attribute :transporter, url: true
    - l.attribute :reference_number
    - l.attribute :started_at
    - l.attribute :stopped_at
    -# l.attribute :net_mass
    - l.attribute :responsible, url: true
    - l.attribute :annotation

= cobbles do |c|
  - c.cobble :receptions do
    = cobble_list :receptions

  - c.cobble :shipments do
    = cobble_list :shipments
