.payment.trigger-container{ data: { outgoing_payment_third: true } }
  .third
    %span.third-details
      = third.full_name
      = t('labels.third_balance', balance: third.balance, supplier_account_balance: third.supplier_accounting_balance)
    %i.trigger

  .invoices-list.triggerable.checkable
    .list-header
      .check
        = check_box_tag :check_all, '1', false
      .invoiced-at
        = :edition_date.tl
      .reference
        = :reference.tl
      .accepted-for-payment
        = :accepted_for_paiment.tl
      .payment-at
        = :due_date.tl
      .amount
        = :amount.tl

    = render partial: 'purchase_affair', collection: @affairs.where(supplier: third), locals: { f: f }

    .list-footer
      .check
      .invoiced-at
      .reference
      .accepted-for-payment
      .payment-at
        = :total.tl
      .amount
        %span{ data: { outgoing_payment_total: true } }= 0.0
        %span= @currency
