.payments-list{ data: { outgoing_payment_third: true, trigger_container: true } }
  .third-header
    %span.third-header__title
      = third.full_name
      = t('labels.third_balance', balance: third.balance, supplier_account_balance: third.supplier_accounting_balance)
    %i.third-header__trigger{ data: { trigger: true } }

  .invoices-list{ data: { checkable: true } }
    %div{ data: { triggerable: true } }
      .invoices-list__header
        .invoices-list__column--width-sm
          = check_box_tag :check_all, '1', false
        .invoices-list__column--width-lg
          = :edition_date.tl
        .invoices-list__column--width-lg
          = :reference.tl
        .invoices-list__column--width-lg
          = :accepted_for_paiment.tl
        .invoices-list__column--width-lg.invoices-list__column--height-lg
          = :due_date.tl
        .invoices-list__column--width-md
          = :amount.tl

      = render partial: 'purchase_affair', collection: @affairs.where(supplier: third), locals: { f: f }

    .invoices-list__footer
      .invoices-list__column--width-sm
      .invoices-list__column--width-lg
      .invoices-list__column--width-lg
      .invoices-list__column--width-lg
      .invoices-list__column--width-lg.invoices-list__column--height-lg.invoices-list__column--font-lg
        = :total.tl
      .invoices-list__column--width-md
        %span.invoices-list__column--font-lg{ data: { outgoing_payment_total: true } }= 0.0
        %span.invoices-list__column--font-lg= @currency
