- main_toolbar do |t|
  = t.destroy resource
  = t.export :outgoing_payment_list, key: Time.zone.now.to_s, resource: @outgoing_payment_list
  = t.export_to_sepa resource if resource.sepa?

= main_informations do
  = attributes_list do |l|
    - l.attribute :number
    - l.attribute :mode
    - l.attribute :payments_count, datatype: :integer
    - l.attribute :payments_sum, label: :total, datatype: :float, currency: true

= cobbles do |c|
  - c.cobble :payments do
    = cobble_list(:payments)
