- main_toolbar do |t|
  = t.destroy resource
  - exports = []
  - exports << :outgoing_payment_list__standard
  - exports << :outgoing_payment_list__check_letter
  = t.export(*exports, key: :number, target:"_blank")
  
  = t.export_to_sepa resource if resource.sepa_exportable?

= main_informations do
  = attributes_list do |l|
    - l.attribute :number
    - l.attribute :mode
    - l.attribute :payments_count, datatype: :integer
    - l.attribute :payments_sum, label: :total, datatype: :float, currency: true

= cobbles do |c|
  - c.cobble :payments do
    = cobble_list(:payments)
