.task{ class: task.options[:class], data: task.options[:data] }

  - if task.can_select?
    .task-select-field
      = check_box_tag(:check_nature, '1', false)

  - if task.colors.any?
    .task-colors
      - task.colors.each do |color|
        .task-color{style: "background-color: #{color};"}

  - if task.titles.any?
    .task-texts
      - task.titles.each do |title|
        = content_tag(:span, title[:text], :class => "task-text #{title[:class]}")
        = content_tag(:i, nil, :class => "picto picto-#{title[:icon]} #{title[:icon_class]}") unless title[:icon].nil?

  - if task.datas.any?
    - parameters_data = task.datas.select{ |d| d[:category] == 'parameters' }
    - indicators_data = task.datas.select{ |d| d[:category] == 'indicators' }
    = content_tag(:div, nil, :class => "task-datas") do
      - parameters_data.each do |data|
        = display_task_data data

      = content_tag(:div, nil, :class => "task-indicators") do
        - indicators_data.sort_by!{ |d| d[:position_number] }
        - indicators_data.each do |data|
          = display_task_data data

  - if task.actions.any?
    .task-actions
      - task.actions.each do |action|
        = action
