= field_set do
  = f.referenced_association :nature
  = f.input :name
  = f.input :active
  = f.picture
  = f.custom_fields

= field_set(:indicators) do
  = f.nested_association(:readings, new: false)
