= kujaku do |k|
  - k.text
  - k.choice :all, :active, :inactive
  - k.list :working_set, label: :options.tl, list_values: Onoma::WorkingSet.selection
  - categories = ProductNatureCategory.all
  - if categories.any?
    - k.helper do
      %div.label-container
        %label= ProductNatureVariant.human_attribute_name(:category)
      = select_tag(:category_id, options_for_select([[]] + categories.order(:name).collect{|u| [u.name, u.id]}, params[:category_id]))
  - natures = ProductNature.all
  - if natures.any?
    - k.helper do
      %div.label-container
        %label= ProductNatureVariant.human_attribute_name(:nature)
      = select_tag(:nature_id, options_for_select([[]] + natures.order(:name).collect{|u| [u.name, u.id]}, params[:nature_id]))
  - providers = ProductNatureVariant.providers_vendors
  - if providers.any?
    - k.helper do
      %div.label-container
        %label= ProductNatureVariant.human_attribute_name(:providers)
      = select_tag(:provider, options_for_select([[]] + providers.map(&:capitalize), params[:provider].to_s))

- main_toolbar do
  = dropdown_menu_button(:articles.tl, main_class: 'btn-pill') do |d|
    - %w[farm_product fertilizer plant_medicine seed_and_plant].each do |sub_nature|
      - d.item sub_nature.pluralize.tl, { controller: "/backend/variants/articles/#{sub_nature}_articles", action: :index }
    - d.item :other_articles.tl, { controller: '/backend/variants/article_variants', action: :index }

  = dropdown_menu_button(:equipments.tl, main_class: 'btn-pill') do |d|
    - %w[fixed_equipment motorized_equipment tool trailed_equipment].each do |sub_nature|
      - d.item sub_nature.pluralize.tl, { controller: "/backend/variants/equipments/#{sub_nature}_equipments", action: :index }
    - d.item :other_equipments.tl, { controller: '/backend/variants/equipment_variants', action: :index }

  - %w[animal crop service worker zone].each do |nature|
    = link_to nature.pluralize.tl, send("backend_variants_#{nature}_variants_path"), class: 'btn-pill'

= main_list
