= kujaku do |k|
  - k.text
  - k.needle_choice :working_set, [[]] + Nomen::WorkingSet.selection
  - categories = ProductNatureCategory.all
  - if categories.any?
    - k.helper do
      %label= ProductNatureVariant.human_attribute_name(:category)
      = select_tag(:category_id, options_for_select([[]] + categories.order(:name).collect{|u| [u.name, u.id]}, params[:category_id]))
  - natures = ProductNature.all
  - if natures.any?
    - k.helper do
      %label= ProductNatureVariant.human_attribute_name(:nature)
      = select_tag(:nature_id, options_for_select([[]] + natures.order(:name).collect{|u| [u.name, u.id]}, params[:nature_id]))

- main_toolbar do |t|
  = t.pick params: { redirect: backend_product_nature_variants_path, selector_label: :product_variant.tl }
  = t.new params: { controller: '/backend/product_nature_variants', subdivision: controller_name }

  = dropdown_menu_button(:articles.tl, class: 'no-right-margin') do |d|
    - %w[fertilizer plant_medicine seed_and_plant].each do |sub_nature|
      - d.item sub_nature.pluralize.tl, { controller: "/backend/variants/articles/#{sub_nature}_articles", action: :index }
    - d.item :others.tl, { controller: '/backend/variants/article_variants', action: :index }
  - %w[animal crop equipment service worker zone].each do |nature|
    = link_to nature.pluralize.tl, send("backend_variants_#{nature}_variants_path"), class: 'btn btn-default'

= main_list
