- main_toolbar do |t|
  = t.edit resource

= main_informations attachment: true do
  = infos do
    = resource_info(:number, important: true)
    .med-info.important
      - icon = resource.category.pictogram
      %span.title= ProductNatureVariant.human_attribute_name(:nature)
      %span.value
        %i.picto{class: "picto-#{icon}"}
        = link_to(resource.nature_name, controller: :product_natures, action: :show, id: resource.nature_id)
    - if resource.current_stock
      .med-info.important
        %span.title= :population.tl
        %span.value
          %i.picto{class: "picto-stock"}
          = resource.current_stock.to_s + " " + resource.unit_name
  -# .info
    %span.title= ProductNatureVariant.human_attribute_name(:net_mass)
    %span.value= resource.products.map(&:net_mass).compact.sum
  -# .info
    %span.title= ProductNatureVariant.human_attribute_name(:net_volume)
    %span.value= resource.products.map(&:net_volume).compact.sum
  -# if resource.picture.exists?
    = image_tag(resource.picture.url(:thumb))

  = attributes_list(resource) do |l|
    - l.attribute :name
    - l.attribute :unit_name
    - l.attribute :variety
    - l.attribute :derivative_of

= cobbles do |c|
  -if resource.products.any?
    - c.cobble(:stocks) do
      :ruby
          dataset = resource.products

          series = []
          dataset.each do |product|
            items = ProductMovement.where(product: product).reorder(:started_at)
            item_h = items.sort.inject({}) do |hash, pair|
              hash[pair.started_at.to_usec] = pair.population.to_d
              hash
            end
            data = []
            data = item_h.collect{|k,v| [k, v.to_s.to_f] }
            series << {name: product.name ,data: data }
          end

      = line_highcharts(series, legend: { layout: 'vertical', align: 'bottom', vertical_align: 'bottom', border_width: 0 }, y_axis: {title: { text: :population.tl}, min: 0}, x_axis: {type: 'datetime', title: { enabled: true, text: :months.tl}})

  - c.cobble(:products) do
    = cobble_list(:products)

  - c.cobble(:sale_items) do
    = cobble_list(:sale_items)


  - c.cobble(:parcel_items) do
    = cobble_list(:parcel_items)

  - c.cobble(:catalog_items) do
    = cobble_toolbar do |t|
      = t.new(params: {controller: :catalog_items, :variant_id => resource.id, redirect: request.fullpath}, tool: 'new-price')
    = cobble_list(:catalog_items)
