= main_toolbar do |t|
  - t.edit resource

= beehive do |b|
  - b.cell do
    = attributes_list(resource) do |l|
      - l.attribute :name
      - l.attribute :commercial_name
      - l.attribute :unit_name
      - if resource.picture.exists?
        = image_tag(resource.picture.url(:thumb))

  - b.tabbox do
    - b.cell(:products) do
      = list(:products)
    -b.cell(:prices) do
      = toolbar do |t|
        - t.new(:params => {:controller => :catalog_prices, :variant_id => resource.id})
      = list(:prices)
    -b.cell(:prices_evolutions) do
      - if resource.prices.count > 0
        :ruby
          dataset = resource.prices.reorder(:started_at)
          started_on = dataset.first.started_at.to_date
          stopped_on = dataset.last.stopped_at.to_date if !dataset.last.stopped_at.nil?
          stopped_on ||= Date.new(Campaign.currents.reorder(:harvest_year).last.harvest_year,12,31)
        
            series = []
        
            for usage in [:purchase, :sale, :stock, :cost]
              items = dataset.of_usage(usage)
              item_h = items.sort.inject({}) do |hash, pair|
                hash[pair.started_at.l(:format => "%b %Y")] = pair.amount.to_d
                hash
              end
              series << {name: usage.tl ,data: item_h.collect{|k,v| [k.to_s, v.to_s.to_f] } }
            end
        
        = spline_chart(series,legend: { layout: 'vertical', align: 'bottom', vertical_align: 'bottom', border_width: 0 }, x_axis: { type: 'datetime', date_time_label_formats: { month: '%b. %Y', year: '%Y' }})
      - else
        %strong= :no_data.tl
