- main_toolbar do |t|
  = t.edit resource

= main_informations attachment: true do
  .info
    %span.title= ProductNatureVariant.human_attribute_name(:nature)
    %span.value= link_to(resource.nature.name, controller: :product_natures, action: :show, id: resource.nature_id)
  - resource.readings.each do |reading|
    .info
      %span.title= reading.indicator.human_name
      %span.value= reading.value.l

  -# .info
    %span.title= ProductNatureVariant.human_attribute_name(:net_mass)
    %span.value= resource.products.map(&:net_mass).compact.sum
  -# .info
    %span.title= ProductNatureVariant.human_attribute_name(:net_volume)
    %span.value= resource.products.map(&:net_volume).compact.sum
  -# if resource.picture.exists?
    = image_tag(resource.picture.url(:thumb))

  = attributes_list(resource) do |l|
    - l.attribute :name
    - l.attribute :unit_name
    - l.attribute :variety
    - l.attribute :derivative_of
    - l.custom_fields

= cobbles do |c|
  - c.cobble(:products) do
    = cobble_list(:products)

  - c.cobble(:sale_items) do
    = cobble_list(:sale_items)

  - if resource.products.any?
    - c.cobble(:stocks) do
      :ruby
          dataset = resource.products

          series = []

          for product in dataset
            items = ProductReading.where(indicator_name: "population", product: product).order(:read_at)
            item_h = items.sort.inject({}) do |hash, pair|
              hash[pair.read_at.to_usec] = pair.value.to_d
              hash
            end
            data = []
            data = item_h.collect{|k,v| [k, v.to_s.to_f] }
            series << {name: product.name ,data: data }
          end

      = spline_highcharts(series, legend: { layout: 'vertical', align: 'bottom', vertical_align: 'bottom', border_width: 0 }, y_axis: {title: { text: :population.tl}, min: 0}, x_axis: {type: 'datetime', title: { enabled: true, text: :months.tl}})

  - c.cobble(:catalog_items) do
    = cobble_list(:catalog_items)


