= main_toolbar do |t|
  - t.edit resource

= beehive do |b|
  - b.cell do
    = attributes_list(resource) do |l|
      - l.attribute :name
      - l.attribute :commercial_name
      - l.attribute :unit_name
      - if resource.picture.exists?
        = image_tag(resource.picture.url(:thumb))

  - b.tabbox do
    - b.cell(:products) do
      = list(:products)
    -b.cell(:prices) do
      = toolbar do |t|
        - t.new(:params => {:controller => :catalog_prices, :variant_id => resource.id})
      = list(:prices)