= render 'backend/variants/shared/show_toolbar_links'
= render 'backend/variants/shared/main_informations'

= janus do |j|
  - j.face :cobbles do
    = cobbles do |c|
      = render 'backend/variants/shared/show_cobbles', c: c
  - j.face :incoming_outgoing do
    = cobbles do |c|
      = render 'backend/variants/shared/show_incoming_outgoing', c: c
  - if resource.storable?
    - j.face :stocks do
      = cobbles do |c|
        = render 'backend/variants/shared/show_stocks', c: c
