:ruby
  land_parcel_cluster_shape = Charta::Geometry.new(resource.shape)
  land_parcel_around = land_parcel_cluster_shape.actors_matching(nature: LandParcel, intersection: true) if land_parcel_cluster_shape
  cultivable_zone_around = land_parcel_cluster_shape.actors_matching(nature: CultivableZone, intersection: true) if land_parcel_cluster_shape

- main_toolbar do |t|
  - t.edit resource

= cobbles do |c|
  - c.cobble :general_informations do
    = mini_map(resource)
    .med-info
      %span.title= LandParcelCluster.human_attribute_name(:work_number)
      %span.value= resource.work_number
    .med-info
      %span.title= LandParcelCluster.human_attribute_name(:identification_number)
      %span.value= resource.identification_number
    .med-info
      %span.title= LandParcelCluster.human_attribute_name(:net_surface_area)
      %span.value= resource.net_surface_area.in_hectare.round(2).l

  - c.cobble :details do
    = attributes_list do |l|
      - l.attribute :name
      - l.attribute :identification_number
      - l.attribute :net_surface_area

  - if land_parcel_around.count > 0
    - c.cobble :land_parcels, title: LandParcelCluster.human_attribute_name(:land_parcels) do
      - for land_parcel in land_parcel_around
        = mini_map(land_parcel)

  - if cultivable_zone_around.count > 0
    - c.cobble :cultivable_zones, title: LandParcelCluster.human_attribute_name(:cultivable_zones) do
      - for cultivable_zone in cultivable_zone_around
        = mini_map(cultivable_zone)

