- main_toolbar do |t|
  - t.edit resource

= beehive do |b|
  - b.hbox do
    - b.cell :general do
      = mini_map(resource)
      .info
        %span.title= LandParcelCluster.human_attribute_name(:net_surface_area)
        %span.value= resource.net_surface_area.in_hectare.round(2).l

= beehive do |b|
  - b.cell do
    = attributes_list do |l|
      - l.attribute :name
