= form_for crumb, action: :update, url: backend_crumb_path(crumb.id), method: :patch do |f|
  = radio_button_tag('nature', 'point')
  point
  = radio_button_tag('nature', 'start')
  start
  = radio_button_tag('nature', 'stop')
  stop
  = f.submit 
