= form_actions do
  - if path.casted?
    = link_to "rest.actions.show".t, backend_intervention_path(path.intervention), class: "btn"
  - else
    = form_tag(convert_backend_crumb_path(path.start, worked_on: @worked_on), method: :post, class: "inline-form") do
      :ruby
        procedures = path.possible_procedures_matching
        selected = procedures.detect{|p| p.natures.include?(path.procedure_nature.name.to_sym)}
      = select_tag :procedure_name, options_for_select(procedures.collect{|procedure| [procedure.human_name, procedure.name]}, (selected ? selected.name : nil))
      = submit_tag "rest.actions.convert".t, name: nil
  = link_to(backend_crumb_path(path.start, redirect: url_for(worked_on: @worked_on)), action: :destroy, method: :delete, data: {confirm: :are_you_sure.tl}, class: "btn btn-destroy") do
    %i
    = "rest.actions.destroy".t
