= form_actions do
  - if path.casted?
    = link_to "rest.actions.show".t, backend_intervention_path(path.intervention), class: "btn btn-default"
  - else
    = form_tag(convert_backend_crumb_path(path.start, worked_on: @worked_on), method: :post, class: "inline-form") do
      = select_tag :procedure_name, options_for_select(Procedo.selection, path.procedure.name)
      = submit_tag "rest.actions.convert".t, name: nil
  = link_to(backend_crumb_path(path.start, redirect: url_for(worked_on: @worked_on)), action: :destroy, method: :delete, data: {confirm: :are_you_sure.tl}, class: "btn btn-default btn-destroy") do
    %i
    = :destroy.ta
