- if start_crumb = Crumb.where(read_at: path.first[:started_at]).where(nature: 'start').first
  = link_to :destroy.tl, backend_crumb_path(start_crumb), action: :destroy, method: :delete, data: {confirm: :are_you_sure.tl}, class: "btn btn-destroy"
  - if start_crumb.intervention_cast_id.present?
    = link_to :show.tl, backend_intervention_path(start_crumb.intervention_cast_id), class: "btn"
  - else
    = form_for [:convert_backend, start_crumb], method: :post, action: :convert do |f|
      = select_tag :procedure_name, options_for_select(start_crumb.possible_procedures_matching.collect{|procedure|[procedure.human_name, procedure.name]})
      = f.submit :convert.tl
