= field_set do
  = f.referenced_association :entity
  = f.input :by_default
  = f.input :canal, show: '.{{value}}-options', as: :radio_buttons
  .email-options.phone-options.mobile-options.fax-options.website-options
    = f.input :coordinate
  .mail-options
    = f.input :mail_line_1
    = f.input :mail_line_2
    = f.input :mail_line_3
    = f.input :mail_line_4
    = f.input :mail_line_5
    = f.input :mail_line_6
    = f.input :mail_country
