= form_tag({ action: :import, file_id: params[:file_id], step: :check }) do
  = field_set :columns do
    %table.table
      %thead
        %tr
          %th= t('.column')
          %th= t('.type')
          %th= t('.destination')
          %th= t('.example')
      %tbody
        - @headers.each_with_index do |header, index|
          %tr
            %td
              - if header['name'].blank?
                %em= t('.empty')
              - else
                = header['name']
            %td= t('.' + header['type'])
            %td= select_tag("columns[#{index}]", options_for_select(@selection))
            %td
              - unless header['type'] == 'geometry'
                = @row[index]
  - if @errors.any?
    = field_set :errors do
      %ul
        - @errors.each do |line_index, error|
          %li= :line_number.tl(index: line_index) + ' ' + error.message
      - if @too_many_errors
        %p= :too_many_errors_to_show_all_of_them
  = form_actions do
    = button_tag 'Go!'
