= backend_form_for(resource, { url: { action: :incorporate }, as: @key}.merge(params[:dialog] ? { data: { dialog: params[:dialog] } } : {})) do |f|
  - if params[:redirect_show_path]
    = hidden_field_tag(:redirect_show_path, params[:redirect_show_path])

  - if params[:redirect_edit_path]
    = hidden_field_tag(:redirect_edit_path, params[:redirect_edit_path])

  - if params[:current_campaign]
    = hidden_field_tag(:current_campaign, params[:current_campaign])

  - if @lexicon_table
    = field params[:selector_label], selector_tag(:reference_id, { controller: "/backend/#{@lexicon_table}", action: :unroll, scope: @scopes, primary_key: @primary_key })
  - else
    = f.input :reference_name, label: params[:selector_label], collection: @available_items

  - f.add(:submit, :import.tl, data: { disable_with: :please_wait.tl }, class: 'primary')
  - f.add(:link, :cancel.tl, { action: :index }, (params[:dialog] ? { class: 'btn', data: { close_dialog: params[:dialog] } } : { class: 'btn' }))
  = f.actions
