- if @container.is_a?(CultivableLandParcel)
  .picture-block
    = @container.shape_svg(:width => 160, :height => 160)
    %p= @container.name
.info
  %span.title= Procedure.human_attribute_name(:name)
  %span.value= @procedure.name
.info
  %span.title= Procedure.human_attribute_name(:variables_names)
  %span.value= @procedure.variables_names
.info
  %span.title= Procedure.human_attribute_name(:started_at)
  %span.value= @procedure.started_at.l
.info
  %span.title= Procedure.human_attribute_name(:state)
  %span.value= @procedure.state.text