- if @container.is_a?(CultivableLandParcel)
  .picture-block
    = @container.shape_svg(:width => 160, :height => 160)
    %p= @container.name
.info
  %span.title= Intervention.human_attribute_name(:name)
  %span.value= @intervention.name
.info
  %span.title= Intervention.human_attribute_name(:casting)
  %span.value= @intervention.casting
- if @intervention.started_at?
  .info
    %span.title= Intervention.human_attribute_name(:started_at)
    %span.value= @intervention.started_at.l
.info
  %span.title= Intervention.human_attribute_name(:state)
  %span.value= @intervention.state.text