- if @feed
  .rss-feed
    .rss-entries
      - @feed.entries.sort{|a,b| b.published <=> a.published }.each do |entry|
        .rss-entry
          %h4.rss-entry-title<
            = link_to(entry.url, target: "_blank") do
              = entry.title
              %i
          - if entry.summary.present? || entry.content.present?
            .rss-entry-summary
              - if entry.summary.present?
                = entry.summary.html_safe
              - elsif entry.content.present?
                = entry.content.html_safe

          %p.rss-entry-published= entry.published.l
- else
  = no_data
