- if @feed
  .rss-feed
    .rss-entries
      - @feed.channel.items.sort{|a,b| b.category.content <=> a.category.content }.each do |entry|
        .rss-entry
          %h4.rss-entry-title<
            = link_to(entry.link, target: "_blank") do
              = entry.title
              %i
          - if entry.description.present?
            .rss-entry-summary
              - if entry.description.present?
                = entry.description.html_safe

          %p.rss-entry-published= entry.pubDate.l

- elsif @error
  %p= @error
- else
  = no_data
