- main_toolbar do |t|
  - t.edit @product_group
  - t.destroy(@product_group, method: :delete, "data-confirm" => tg(:are_you_sure_you_want_to_delete)) if @product_group.destroyable?

= beehive do |b|
  - b.cell :details do
    = attributes_list do |l| # liste des champs à afficher
      - l.attribute :name
      - l.attribute :variety, url: true
      - l.attribute :identification_number
      - l.attribute :description
    - if @product_group.picture.exists?
      = image_tag(@product_group.picture.url(:thumb))

  - b.hbox do
    - b.cell(:members) do
      = list(:members)
    - b.cell(:groups) do
      = list(:groups)

  - b.hbox do
    - b.cell(:contained_products) do
      = list(:contained_products)
    - b.cell(:places) do
      = list(:places)

  - b.hbox do
    - b.cell(:issues) do
      = toolbar do |t|
        - t.new(params: {controller: :issues, :target_id => @product_group.id, :target_type => @product_group.class.name})
      = list(:issues)
    - b.cell(tl(:x_readings, count: @product_group.readings.count)) do
      = list(:readings)

