= main_toolbar do |t|
  - t.edit resource

= cobbles do |c|
  - c.cobble :general_informations do
    .big-infos
      .big-info
        %span.title= Georeading.human_attribute_name(:number)
        %span.value= resource.number
      .med-info
        %span.title= Georeading.human_attribute_name(:name)
        %span.value= resource.name
      - if resource.polygon?
        .med-info
          %span.title= Georeading.human_attribute_name(:net_surface_area)
          %span.value= ::Charta::Geometry.new(resource.content).area.round(3).l
  - c.cobble :resource_map, title: :map.tl do
    = visualization do |v|
      - v.background "OpenStreetMap.HOT"
      - v.background "OpenStreetMap.Mapnik"
      - v.background "Thunderforest.Landscape"
      - v.background "Esri.WorldImagery"
      - v.serie resource.id, [{name: resource.number, shape: resource.content}]
      - options = {fill_opacity: 0}
      - if resource.polygon?
        - options[:fill_opacity] = 0.9
        - options[:fill_color] = cycle(theme_colors)
      - v.simple resource.number, resource.id, options
      - v.control :zoom
      - v.control :scale
      - v.control :fullscreen
      - v.control :layer_selector
