- replacements = component.part_replacements
- if replacements.any?
  %table.component-modal
    %thead
      %tbody
        %tr
          %th
            = :equipment.tl
          %th
            = :component.tl
          %th
            = :procedure.tl
          %th
            = Equipment.human_attribute_name(:maintenance_nature)
          - int_doers = replacements.map(&:intervention).map(&:doers)
          - if int_doers.any? { |d| d.any? && d.first.product.present? }
            %th
              = :worker.tl
        - component.part_replacements.each do |part|
          %tr
            %td
              = link_to(part.product.name, backend_matter_path(part.product))
            %td
              = part.component.name
            %td
              = part.intervention_parameter.intervention.procedure_name.l
            %td
              = part.intervention_parameter.intervention.maintenance_nature.l
            - if part.intervention.doers.any? &&  part.intervention.doers.first.product.present?
              %td
                = part.intervention_parameter.intervention.doers.first.product.name