- components.each do |component|
  .component
    .component-block
      .component-title
        %span= "#{component.name} (#{component.id}): "
        - if component.part_product_nature_variant
          = link_to component.part_product_nature_variant.name, backend_product_nature_variant_path(component.part_product_nature_variant)
        - if component.part_replacements.any?
          %span= equipment.last_replacement(component).intervention_parameter.product.name
      - if resource.remaining_working_lifespan || resource.remaining_lifespan
        .component-status
          = lights(equipment.wear_status(component))
        .component-life
          %span= :x_hours_worked.tl count: equipment.current_work_life_of(component).to_d(:hour).round(2)
      .component-wear
        - if equipment.replaced_at(component)
          %span{title: equipment.replaced_at(component).l }= relative_distance_in_words equipment.replaced_at(component)
        - else
          = :original_component.tl
      .component-details
        = button_tag :details ,type: :button, class: "btn", data: { toggle: :modal, target: "#show_component_details_#{component.id}"}

      = modal(id: "show_component_details_#{component.id}", title: Product.human_attribute_name(:part_replacements), close_button: true) do
        = render "component_infos", component: component

    = render 'composition', equipment: equipment, components: component.children


  / %table
  /   .component
  /     %td
  /       = tool_to "Remplacer l'élément", {}
  /     / %td
  /     /   = dropdown_menu_button(:documentation.tl, icon: false) do |menu|
  /     /     - puts component.part_product_nature_variant.inspect
  /     /     - component.part_product_nature_variant.attachments.each do |attachment|
  /     /       - menu.item attachment.name, {controller: 'backend/documents', id: attachment.document_id, action: :show, format: :pdf }
  /     %td
  /       = "#{component.name}: "
  /       = link_to component.part_product_nature_variant.name, backend_product_nature_variant_path(component.part_product_nature_variant)

  / = render 'composition', variant: component.part_product_nature_variant
