= f.product_form_frame do
  = field_set :identification do
    = f.picture
    = f.input :description
    - if AnalyticSegment.where(name: 'equipments').exists?
      = f.input :isacompta_analytic_code
