- main_toolbar do |t|
  = t.new params: { redirect: nil }

- main_period_selector(:year)

= janus do |j|
  - if Equipment.any? && Equipment.with_given_readings(:shape).any?
    - j.face :map, title: :map do
      = main_resources_map(async: true, shape_method: :shape)
  - j.face :list do

    = kujaku do |k|
      - k.text
      - variants = ProductNatureVariant.of_variety(:equipment)
      - if variants.any?
        - k.helper do
          %div.label-container
            %label= Equipment.human_attribute_name(:variant)
          = select_tag(:variant_id, options_for_select([[]] + variants.order(:name).collect{|u| [u.name, u.id]}, params[:variant_id]))
      - if current_campaign
        - activities = Activity.of_campaign(current_campaign)
        - if activities && activities.any?
          - k.helper do
            %div.label-container
              %label= Activity.human_attribute_name(:activity)
            = select_tag(:activity_id, options_for_select([[]] + activities.order(:name).collect{|u| [u.name, u.id]}, params[:activity_id]))
    = main_list
