:ruby
  geolocations = Equipment.all.collect do |equipment|
    { name:         equipment.name,
      nature:       equipment.nature_name,
      shape:        equipment.shape
    }
  end

= kujaku do |k|
  - k.text
  - k.helper do
    %label= Equipment.human_attribute_name(:variant)
    = select_tag(:variant_id, options_for_select([[]] + ProductNatureVariant.of_variety(:equipment).order(:name).collect{|u| [u.name, u.id]}, params[:variant_id]))

- main_toolbar do |t|
  - t.new

= janus do |j|
  - if Equipment.any? && Equipment.all.map(&:shape).count > 1
    - j.face :map, title: :map do
      = visualization do |v|
        - v.serie :geolocations, geolocations
        - v.categories :nature, :geolocations
        - v.background 'OpenStreetMap.HOT'
        - v.background 'Thunderforest.Transport'
        - v.background 'Thunderforest.Outdoors'
        - v.control :zoom
        - v.control :scale
        - v.control :fullscreen
        - v.control :layer_selector
  - j.face :list do
    = main_list