- main_toolbar do |t|
  = t.edit resource
  = t.new(params: {controller: :issues, target_id: resource.id, target_type: resource.class.name}, tool: 'new-issue')

- main_campaign_selector

= main_informations attachment: true do
  = render 'picture'
  = infos do
    = resource_info(:work_number, important: true)
    .med-info.important
      - icon = resource.category.pictogram
      %span.title= Equipment.human_attribute_name(:variant)
      %span.value
        %i.picto{class: "picto-#{icon}"}
        = link_to(resource.variant_name, controller: :product_nature_variants, action: :show, id: resource.variant_id)
    - if resource.born_at and resource.age >= 1.day
      = resource_info(:age) do |age|
        %i.picto{class: "picto-clock-o"}
        = human_age(born_at, display: 2)
    - if resource.fixed_asset
      = resource_info :fixed_asset do |fixed_asset|
        %i.picto{class: "picto-money"}
        = link_to(fixed_asset.number, controller: :fixed_assets, action: :show, id: fixed_asset.id)
    .med-info.important
      %span.title= Equipment.human_attribute_name(:state)
      %span.value= lights(resource.status)
    .med-info
      %span.title= Equipment.human_attribute_name(:working_duration)
      %span.value
        %i.picto{class: "picto-timelapse"}
        = :x_hours.tl(count: resource.working_duration(as: :tool)/3600)
    - if resource.description
      %span.title= Equipment.human_attribute_name(:description)
      %span.value= resource.description

= cobbles do |c|

  - if resource.intervention_product_parameters.any?
    - c.cobble(:intervention_product_parameters, title: :x_interventions.tl(count: resource.interventions.count)) do
      = cobble_list(:intervention_product_parameters)

  - if resource.issues.any?
    - c.cobble(:issues, title: :x_issues.tl(count: resource.issues.count)) do
      = cobble_toolbar do |t|
        = cobble_list(:issues)

  - time_spent_by_activity(resource, cobbler: c)
