- main_toolbar do |t|
  - t.edit resource
  - t.new(params: {controller: :issues, target_id: resource.id, target_type: resource.class.name}, tool: 'new-issue')

- main_campaign_selector

= main_informations attachment: true do
  - if resource.picture.exists?
    .picture= image_tag(resource.picture.url(:identity))
  .big-infos
    .med-info.important
      - icon = resource.category.pictogram
      %span.title= Equipment.human_attribute_name(:variant)
      %span.value
        %i.picto{class: "picto-#{icon}"}
        = link_to(resource.variant_name, controller: :product_nature_variants, action: :show, id: resource.variant_id)
    - if resource.born_at and resource.age >= 1.day
      .med-info
        %span.title= Equipment.human_attribute_name(:age)
        %span.value
          %i.picto{class: "picto-clock-o"}
          = human_age(resource.age, display: 2)
    .med-info.important
      %span.title= Equipment.human_attribute_name(:state)
      %span.value= lights(resource.status)
    .med-info
      %span.title= Equipment.human_attribute_name(:working_duration)
      %span.value
        %i.picto{class: "picto-timelapse"}
        = :x_hours.tl(count: resource.working_duration(as: :tool)/3600)
    - if resource.description
      %span.title= Equipment.human_attribute_name(:description)
      %span.value= resource.description

= cobbles do |c|

  - count = 0
  - map = visualization do |v|
    - v.background "OpenStreetMap.HOT"
    - v.background "OpenStreetMap.Mapnik"
    - v.background "Thunderforest.Landscape"
    - v.background "Esri.WorldImagery"
    - if resource.container
      - shape = resource.container.shape
      - if shape
        - v.serie resource.container.id, [{name: resource.container.name, shape: shape}]
        - v.simple resource.container.name , resource.container.id, fill_color: cycle(theme_colors)
        - count += 1
    - if resource.shape
      - v.serie resource.id, [{name: resource.name, shape: resource.shape}]
      - v.simple resource.name , resource.id, fill_color: cycle(theme_colors)
      - count += 1
    - v.control :zoom
    - v.control :scale
    - v.control :fullscreen
    - v.control :layer_selector
  - if count > 0
    - c.cobble :container do
      = map

  - if resource.intervention_casts.any?
    - c.cobble(:intervention_casts) do
      = cobble_list(:intervention_casts)

  - c.cobble(:readings, title: :x_readings.tl(count: resource.readings.count)) do
    = cobble_list(:readings)

  - time_spent_by_activity(resource, cobbler: c)
