= field_set do
  = f.input :nature, collection: @exchanger_selection
  = f.input :archive
  = f.custom_fields
  %a{download: "", style: "display:none", id: "template_file_link"}
    = :download_template_file.tl
