= field_set do
  = f.input :code
  = f.input :currency
  = f.input :started_on
  = f.input :stopped_on
  = f.custom_fields

= field_set(:vat) do
  = f.input :tax_declaration_mode
  = f.input :tax_declaration_frequency

= f.attachments_field_set

