= form_tag do
  = field_set :prerequisites_checks_before_closure.tl do
    .close-conditions
      - if @financial_year.all_previous_financial_years_closed_or_locked?
        %p
          %i.correct-validation
          = :all_financial_years_closed_or_locked.tl
      - else
        %p
          %i.wrong-validation
          = :all_financial_years_not_closed_or_locked.tl
          = link_to(:see_the_financial_years.tl, backend_financial_years_path)
      - if @financial_year.no_draft_entry?
        %p
          %i.correct-validation
          = :no_draft_entry.tl
      - else
        %p
          %i.wrong-validation
          = :draft_entries_to_validate.tl
          = link_to(:see_the_day_book.tl, backend_draft_journal_path(current_financial_year: @financial_year.id))
      - if @financial_year.no_entry_to_balance?
        %p
          %i.correct-validation
          = :all_entries_balanced.tl
      - else
        %p
          %i.wrong-validation
          = :entries_to_balance.tl
          = link_to(:see_the_unbalanced_entries.tl, backend_invalid_journal_entries_path)
      - if @financial_year.unbalanced_radical_account_classes_array.empty?
        %p
          %i.correct-validation
          = :radical_class_accounts_dont_have_entries.tl
      - else
        - links = []
        - @financial_year.unbalanced_radical_account_classes_array.each do |rad_account|
          - links << link_to(rad_account[:number], backend_account_path(id: rad_account[:id], period: rad_account[:period]))
        %p
          %i.wrong-validation
          = :radical_class_accounts_have_entries.tl
          = (:see_the_accounts.tl + ' ' + links.to_sentence).html_safe
      - if FixedAsset.drafts.any?
        %p
          %i.warning
          = :draft_fixed_asset_on_current_financial_year.tl(code: @financial_year.code)
          = link_to(:see_fixed_assets.tl, backend_fixed_assets_path)
      - if @financial_year.not_sent_tax_declarations.any?
        %p
          %i.warning
          = :not_sent_tax_declaration_on_current_financial_year.tl(code: @financial_year.code)
          = link_to(:see_tax_declarations.tl, backend_tax_declarations_path)


  = field_set :close_settings.tl do
    = field FinancialYear.model_name.human, @financial_year.code
    = field FinancialYear.human_attribute_name(:stopped_on), @financial_year.stopped_on.l
    = hidden_field_tag("financial_year[stopped_on]", @financial_year.stopped_on)
    = field FinancialYear.human_attribute_name(:result_journal), select_tag("result_journal_id", options_for_select([[:dont_generate_result_entries.tl, ""], [:create_journal.tl, 0]] + Journal.where(currency: @financial_year.currency, nature: :result).collect{|j| [j.name, j.id]}, selected: params[:result_journal_id]))
    = field FinancialYear.human_attribute_name(:closure_journal), select_tag("closure_journal_id", options_for_select([[:dont_generate_closure_entries.tl, ""], [:create_journal.tl, 0]] + Journal.where(currency: @financial_year.currency, nature: :closure).collect{|j| [j.name, j.id]}, selected: params[:closure_journal_id]))
    = field FinancialYear.human_attribute_name(:forward_journal), select_tag("forward_journal_id", options_for_select([[:dont_generate_carrying_forward_entries.tl, ""], [:create_journal.tl, 0]] + Journal.where(currency: @financial_year.currency, nature: :forward).collect{|j| [j.name, j.id]}, selected: params[:forward_journal_id]))

    #confirmCloseModal.modal.fade{ tabindex: '-1', role: 'dialog', 'aria-labelledby': 'indexModal', 'aria-hidden': 'true' }
      .modal-dialog{ role: 'document' }
        .modal-content
          .modal-header
            %button.close{ data: { dismiss: 'modal' }, 'aria-label': 'Close', type: 'button' }
              %i.icon.icon-destroy{ 'aria-hidden': 'true' }
            %b.modal-title= :last_confirmation_before_definitive_close.tl
          .modal-body
            %p= :financial_year_close_message.tl.html_safe
          .modal-footer
            = link_to(:cancel.tl, {}, class: "btn")
            = submit_tag(:close_financial_year.tl(code: ''), class: "primary")

  .close-table
    %table
      %tr
        %th
          %i
          = :irreversible_operation.tl
      %tr
        %td
          = check_box_tag 'confirm-revised-accounts', '', false, disabled: @financial_year.any_invalid_closure_check?
          = :account_certification_by_competent_person.tl

  = form_actions do
    = button_tag :close_the_financial_year.tl, data: { toggle: 'modal', target: '#confirmCloseModal' }, class: "btn btn-primary", id: "close-btn", type: 'button', disabled: true
    = link_to(:cancel.tl, (params[:redirect] || {action: :index}), class: "btn")
