= content_for(:heading_toolbar) do
  .financial-year-title{ class: "#{resource.state}-financial-year"}
    %h2= resource.state.t(scope: 'enumerize.financial_year.state')

- main_toolbar do |t|
  = t.edit resource
  = t.compute_balances resource, method: :post
  = t.new(label: :new_financial_year_exchange.tl, params: { controller: :financial_year_exchanges, financial_year_id: resource.id }) if resource.can_create_exchange?
  - if resource == FinancialYear.closable_or_lockable
    = t.close resource, label: :close_financial_year.tl(code: resource.name), icon: false
    = t.lock resource, label: :lock_financial_year.tl(code: resource.name), icon: false
  = dropdown_menu_button(:export_fec.ta, icon: :download) do |d|
    - export_params = params.slice(:id)
    - %i[all ba_bnc_ir_commercial_accountancy ba_ir_cash_accountancy bnc_ir_cash_accountancy].each do |position|
      - d.item "export_fec_#{position}".tl, action: :show, fiscal_position: position, format: :xml

= main_informations attachment: true do
  = infos do
    .med-info.important
      %span.title= :year_start.tl
      %span.value= resource.started_on.l

    .med-info.important
      %span.title= :year_end.tl
      %span.value= resource.stopped_on.l

    .med-info.important
      %span.title= :currency.t(scope: 'preferences')
      %span.value= Nomen::Currency.find(resource.currency).human_name.upcase

    - if resource.closed?
      .med-info.important
        %span.title= :archive_prior_to_closure.tl
        = link_to backend_financial_year_archive_path(resource, timing: 'prior_to_closure'), method: :post do
          %button.btn.btn-default.icn.btn-download= :download_archive.tl
        %br
        %span.signature-trigger
          %i.lock-picto
          = :this_archive_is_digitally_signed.tl
          %i.chevron
        .signature-details
          .signature-title= :fingerprint_sha256.tl
          = resource.prior_to_closure_archive.sha256_fingerprint
          .signature-title= t('labels.signature_html', url: FinancialYearArchive::PUBLIC_KEY_URL)
          = resource.prior_to_closure_archive.signature.gsub(/\n/, '<br />').html_safe

      .med-info.important
        %span.title= :archive_post_closure.tl
        = link_to backend_financial_year_archive_path(resource, timing: 'post_closure'), method: :post do
          %button.btn.btn-default.icn.btn-download= :download_archive.tl
        %br
        %span.signature-trigger
          %i.lock-picto
          = :this_archive_is_digitally_signed.tl
          %i.chevron
        .signature-details
          .signature-title= :fingerprint_sha256.tl
          = resource.post_closure_archive.sha256_fingerprint
          .signature-title= t('labels.signature_html', url: 'http://www.google.com')
          = resource.post_closure_archive.signature.gsub(/\n/, '<br />').html_safe

= cobbles do |c|
  - c.cobble(resource.closed ? :balance : :last_computed_balance) do
    = cobble_list :account_balances

  - c.cobble(:fixed_asset_depreciations) do
    = cobble_list :fixed_asset_depreciations

  - c.cobble(:exchanges) do
    = cobble_list :exchanges
