- main_toolbar do |t|
  = t.export(:balance_sheet, :income_statement, :trial_balance, key: :code)
  = t.compute_balances resource, method: :post
  - attrs = {}
  - attrs["data-confirm"] = :are_you_sure.tl if resource.last_journal_entry
  = t.generate_last_journal_entry resource, attrs
  - if resource == resource_model.closable
    = t.close resource

= main_informations attachment: true do
  = attributes_list do |l|
    - l.attribute :currency
    - l.attribute :started_on
    - l.attribute :stopped_on
    - l.attribute :closed
    - l.attribute :code
    - l.attribute :last_journal_entry, url: true
    - l.custom_fields

= cobbles do |c|
  - c.cobble(resource.closed ? :balance : :last_computed_balance) do
    = cobble_list :account_balances

  - c.cobble(:fixed_asset_depreciations) do
    = cobble_list :fixed_asset_depreciations
