= content_for(:heading_toolbar) do
  - if resource.state.locked?
    .locked-financial-year-title
      %h2= resource.state.t(scope: 'enumerize.financial_year.state')

= main_informations attachment: true do
  = infos do
    .med-info.important
      %span.title= :year_start.tl
      %span.value= resource.started_on.l

    .med-info.important
      %span.title= :year_end.tl
      %span.value= resource.stopped_on.l

    .med-info.important
      %span.title= :currency.t(scope: 'preferences')
      %span.value= Nomen::Currency.find(resource.currency).human_name.upcase

= cobbles do |c|
  - c.cobble(resource.closed ? :balance : :last_computed_balance) do
    = cobble_list :account_balances

  - c.cobble(:fixed_asset_depreciations) do
    = cobble_list :fixed_asset_depreciations

  - c.cobble(:exchanges) do
    = cobble_list :exchanges
