- if items.any?
  = hidden_field_tag 'is-purchase-orders', true

  .modal-body
    .purchase-orders
      .list-headers
        %span.list-header.form-name= :order.tl
        %span.list-header= :quantity.tl
        %span.list-header= :quantity_to_receive.tl
        %span.list-header= :unit_amount.tl
        %span.list-header= :total_amount_without_taxes.tl
      .list-models
        - items.each do |model|
          .model
            = check_box_tag('', '1', false, class: 'model-checkbox', data: { id: model.id })

            - reference_number = model.reference_number.presence || :not_informed.tl
            %span.model-ref= :reference_supplier.tl(reference_number: reference_number)

            %ul.list-items
              - model.items.each do |model_item|
                - datas = { variant_type: model_item.variant.variety,equipment_id: model_item.equipment_id, activity_budget_id: model_item.activity_budget_id, team_id: model_item.team_id, responsible_id: model.responsible_id, project_budget_id: model_item.project_budget_id, annotation: model_item.annotation, conditionning: model_item.conditionning, conditionning_quantity: model_item.conditionning_quantity }

                %li.item{ data: datas }
                  = check_box_tag('', '1', false, class: 'item-checkbox', data: { id: model_item.id })
                  %span.variant{ data: { id: model_item.variant_id } }= model_item.variant.name
                  %span.item-value.quantity= model_item.quantity
                  %span.item-value.quantity-to-fill= model_item.quantity_to_receive
                  %span.item-value.unit-cost= model_item.unit_pretax_amount
                  %span.item-value.total-except-taxes= model_item.pretax_amount

            .close-purchase-order.hidden
              = label_tag "Fermer la commande suite à cette réception :", nil, class: "close-purchase-order-label"
              = radio_button_tag "close_purchase_order_#{model.id}", 'true', false, class: "close-purchase-order-radio"
              = label_tag "Oui", nil, class: "close-purchase-order-radio-label"
              = radio_button_tag "close_purchase_order_#{model.id}", 'false', true, class: "close-purchase-order-radio"
              = label_tag "Non", nil, class: "close-purchase-order-radio-label"

  .modal-footer
    %span.total-label= :total.tl + " :"
    %span.footer-item
    %span.footer-item.total-quantity
    %span.footer-item
    %span.footer-item.total-amount
    %span.footer-item.actions
      %button{ class: "btn btn-default valid-modal" }= :valid.tl

- else
  .modal-body
    .modal-body__msg-container= :no_purchase_order_to_reconcile_for_this_supplier.tl

  .modal-footer
    %span.total-label
    %span.footer-item
    %span.footer-item
    %span.footer-item
    %span.footer-item
    %span.footer-item.actions
      %button{ class: 'btn btn-default', data: { dismiss: 'modal' } }= :cancel.tl
