-form_id = @options[:id]||"f"+rand.to_s[2..-1]
-if params[:dialog]
  -jsaction = params[:formalize] ? Marshal.load(ActiveSupport::Base64.decode64(params[:formalize])) : nil
  =form_remote_tag(:url=>{:dialog=>params[:dialog], :formalize=>params[:formalize]}, :success=>"if (request.responseJSON===null) {$('#{params[:dialog]}').update(request.responseText).resize();} else { #{jsaction}; closeDialog('#{params[:dialog]}')}", :html=>{:id=>form_id, :style=>'overflow:none', :class=>"vbox flex"}, :loaded=>"resizeDialog('#{params[:dialog]}')") do
    .fields.flex
      =render :partial=>@partial
      .end
    .actions
      =submit_tag(tg(@options[:submit]||:update))
      =link_to_function(tg(@options[:cancel]||:cancel), "closeDialog('#{params[:dialog]}')")
=form_tag(nil, {:id=>form_id, :class=>"vbox flex", :style=>'overflow:none'}) do
  .fields.flex
    =render :partial=>@partial
    .end
  .actions
    =submit_tag(tg(@options[:submit]||:update))
    =link_to_back :label=>@options[:cancel]||:cancel

