- item ||= f.object
%tr.nested-fields
  %td
    = f.referenced_association(:variant, wrapper: :nested, source: {scope: :purchaseables}, input_html: {data: {variant_of_deal_item: {url: detail_backend_product_nature_variant_url("RECORD_ID", mode: :last_purchase_item)}}})
    = f.input :all_taxes_included, as: :hidden, input_html: {class: "all-taxes-included"}
  %td= f.input(:unit_pretax_amount, wrapper: :nested, input_html: {class: "unit-pretax-amount item-pta"})
  %td.decimal= f.select(:tax_id, Tax.currents.collect{|t| [t.short_label, t.id, {'data-rate' => ((100 + t.amount)/100)}]}, {}, 'data-value' => 'rate', class: "tax")
  %td= f.input(:unit_amount, wrapper: :nested, input_html: {class: "unit-amount item-wta"})
  %td.decimal= f.input(:quantity, wrapper: :nested, input_html: {size: 7, class: "item-pta item-wta"})
  %td.decimal.pta{data: {use: ".item-pta", use_closest: ".nested-fields", calculate: "mul", calculate_round: "#{Nomen::Currencies[f.object.purchase_currency].precision}"}}= item.pretax_amount
  %td.decimal.wta{data: {use: ".item-wta", use_closest: ".nested-fields", calculate: "mul", calculate_round: "#{Nomen::Currencies[f.object.purchase_currency].precision}"}}= item.amount
  %td.currency= f.object.purchase_currency
  %td.action= link_to_remove_association(content_tag(:i) + h(:destroy.ta), f, 'data-no-turbolink' => true, class: 'remove-item')

-# - item ||= f.object
-# %tr.nested-fields
-#   %td= f.referenced_association(:variant, wrapper: :nested, input_html: {data:{priced_variant: {url: last_purchase_item_backend_product_nature_variant_url("VARIANT_ID"), amount: ".amount", tax: ".tax", scope: ".nested-fields"}}})
-#   %td.decimal= f.input(:quantity, wrapper: :nested, input_html: {size: 7, class: "item-pta item-wta"})
-#   %td= f.input(:unit_pretax_amount, wrapper: :nested, input_html: {class: "item-pta item-wta amount"})
-#   %td.decimal= f.select(:tax_id, Tax.all.collect{|t| [t.name, t.id, {'data-rate' => ((100 + t.amount)/100)}]}, {}, 'data-value' => 'rate', class: "item-wta tax")
-#   -# TODO: replace calculate_round value with the actual currency precision
-#   %td.decimal.pta{data: {use: ".item-pta", use_closest: "tr", calculate: "mul", calculate_round: 2}}= item.pretax_amount
-#   %td.decimal.wta{data: {use: ".item-wta", use_closest: "tr", calculate: "mul", calculate_round: 2}}= item.amount
-#   %td.currency= f.object.purchase_currency
-#   %td.action= link_to_remove_association(content_tag(:i) + h(:destroy.ta), f, 'data-no-turbolink' => true, class: 'remove-item')
