= kujaku do |k|
  - k.text
  - sm = Purchase.state_machine.states
  - k.multi_choice :state, [:draft, :estimate, :aborted, :refused, :order, :invoice].map{|s| [sm[s].human_name, s] }, label: Purchase.human_attribute_name(:state)
  - k.helper :journal_period_crit
  - k.choice :all, :unpaid, name: :nature
  - responsibles = User.where(id: Purchase.select(:responsible_id).distinct)
  - if responsibles.any?
    - k.helper do
      %label= Purchase.human_attribute_name(:responsible)
      = select_tag(:responsible_id, options_for_select([[]] +  responsibles.map{|u| [u.label, u.id]}, params[:responsible_id].to_i))
- main_toolbar do |t|
  = t.new variants: PurchaseNature.reorder(:name).to_a.map{ |n| [n.name, {nature_id: n.id}, {by_default: n.by_default}] }, params: { redirect: nil }
= main_list
