- main_toolbar do |t|
  - t.export do |e|
    - e.purchases_invoice resource.number, resource
  - t.edit resource if resource.draft?
  - if resource.can_confirm?
    - t.confirm resource, method: :post, "data-confirm" => :are_you_sure_you_want_to_confirm.tl
  - if resource.can_propose?
    - t.propose_and_invoice resource, method: :post, "data-confirm" => :are_you_sure_you_want_to_invoice.tl
  - if resource.can_invoice?
    - t.invoice resource, method: :post, "data-confirm" => :are_you_sure_you_want_to_invoice.tl
  - for event in [:propose, :correct, :refuse]
    - t.send(event, resource, method: :post, "data-confirm" => :are_you_sure.tl) if resource.send("can_#{event}?")
  - t.abort(resource, method: :post, "data-confirm" => :are_you_sure.tl) if resource.can_abort?

= beehive do |b|

  - b.hbox do
    - b.cell :items, title: Purchase.human_attribute_name(:items) do
      = list :items do
        %tr.total
          %th{colspan: 4}
          %td= resource.pretax_amount.l(currency: resource.currency)
          %td= resource.amount.l(currency: resource.currency)

    - b.cell :details do
      = attributes_list do |l|
        - l.attribute :supplier, :label => :label, url: true
        - l.attribute :number
        - l.attribute :reference_number unless resource.reference_number.blank?
        - l.attribute :state
        - l.attribute :responsible, :label => :full_name
        - l.attribute :created_at
        - l.attribute :confirmed_at
        - l.attribute :invoiced_at
        - l.attribute :planned_at
        - l.attribute :currency unless resource.currency == Entity.of_company.currency
        - l.attribute :description unless resource.description.blank?
        - l.attribute :delivery_address, :label => :coordinate
        - l.attribute :journal_entry, url: true if resource.journal_entry
        - l.custom_fields

  - b.hbox do
    - b.cell :affair do
      = affair_of(resource)


    - b.cell :attachments, title: Purchase.human_attribute_name(:attachments) do
      = attachments_of(resource)


  - if resource.deliveries.any?
    - b.cell :deliveries, title: Purchase.human_attribute_name(:deliveries) do
      = list :deliveries
