= kujaku do |k|
  - k.text
  - k.choice :all, :active, :inactive

- main_toolbar do |t|
  - %w[article animal crop equipment service worker zone].each do |nature|
    - btn_class = controller_name.match(/#{Regexp.quote(nature)}/) ? 'btn-pill active' : 'btn-pill'
    = link_to nature.pluralize.tl, send("backend_variant_types_#{nature}_types_path"), class: btn_class

  = t.pick params: { redirect: backend_product_natures_path, selector_label: :product_nature.tl }
  = t.new params: { controller: '/backend/product_natures' }

= main_list "constant_name" => "VariantTypes::#{controller_name.classify}"
