.search
  =form_tag({}, :method=>:get) do
    %table
      %tr
        %td.label=tg(:from)
        %td.field=calendar_field_tag :started_on, params[:started_on]
        %td.label=tg(:to)
        %td.field=calendar_field_tag :stopped_on, params[:stopped_on]
        %td.submit=submit_tag(tg(:filter), :name=>nil)
=toolbar do |t|
  -t.link :lettering, {:id=>session[:current_lettering_mode]}

=evalue @account, :name, :url=>{:action=>:account, :id=>@account.id}
=evalue @account, :number, :url=>{:action=>:account, :id=>@account.id}

%h2=tc(:current_letter, :letter=>@letter)

=error_messages "account"

=form_tag() do
  %table.kame
    %tr
      %th=JournalEntryLine.human_attribute_name("letter")
      %th=JournalEntry.human_attribute_name("printed_on")
      %th=Journal.model_name.human
      %th=JournalEntry.model_name.human
      %th=JournalEntryLine.model_name.human
      %th=JournalEntryLine.human_attribute_name("debit")
      %th=JournalEntryLine.human_attribute_name("credit")
    -for @journal_entry_line in @journal_entry_lines
      -checked = (@journal_entry_line.letter == @letter)
      -trid = "e#{@journal_entry_line.id}"
      %tr{:id=>trid, :class=>(checked ? "notice " :  (@journal_entry_line.letter.blank? ? "" : ""))+cycle("even", "odd")}
        %td.chk
          -if @journal_entry_line.letter.blank? or checked
            =check_box_tag("journal_entry_line[#{@journal_entry_line.id}][to_letter]", "1", checked, :onclick =>"if(this.checked) {$('#{trid}').addClassName('notice');} else {$('#{trid}').removeClassName('notice');}; t2();", :id=>"journal_entry_line_#{@journal_entry_line.id}_to_letter" )
          -else
            =@journal_entry_line.letter
            =link_to(image_tag(theme_button(:unletter), :border=>0), {:action=>:account_unletter, :id=>@account.id, :letter=>@journal_entry_line.letter}, :method=>:post, :confirm=>tg(:are_you_sure))
        %td.date=I18n.localize(@journal_entry_line.entry.printed_on)
        %td=link_to(@journal_entry_line.journal.name, {:action=>:journal, :id=>@journal_entry_line.journal_id}, :keep=>true)
        %td.code=link_to(@journal_entry_line.entry.number, {:action=>:journal_entry, :id=>@journal_entry_line.entry_id}, :keep=>true)
        %td.clickable{:onclick=>"toggleCheckBox('journal_entry_line_#{@journal_entry_line.id}_to_letter')"}=@journal_entry_line.name
        %td.decimal.debit.clickable{:onclick=>"toggleCheckBox('journal_entry_line_#{@journal_entry_line.id}_to_letter')"}=number_to_accountancy(@journal_entry_line.debit)
        %td.decimal.credit.clickable{:onclick=>"toggleCheckBox('journal_entry_line_#{@journal_entry_line.id}_to_letter')"}=number_to_accountancy(@journal_entry_line.credit)
    %tr#total.total
      %th{:colspan=>5}=tg(:total)
      %td#total-debit=0
      %td#total-credit=0
  .actions=submit_tag tg(:save)

:javascript
  window.t2 = function() {
    var sd = sum_all('tr.notice .debit',  'total-debit');
    var sc = sum_all('tr.notice .credit', 'total-credit');
    var total = set_state('total', (sd.innerHTML*1 === sc.innerHTML*1));
    return total;
  }
  t2();

