= field_set do
  = f.input :active
  = f.input :country
  = f.input :amount
  = f.input :name
  = f.input :nature
  = f.referenced_association :collect_account, source: { scope: :collected_vat}, new: { number: Account.find_or_import_from_nomenclature(:collected_vat).number }
  = f.referenced_association :deduction_account, source: { scope: :deductible_vat }, new: { number: Account.find_or_import_from_nomenclature(:deductible_vat).number }
  = f.referenced_association :fixed_asset_collect_account, source: { scope: { of_usage: :collected_vat }}, new: { number: Account.find_or_import_from_nomenclature(:collected_vat).number }
  = f.referenced_association :fixed_asset_deduction_account, source: { scope: { of_usage: :deductible_asset_vat }}, new: { number: Account.find_or_import_from_nomenclature(:deductible_asset_vat).number }

  = f.input :intracommunity
  = f.referenced_association :intracommunity_payable_account, source: { scope: :intracommunity_payable}
