= field_set do
  -# = f.input :nature
  = f.input :amount
  = f.input :name
  = f.referenced_association :collect_account, :source => {scope: {of_usage: :collected_vat}}, :new => {:number => Account.find_or_create_in_chart(:collected_vat).number}
  = f.referenced_association :deduction_account, :source => {scope: {of_usage: :deductible_vat}}, :new => {:number => Account.find_or_create_in_chart(:deductible_vat).number}
  = f.input :included
  = f.input :reductible
  =f.custom_fields
