= kujaku do |k|
  - k.text
  - k.choice :active, :inactive, name: :state
  - providers = Tax.providers_vendors
  - if providers.any?
    - k.helper do
      %div.label-container
        %label= Sale.human_attribute_name(:providers)
      = select_tag(:provider, options_for_select([[]] + providers.map(&:capitalize), params[:provider].to_s))

- main_toolbar do |t|
  = t.new params: { redirect: nil }
  = t.action :load, method: :post

= main_list
