%tr
  %td
    = f.input :seeding_density_value, wrapper: :nested_append do
      = f.input_field :seeding_density_value
      %span.add-on.seeding-density-unit= f.object.plant_density_abacus.human_seeding_density_unit_name
  %td
    = f.input :plants_count, wrapper: :nested_append do
      = f.input_field :plants_count
      %span.add-on= "/"
      %span.add-on.sampling-length-unit= f.object.plant_density_abacus.human_sampling_length_unit_name
