%div.label-container
  %label= label
%div.value-container
  - choices.each do |choice|
    %span.radio
      %label{for: "#{name}_#{choice[:name]}"}
        = check_box_tag "#{name}[]", choice[:name] ,choice[:checked], id: "#{name}_#{choice[:name]}"
        = choice[:label]
