= modal_header("Temps de travaux de \"#{ participation.product.name  }\"")

= simple_form_for(participation, url: backend_intervention_participations_path, method: :post) do |f|
  = hidden_field_tag "intervention_participation[intervention_id]", participation.intervention_id
  = hidden_field_tag "intervention_participation[product_id]", participation.product_id
  = hidden_field_tag 'intervention_started_at', participation.intervention.started_at

  .modal-body
    .indicators
      .med-info
        %span.title= Intervention.human_attribute_name(:started_at)
        %span.value
          %i.picto.picto-clock-o
          = participation.intervention.started_at.l(format: :compact)

    .participations
      .participations-header
        %h3{ class: "action-header action-period" } Durée de l'action
        %h3{ class: "action-header" } Horaires calculées


      = f.simple_fields_for :working_periods do |working_periods_form|
        = render 'working_periods_fields', f: working_periods_form


    .actions
      = button_tag nil, class: "btn btn-default action" do
        =image_tag('intervention_participations/action-preparation.svg', class: "action-icon")
        %span Preparation

      = button_tag nil, class: "btn btn-default action" do
        =image_tag('intervention_participations/action-travel.svg', class: "action-icon")
        %span Déplacement

      = button_tag nil, class: "btn btn-default action" do
        =image_tag('intervention_participations/action-intervention.svg', class: "action-icon")
        %span Intervention

      = button_tag nil, class: "btn btn-default action" do
        .picto.picto-pause-circle-outline
        %span Pause


  .modal-footer
    = submit_tag 'Valider', class: "btn btn-primary"
    = link_to 'Annuler', '#', class: "btn btn-default"
