= modal_header('Temps de travaux de Christian Dupont')


= form_tag(backend_intervention_participations_path, method: :post) do
  - intervention = intervention_participation.intervention

  .modal-body
    .indicators
      .med-info
        %span.title= Intervention.human_attribute_name(:started_at)
        %span.value
          %i.picto.picto-clock-o
          = intervention.started_at.l(format: :compact)

    .participations
      .participations-header
        %h3{ class: "action-header action-period" } Durée de l'action
        %h3{ class: "action-header" } Horaires calculées

      - unless intervention_participation.working_periods.empty?
        - intervention_participation.working_periods.each do |working_period|

          - next if working_period.hide?

          .participation

            .participation-icon
              .picto.picto-timelapse
              = working_period.nature.l

            .participation-form
              .participation-field
                = text_field_tag :name, working_period.hour_gap, class: "participation-input"
                %span{class: "participation-field-label"} H

              .participation-field
                = text_field_tag :name, working_period.min_gap, class: "participation-input"
                %span Min

            .participatimn-result
              %span= working_period.started_at.l(format: :full)
              %span &#8594;
              %span= working_period.stopped_at.l(format: :full)

    .actions
      = button_tag nil, class: "btn btn-default action" do
        =image_tag('intervention_participations/action-preparation.svg', class: "action-icon")
        %span Preparation

      = button_tag nil, class: "btn btn-default action" do
        =image_tag('intervention_participations/action-travel.svg', class: "action-icon")
        %span Déplacement

      = button_tag nil, class: "btn btn-default action" do
        =image_tag('intervention_participations/action-intervention.svg', class: "action-icon")
        %span Intervention

      = button_tag nil, class: "btn btn-default action" do
        .picto.picto-pause-circle-outline
        %span Pause

  .modal-footer
    = submit_tag 'Valider', class: "btn btn-primary"
    = link_to 'Annuler', '#', class: "btn btn-default"
