%dl#dashboards-nav
  %dt Tableaux de bord
  - [:default, :legals].each do |d|
    - if d == :default
      %dd= link_to(d, controller: :dashboards, action: :index)
    - else
      %dd.active= link_to(d, controller: :dashboards, action: d)

-# Réglementaire
= beehive(:legals) do |b|
  - b.hbox do
    - b.cell :manure_management_plans do
      %p Plans
    - b.cell :guide_evolution
  - b.hbox do
    - b.cell :manure_management_plans do
      %p Plans

-# Commercialisation      
= beehive(:trade) do |b|
  - b.hbox do
    - b.cell :manure_management_plans do
      %p Plans
    - b.cell :guide_evolution
  - b.hbox do
    - b.cell :manure_management_plans do
      %p Plans

-# Social      
= beehive(:social) do |b|
  - b.hbox do
    - b.cell :manure_management_plans do
      %p Plans

-# PAC      
= beehive(:cap) do |b|
  - b.hbox do
    - b.cell :manure_management_plans do
      %p Cap