= beehive do |b|
  - b.hbox do
    - b.cell :main_settings do
      .big-infos
        .big-info
          %span.title= :currency.t(scope: 'preferences')
          %span.value= Nomen::Currencies[Preference[:currency]].human_name rescue "?"
        .big-info
          %span.title= :country.t(scope: 'preferences')
          %span.value= Nomen::Countries[Preference[:country]].human_name rescue "?"
        .big-info
          %span.title= :language.t(scope: 'preferences')
          %span.value= Nomen::Languages[Preference[:language]].human_name rescue "?"
        .big-info
          %span.title= :chart_of_accounts.t(scope: 'preferences')
          -# %span.value= Nomen::ChartsOfAccounts[Preference[:chart_of_account]].human_name
          %span.value= Preference[:chart_of_accounts].mb_chars.upcase.gsub('_', '-') rescue "?"

    - b.cell :statistics do
      %ul.desc-list
        - for model in [User, Team, Account, FinancialYear, ProductNatureCategory, ProductNature, ProductNatureVariant, Campaign, Worker, Building, LandParcel]
          %li.link
            - collection = model.name.underscore.pluralize
            -# %h3= link_to("x_#{collection}".tl(model.count), controller: collection)
            = link_to(controller: collection, action: :index) do
              %h3
                = "actions.backend/#{collection}.index".t
                %span.badge= model.count
