.nested-fields
  = link_to_remove_nested_association(:reading, f)
  = f.input(:read_at, wrapper_html: {id: 'read_at-field'})
  = f.input(:indicator_name, wrapper_html: {id: 'indicator-field'})
  = f.input(:value, wrapper_html: {id: 'value-field'})
  = f.input(:measure_unit, wrapper_html: {id: 'measure_unit-field'})