= main_toolbar do |t|
  - t.edit @mineral_matter

= beehive do |b|
  - b.cell do
    = attributes_list do |l|
      - l.attribute :name

  - b.tabbox do
    - b.cell(:interventions) do
      = toolbar do |t|
        - t.new(:params => {:controller => :interventions})
      = list(:intervention_casts)
    - b.cell(:stocks) do
      - if @mineral_matter.population > 0
        :ruby

            series = []

            for indicator in [:population, :nitrogen_concentration].collect{|i| Nomen::Indicators[i] }
              items = ProductIndicatorDatum.where(indicator_name: indicator.name, :product => @mineral_matter).order(:measured_at)
              item_h = items.sort.inject({}) do |hash, pair|
                hash[pair.measured_at.to_usec] = pair.value.to_d
                hash
              end
              data = []
              data = item_h.collect{|k,v| [k, v.to_s.to_f] }
              series << {name: indicator.human_name ,data: data }
            end

        = spline_chart(series, legend: { layout: 'vertical', align: 'bottom', vertical_align: 'bottom', border_width: 0 }, y_axis: {title: { text: :indicator.tl}, min: 0}, x_axis: {type: 'datetime', title: { enabled: true, text: :months.tl}})
      - else
        = no_data
    - b.cell(tl(:x_indicators, :count => @mineral_matter.indicator_data.count)) do
      = list(:indicators)
    - b.cell(:place) do
      = list(:places)
