= form_tag do
  = field_set :select_closure_date do
    = field Journal.human_attribute_name(:closed_on), select_tag(:closed_on, options_for_select(resource.reopenings.map{|d| [d.l, d]}))
  = form_actions do
    = submit_tag(:close_journal.tl, class: "primary")
    = link_to(:cancel.tl, params[:redirect] || {action: :index}, class: "btn")
