= journals_tag
- main_toolbar do |t|
  - t.edit resource
  - t.close resource if resource.closable?
  - t.reopen resource if resource.reopenable?
  - t.new(params: {controller: :journal_entries, :journal_id => resource.id})


= beehive do |b|
  - b.hbox do
    - b.cell Journal.human_attribute_name(:entry_items) do
      = kujaku(popover: false) do |k|
        - k.text
        - k.crit :journal_entries_states
        - k.crit :journal_period

      = journal_view_tag

      -#:ruby
        conditions = eval(controller.class.journal_entries_conditions)
        totals = {}
        totals[:debit]  = JournalEntry.where(conditions).sum(:real_debit)
        totals[:credit] = JournalEntry.where(conditions).sum(:real_credit)
        totals[:balance_debit] = totals[:balance_credit] = 0.0
        totals["balance_#{totals[:debit]>totals[:credit] ? 'debit' : 'credit'}".to_sym] = (totals[:debit]-totals[:credit]).abs

      .tab-content
        = list(@journal_view.to_sym)
        -# TODO Find a way to known shown columns or to compute sums in activelist
          - colspans = (@journal_view == "items" ? [6, 1] : [3, 3])
          %tr.important.total
            %th{colspan: colspans[0]}= :total.tl
            %td= totals[:debit].l(currency: resource.currency)
            %td= totals[:credit].l(currency: resource.currency)
            %th{colspan: colspans[1]}
          - if totals[:balance_debit] != totals[:balance_credit]
            %tr.important.total
              %th{colspan: colspans[0]}= :balance.tl
              %td= totals[:balance_debit].l(currency: resource.currency)
              %td= totals[:balance_credit].l(currency: resource.currency)
              %th{colspan: colspans[1]}



    -# b.cell :details do
      = attributes_list(resource) do |l|
        - l.attribute :name
        - l.attribute :code
        - l.attribute :nature
        - l.attribute :currency
        - l.attribute :closed_on


