= f.product_form_frame do
  = field_set :identification do
    = f.input :work_number
    = f.input :identification_number
    = f.picture
    = f.input :description

  = field_set(:genealogy) do
    = f.referenced_association :mother, :source => :mothers
    = f.referenced_association :father, :source => :fathers