= f.product_form_frame work_number: false do
  = field_set :identification do
    = f.input :identification_number
    = f.input :work_number
    = f.picture
    = f.input :description

  = field_set(:genealogy) do
    = f.referenced_association :initial_mother, :source => :mothers
    = f.referenced_association :initial_father, :source => :fathers
