= form_tag do
  = field_set do
    = field ProductMembership.human_attribute_name(:container), selector_tag(:container_id, {controller: :products, action: :unroll, scope: {can: 'store(animal)'}}, value: params[:container_id], new: backend_product_path)
    = field ProductMembership.human_attribute_name(:started_at), datetime_field_tag(:started_at)
    = field Intervention.human_attribute_name(:production), selector_tag(:production_id, {controller: :productions, action: :unroll, scope: {of_current_campaigns: true} }, value: params[:production_id])
    = field Intervention.human_attribute_name(:production_support), selector_tag(:production_support_id, {controller: :production_supports, action: :unroll, scope: {of_current_campaigns: true} }, value: params[:production_support_id])
  = form_actions do
    = submit_tag :add_to_container.ta
