= kujaku do |k|
  - k.text
  -# k.choice :all, :healthy, :illness
  - k.helper :journal_period_crit
  - k.helper do
    %label= Production.human_attribute_name(:variant)
    = select_tag(:variant_id, options_for_select([[]] + ProductNatureVariant.of_variety(:animal).order(:name).collect{|u| [u.name, u.id]}, params[:variant_id]))

- main_toolbar do |t|
  - t.export do |e|
    - e.animal_list Time.now.to_s, @animals

= list

-#= beehive do |b|
  - b.cell do
    = list
  - b.hbox do
    - b.cell :current_stocks_by_variety, params: {variety: 'animal', indicator: :population}
