= kujaku do |k|
  - k.text
  -# k.choice :all, :healthy, :illness
  - k.helper :journal_period_crit
  - k.helper do
    %label= Production.human_attribute_name(:variant)
    = select_tag(:variant_id, options_for_select([[]] + ProductNatureVariant.of_variety(:animal).order(:name).collect{|u| [u.name, u.id]}, params[:variant_id]))

- main_toolbar do |t|
  - t.export do |e|
    - e.animal_list Time.now.to_s, @animals

= janus do |j|
  - j.face :list do
    = main_list

  - j.face :column do
    -# content_for :main_toolbar do

      = dropdown_button do |l|
        - procedures = Procedo.procedures_of_activity_family(:cattle_farming)
        - if procedures.any?
          - for procedure in procedures.sort{|a,b| a.human_name <=> b.human_name }
            = l.link_to(procedure.human_name,'#')

      = tool_to 'Vendre', '#'
      = tool_to 'Mettre en pension', '#'

    %div{data: {golumns: "animal"}}
      -# # TODO Implements this in filter system
      -# .row.animal-summary
        .col-md-3
          .alert.alert-success{:role => "alert"}
            18
          .alert.alert-warning{:role => "alert"}
            1
          .alert.alert-danger{:role => "alert"}
            1
          .alert.alert-info{:role => "alert"}
            1
      -#.row.animal-viewport{data: {animals_data: @grouped_animals.to_json() }}
      #loading
        .bubblingG
          %span#bubblingG_1
          %span#bubblingG_2
          %span#bubblingG_3

      .animal-viewport
        .animal-group-container{"data-bind" => "sortable: {template: 'animal-group-template', data: groups, connectClass: 'group-dropzone', options: {handle: '.animal-group-dragger', cursor: 'move', tolerance: 'pointer', dropOnEmpty: true, opacity: 1, revert: true}}"}
        .add-group-panel-container
          .panel.panel-default
            .panel-heading
              .add-group-btn
                %button.btn.btn-link{:type => "button", data: { bind: "click: $root.toggleNewGroupModal" }}
                  %i.icon.icon-5x.icon-plus.text-muted

        %script#animal-group-template{:type => "text/html"}
          .animal-group
            .panel.panel-default
              .panel-heading
                .row
                  .col-md-1.no-padding.xs-h-padding.animal-group-dragger
                    %i.icon.icon-ellipsis-v.text-muted
                    %i.icon.icon-ellipsis-v.text-muted
                  .col-md-9.no-padding.xs-h-padding
                    %span.animal-group-title
                      %span{"data-bind" => "text: name"}
                  .col-md-2.pull-right.no-padding.xs-h-padding
                    .pull-right.btn-group.btn-group-xs{"aria-label" => "...", :role => "group"}
                      %button.btn.btn-default.btn-hover.animal-all-selector{"data-bind" => "checkbox: toggleItems", :type => "button"}
                        %i.icon.icon-check-square-o
              .panel-body.no-padding
                .add-container{data: {bind: "droppable: {data: $root.drop, afterMove: $root.groupMoved, options: {accept: '.animal-element', hoverClass: 'container-drop-hover', tolerance: 'intersect'}}" },style:"display:none"}
                  %button.btn.btn-link{:type => "button", data: { bind: "click: $root.toggleNewContainerModal" }}
                    %i.icon.icon-plus.text-muted
                %ul.list-group.animal-list-group{"data-bind" => "sortable: {template: 'animal-container-template', data: $root.displayedContainers($data), connectClass: 'container-dropzone', allowDrop: false, options: {handle: '.animal-container-dragger', cursor: 'move', tolerance: 'pointer', placeholder: 'sorting-container-placeholder', dropOnEmpty: false, forcePlaceholderSize: true, revert: true, opacity: 1}}"}
              .panel-footer
                = link_to("#", data: {target: "#new-animal", toggle: "modal"}) do
                  %i.icon.icon-plus
                  %span= :new_animal.tl

        %script#animal-container-template{type: "text/html"}
          %li.list-group-item.animal-container{data: {bind: "droppable: {data: $root.hoverdrop, options: {accept: '.animal-element', tolerance: 'pointer'}}" }}
            .row.toggle.list-group-item-title.no-right-left-margin
              .col-md-1.no-padding.xs-h-padding
                %i.icon.icon-ellipsis-v.animal-container-dragger.text-muted
              .col-md-8.no-padding.xs-h-padding
                %span.animal-container-title{"data-bind" => "text: name"}
              .col-md-3.no-padding.xs-h-padding
                %span.badge.animal-container-badge{"data-bind" => "text: animalCount"}
                .pull-right.btn-group.btn-group-xs{"aria-label" => "...", :role => "group"}
                  / <button type="button" class="btn btn-default btn-hover btn-xs"><i class="fa icon-pencil"></i></button>
                  %button.btn.btn-default.btn-xs.btn-hover.animal-container-collapse-handler{"data-bind" => "click: toggle", :type => "button"}
                    %i.icon.icon-caret-down
            %div.body{"data-bind" => "css: {'hide':hidden}"}
              %div{"data-bind" => "sortable: {template: 'animal-element-template', data: $root.animals, connectClass: 'animal-dropzone', options: {handle: '.animal-element-dragger', cursor: 'move', placeholder: 'sorting-animal-placeholder', dropOnEmpty: true, forcePlaceholderSize: true, opacity: 1, revert: true, cursorAt: { left: 65 }, scrollSensitivity: 65, scrollSpeed: 30}}"}

        %script#animal-element-template{:type => "text/html"}
          /ko if: $parent.id == container_id() && $parent.group_id() == group_id()
          .animal-element.row.no-right-left-margin
            .animal-element-infos{"data-bind" => "css: animalStatusClass"}
              / <button type="button" class="btn btn-link no-padding xs-h-padding animal-element-name" data-toggle="modal" data-target="#view-animal" data-bind="text: name"></button>
              %button.btn.btn-link.no-padding.xs-h-padding.animal-element-name{"data-bind" => "click: $root.toggleAnimalDetailsModal", :type => "button"}
                %span{"data-bind" => "text: name"}
              %i.icon.text-muted{data: {bind: "css: animalSexClass"}}
            .animal-element-actions.no-padding
              .pull-right.animal-selector
                %button.btn.btn-default.btn-xs.btn-hover.checker{"data-bind" => "checkbox: checked", :type => "button"}
                  %i.icon.icon-check.check-icon
            .animal-element-dragger
              %i.icon.icon-ellipsis-v.animal-element-handler.text-muted
          / /ko

    = modal(id: "new-animal", "aria-hidden" => "true", "aria-labelledby" => "newAnimal", heading: "Nouvel animal") do
      .modal-body
        .btn-group-vertical{"aria-label" => "...", :role => "group"}
          %button.btn.btn-default{:type => "button"} Achat
          %button.btn.btn-default{:type => "button"} Pension
          %button.btn.btn-default{:type => "button"} Naissance
          %button.btn.btn-default{:type => "button"} D&eacute;claration

    = modal(id: "new-action-animal", "aria-hidden" => "true", "aria-labelledby" => "newActionAnimal", heading: "Nouvelle action") do
      .modal-body
        .btn-group-vertical{"aria-label" => "...", :role => "group"}
          %button.btn.btn-default{:type => "button"} Vendre
          %button.btn.btn-default{:type => "button"} Vacciner

    = modal(id: "new-group", "aria-hidden" => "true", "aria-labelledby" => "newGroup", data: {bind: "modal: showNewGroupModal(), with: newGroupModalOptions"}, heading: "Nouveau Troupeau") do
      .modal-body
        %label Nom:
        %input{:type => "text", data: { bind: "value: group"}}
      .modal-footer
        %button.btn.btn-default{:type => "button", data: {bind: "click: $root.addGroup"}}
          %i.icon.icon-plus Ajouter
        %button.close.btn.btn-default{"aria-label" => :close.tl, "data-dismiss" => "modal", :type => "button"}= :cancel.ta

    = modal(id: "move-animal", "aria-hidden" => "true", "aria-labelledby" => "moveAnimal", data: {bind: "modal: showMoveAnimalModal(), with: moveAnimalModalOptions"}, heading: "Déplacement", close_button: 'no') do
      .modal-body
        %p Les animaux à déplacer:
        %div{ data: {bind: 'foreach: animals()'}}
          %p{ data: {bind: 'text: name'} }
        %div{ data: {bind: 'if: $data.group' } }
          %span Groupe:
          %p{ data: {bind: 'text: $data.group().name'}}
        %div{ data: {bind: 'if: $data.container' } }
          %span Emplacement:
          %p{ data: {bind: 'text: $data.container().name'}}
        %form.form-horizontal
          .control-group
            %label.control-label{for: "started_at"}= Intervention.human_attribute_name(:started_at)
            .controls
              = datetime_field_tag("started_at", nil, data: { bind: "value: $root.moveAnimalModalOptions.started_at"})
          .control-group
            %label.control-label{for: "stopped_at"}= Intervention.human_attribute_name(:stopped_at)
            .controls
              = datetime_field_tag("stopped_at", nil, data: { bind: "value: $root.moveAnimalModalOptions.stopped_at"})
          .control-group
            %label.control-label{for: "worker"} Soigneur
            .controls
              %select{data: {bind: "options: $root.workers_list,
                optionsText: 'name',
                value: $root.moveAnimalModalOptions.worker,
                optionsCaption: 'Choisir...'" }}
          .control-group
            %label.control-label{for: "nature"} Nature
            .controls
              %select{data: { bind: "options: $root.natures_list,
                optionsText: 'name',
                value: $root.moveAnimalModalOptions.variant,
                optionsCaption: 'Choisir...'" } }
      .modal-footer
        %button.btn.btn-default{:type => "button", data: {bind: "click: $root.moveAnimals"}}
          %i.icon.icon-plus Déplacer
        %button.close.btn.btn-default{"aria-label" => :close.tl, :type => "button", data: {bind: "click: $root.cancelAnimalsMoving"}}= :cancel.ta

    = modal(id: "new-container", "aria-hidden" => "true", "aria-labelledby" => "newContainer", data: {bind: "modal: showNewContainerModal(), with: containerModalOptions"}, heading: "Ajouter un emplacement", close_button: 'no') do
      .modal-body
        %select{data: { bind: "options: $root.containers_list,
          optionsText: 'name',
          value: $root.newContainer,
          optionsCaption: 'Choisir...'" } }
        %div{data: {bind: 'foreach: $root.droppedAnimals'}}
          %div{data: {bind: 'text: $data.name'}}
      .modal-footer
        %button.btn.btn-default{:type => "button", data: {bind: "click: $root.addContainer"}}
          %i.icon.icon-plus Ajouter
        %button.close.btn.btn-default{"aria-label" => :close.tl, :type => "button", data: {bind: "click: $root.cancelContainerAdding"}}= :cancel.ta

    = modal("aria-hidden" => "true", "aria-labelledby" => "viewAnimal", "data-bind" => "modal: showAnimalDetailsModal(), with: animalDetailsModalOptions", heading: "Détails de l'animal") do
      .modal-body
        .row
          .col-md-3
            -# %img.img-responsive{"data-bind" => "attr: {src: img}"}
          .col-md-9
            %p
              Nom:
              %span{"data-bind" => "text: name"}
            %p
              Sexe:
              %i.icon{data: {bind: "css: animalSexClass"}}
            %p
              Status:
              %span{"data-bind" => "css: animalFlagClass"}
      .modal-footer
        %button.btn.btn-link{:type => "button"}
          %i.icon.icon-plus
          Plus d'infos
