:ruby
  activities = Activity.of_campaign(@campaign).order(:name)
  activity_productions = ActivityProduction.of_campaign(@campaign).order(:name)
  cultivable_zones_ready_for_production = CultivableZone.of_current_activity_productions.order(:name) if activity_productions
  interventions = Intervention.real.of_campaign(@campaign).order(:started_at)
  equipments = Equipment.availables
  workers = Worker.availables
  incoming_parcels = Parcel.with_nature(:incoming)

.info
  %span.title= :campaign.tl
  %span.value= link_to(@campaign.name, controller: "/backend/campaigns", action: :show, id: @campaign.id)

.info
  %span.title= :activity.tl
  - if activities.any?
    %span.value= link_to(activities.count.to_s, controller: "/backend/activities", action: :index)
  - else
    %span.value= link_to(:open_an_activity.tl, controller: "/backend/activities", action: :index)

- if activity_productions.any?
  .info
    %span.title= :activity_productions.tl
    %span.value= link_to(activity_productions.count.to_s, controller: "/backend/activity_productions", action: :index)
-# else
  .info
    %span.title= :activity_productions.tl
    %span.value= link_to(:open_a_production.tl, controller: "/backend/activity_productions", action: :new)

- if cultivable_zones_ready_for_production.any?
  .info
    %span.title= :land_parcels.tl
    %span.value= link_to(cultivable_zones_ready_for_production.count.to_s, controller: "/backend/land_parcels", action: :index)
-# else
  .info
    %span.title= :land_parcels.tl
    %span.value= link_to(:make_your_production_support.tl, controller: "/backend/activity_productions", action: :new)

- if interventions.any?
  .info
    %span.title= :interventions.tl
    %span.value= link_to(interventions.count.to_s, controller: "/backend/interventions", action: :index)
- else
  .info
    %span.title= :interventions.tl
    %span.value= link_to(:create_or_import_interventions.tl, controller: "/backend/interventions", action: :new)

- if equipments.any?
  .info
    %span.title= :equipments.tl
    %span.value= link_to(equipments.count.to_s, controller: "/backend/equipments", action: :index)
- else
  .info
    %span.title= :equipments.tl
    %span.value= link_to(:create_or_import_equipments.tl, controller: "/backend/equipments", action: :new)

- if workers.any?
  .info
    %span.title= :workers.tl
    %span.value= link_to(workers.count.to_s, controller: "/backend/workers", action: :index)
- else
  .info
    %span.title= :workers.tl
    %span.value= link_to(:create_or_import_workers.tl, controller: "/backend/workers", action: :new)

- if incoming_parcels.any?
  .info
    %span.title= :incoming_parcels.tl
    %span.value= link_to(incoming_parcels.count.to_s, controller: "/backend/receptions", action: :index)
- else
  .info
    %span.title= :incoming_parcels.tl
    %span.value= link_to(:create_or_import_incoming_parcels.tl, controller: "/backend/receptions", action: :new)

