-# if f.object.errors.any?
  = f.object.errors.inspect

= field_set do
  = f.input :name
  = f.input :pictogram
  = f.input :active

= field_set(:nature) do
  = f.input :reductible
  = f.input :depreciable, :show => :financial_asset_account_field_zone
  = f.referenced_association :financial_asset_account, wrapper_html: {id: :financial_asset_account_field_zone}
  = f.input :saleable, :show => :sales
  = f.input :purchasable, :show => :purchases
  = f.input :storable, :show => :stock_account_field_zone
  = f.referenced_association :stock_account, wrapper_html: {id: :stock_account_field_zone}
  = f.input :subscribing, :show => :subscriptions

= field_set(:subscriptions) do
  = f.referenced_association :subscription_nature
  = f.input :subscription_duration

= field_set(:sales) do
  = f.referenced_association :product_account
  -# = f.association :sale_taxes, as: :radio_buttons
  = f.nested_association :sale_taxations

= field_set(:purchases) do
  = f.referenced_association :charge_account
  -# = f.association :purchase_taxes, as: :radio_buttons
  = f.nested_association :purchase_taxations



-# = field_set(:accountancy) do

-#= field_set(:natures) do
  = f.nested_association(:natures)
  
