:ruby
  f.object.direction ||= direction if local_assigns[:direction]
%tr.nested-fields.budget
  %td= f.referenced_association :variant, wrapper: :nested, closest: ".nested-fields"
  %td
    = f.input :quantity, wrapper: :nested_append do
      = f.input_field :quantity, class: "budget-quantity"
      = f.variant_quantifier_of_field :variant, population: true, working_duration: true
  %td
    - f.object.computation_method ||= :per_working_unit
    = f.input :computation_method, wrapper: :nested, input_html: {class: "computation-method"}, include_blank: false
    = hidden_field_tag(:coeff, f.object.coefficient, class: "budget-coeff")
  %td
    = f.input :unit_amount, wrapper: :nested_append do
      = f.input_field :unit_amount, class: "budget-unit-amount"
      %span.add-on= currency_symbol
    = f.input :unit_currency, as: :hidden
    = f.input :direction, as: :hidden
  %td.decimal{class: "budget-amount #{direction}-amount", data: {use: ".budget-quantity, .budget-unit-amount, .budget-coeff", use_closest: ".nested-fields", calculate: "mul", calculate_round: 2}}= f.object.amount.round(2)
  %td.currency= currency_symbol
  %td.action= link_to_remove_nested_association(:budget, f)
