:ruby
  f.object.direction ||= direction if local_assigns[:direction]
  direction ||= f.object.direction
  indicator_options = Nomen::Indicators.where(datatype: :measure).inject([]) do |options, indicator|
    indicator_name = indicator.name
    Measure.siblings(indicator.unit).each do |unit|
      options << ["#{indicator_name}_in_#{unit}".to_sym, "#{indicator_name}-#{unit}".to_sym]
    end
    options
  end
  selected_indicator = "#{f.object.working_indicator}-#{f.object.working_unit}".to_sym
%tr.nested-fields.budget_nested_fields{data: {budget_direction: f.object.direction}}
  %td= f.referenced_association :variant, wrapper: :nested
  %td
    = f.input :quantity, wrapper: :nested
    -# = select_tag :budget_indicator, options_for_select(indicator_options, selected_indicator), data:{parameter_name: :indicator}
    -# = f.input :working_indicator, as: :hidden
    -# = f.input :working_unit, as: :hidden
  %td
    = f.input :computation_method, wrapper: :nested
  %td
    = f.input :unit_amount, wrapper: :nested
    = f.input :unit_currency, as: :hidden
    = f.input :direction, as: :hidden
  %td.decimal= f.object.amount
  %td.action= link_to_remove_nested_association(:remove_budget, f)
