%table.budget{data: {production_id: f.object.id}}
  -# supports
  %tr.appendable
    %td
    = f.backend_fields_for :supports do |support_form|
      = render 'support_fields', f: support_form
    %td
      = link_to '+', "#budget", data:{budget_add: :support}
  -# budgets
  -# expenses
  %tr
    %td{colspan: '100%'}
      = f.input :homogeneous_expenses, wrapper: :nested
      = :expenses
  - f.object.budgets.expenses.each do |expense|
    %tr.appendable{data: {budget_id: expense.id, direction: :expense}}
      %td
        = render 'budget_fields', budget: expense, f: f
      - f.object.supports.each do |support|
        %td
          = render 'budget_item_fields_template', f: f, support: support, budget: expense
      %td
        = :total
  %tr.expense_template.appendable
    %td
      - b = Budget.create(direction: :expense, production: f.object)
      = render 'budget_fields', budget: b, f: f
    - f.object.supports.each do |support|
      %td
        = render 'budget_item_fields_template', f: f, support: support, budget: b
    %td
      = :total
  %tr.empty_budget_line.appendable
    %td.add_budget
      = link_to 'add expense', '#budget', data:{budget_add: :expense}
    -f.object.supports.each do |support|
      %td{data: {support_id: support.id}}
    %td
  %tr
    %td{colspan: '100%'}
      = f.input :homogeneous_revenues, wrapper: :nested
      = :revenues
  - f.object.budgets.revenues.each do |revenue|
    %tr.appendable{data: {budget_id: revenue.id, direction: :revenue}}
      %td
        = render 'budget_fields', budget: revenue, f: f
      - f.object.supports.each do |support|
        %td
          = render 'budget_item_fields_template', f: f, support: support, budget: revenue
      %td
        = :total
  %tr.revenue_template.appendable
    %td
      - b = Budget.create(direction: :revenue, production: f.object)
      = render 'budget_fields', budget: b
    - f.object.supports.each do |support|
      %td
        = render 'budget_item_fields_template', f: f, support: support, budget: b
    %td
      = :total
  %tr.empty_budget_line.appendable
    %td.add_budget
      = link_to 'add revenue', '#budget', data:{budget_add: :revenue}
    -f.object.supports.each do |support|
      %td{data: {support_id: support.id}}
    %td
