%table.budget{data: {production_id: f.object.id}}
  -# supports
  %tr.appendable
    %td
    - f.object.supports.each do |support|
      %td{data:{support_id: support.id}}
        = render 'support_fields', support: support
        = support.working_indicator_value
    %td
      -#= link_to_add_association :add_budget, f, :budget, partial: 'budget_fields', 'data-association-insertion-node' => '#items', 'data-association-insertion-method' => :append, class: "btn"
      = link_to '+', "#budget", data:{budget_add: :support}
  -# budgets
  -# expenses
  %tr
    %td{colspan: '100%'}
      = f.input :homogeneous_expenses, wrapper: :nested
      = :expenses
  - f.object.budgets.expenses.each do |expense|
    %tr.appendable{data: {budget_id: expense.id, direction: :expense}}
      %td
        = render 'budget_fields', budget: expense, f: f
      - f.object.supports.size.times do
        %td
          = render 'budget_item_fields_template', f: f
      %td
        = :total
  %tr.budget_line_template.appendable
    %td
      = render 'budget_fields_template', direction: :expense, f: f
    - f.object.supports.size.times do
      %td
        = render 'budget_item_fields_template', f: f
    %td
      = :total
  %tr.empty_budget_line.appendable
    %td.add_budget
      add expense
    -f.object.supports.each do |support|
      %td{data: {support_id: support.id}}
    %td
  %tr
    %td{colspan: '100%'}
      = f.input :homogeneous_revenues, wrapper: :nested
      = :revenues
  - f.object.budgets.revenues.each do |revenue|
    %tr.appendable{data: {budget_id: revenue.id, direction: :revenue}}
      %td
        = render 'budget_fields', budget: revenue, f: f
      - f.object.supports.size.times do
        %td
          = render 'budget_item_fields', f: f
      %td
        = :total
  %tr.budget_line_template.appendable
    %td
      = render 'budget_fields_template', direction: :revenue
    - f.object.supports.size.times do
      %td
        = render 'budget_item_fields_template', f: f
    %td
      = :total
  %tr.empty_budget_line.appendable
    %td.add_budget
      add revenue
    -f.object.supports.each do |support|
      %td{data: {support_id: support.id}}
    %td
