.nested_fields
= backend_fields_for budget, wrapper: :nested do |f|
  = f.referenced_association :variant, wrapper: :nested
  = f.input :computation_method
  = f.input :unit_amount
  = f.input :currency
  = f.input :working_indicator
  = f.input :working_unit
  = f.input :direction

