:ruby
  f.object.direction ||= direction if local_assigns[:direction]
  direction ||= f.object.direction
  indicator_options = Nomen::Indicators.where(datatype: :measure).inject([]) do |options, indicator|
    indicator_name = indicator.name
    Measure.siblings(indicator.unit).each do |unit|
      options << ["#{indicator_name}_in_#{unit}".to_sym, "#{indicator_name}-#{unit}".to_sym]
    end
    options
  end
  selected_indicator = "#{f.object.working_indicator}-#{f.object.working_unit}".to_sym
.nested-fields.budget_nested_fields{data: {budget_direction: f.object.direction}}
  = link_to_remove_nested_association(:remove_budget, f)
  = f.referenced_association :variant
  = f.input :quantity
  = f.input :computation_method, as: :radio_buttons
  = f.input :unit_amount
  = f.input :unit_currency, as: :hidden
  -# = select_tag :budget_indicator, options_for_select(indicator_options, selected_indicator), data:{parameter_name: :indicator}
  -# = f.input :working_indicator, as: :hidden
  -# = f.input :working_unit, as: :hidden
  = f.input :direction, as: :hidden
