.items
  %table
    %thead
      %tr
        %th= ProductionBudget.human_attribute_name(:variant)
        %th= ProductionBudget.human_attribute_name(:quantity)
        %th= ProductionBudget.human_attribute_name(:computation_method)
        %th= ProductionBudget.human_attribute_name(:unit_price)
        %th= ProductionBudget.human_attribute_name(:amount)
        %th
    %tbody#items
      = f.simple_fields_for direction, resource.send(direction) do |item|
        = render 'budget_fields', f: item, direction: direction.to_s.singularize
    - precision = Nomen::Currencies[Preference[:currency]].precision
    %tfoot
      %tr.total
        %th= link_to_add_association :add_item.tl, f, direction, partial: 'budget_fields', 'data-association-insertion-node' => '#items', 'data-association-insertion-method' => :append, class: "btn"
        %th{colspan: 3}= :total.tl
        %td#pta.decimal{data: {use: ".pta", calculate: "sum", calculate_round: precision}}= resource.send(direction).sum(:amount)
        %th
