- direction ||= f.object.direction
%tr.budget_nested_fields{data:{budget_direction: direction}}
  %td
    = link_to_remove_association(:remove_budget, f, wrapper_class: :budget_nested_fields)
    = f.input :homogeneous_values
    = f.referenced_association :variant
    = f.input :computation_method
    = f.input :unit_amount
    = f.input :currency
    = f.input :working_indicator
    = f.input :working_unit
    = f.input :direction, selected: direction
  = f.fields_for :items do |item_form|
    = render 'item_fields', f: item_form
  %td
    = f.object.global_amount
    = link_to_add_association :_, f, :items, partial: 'item_fields'
