= field_set do
  = f.referenced_association :activity, :source => :main
  = f.referenced_association :campaign, :source => :currents
  = f.referenced_association :variant
  = f.input :static_support, :show => :supports
  = f.input :state, as: :radio_buttons
  = f.input :started_at
  = f.input :stopped_at
  = f.custom_fields

= field_set(:supports) do
  = f.nested_association(:supports)
