= field_set do
  = f.referenced_association :activity, :source => :main
  = f.referenced_association :campaign, :source => :currents
  = f.referenced_association :variant
  = f.referenced_association :support_variant
  = f.input :static_support, :show => :supports
  = f.input :state, as: :radio_buttons
  = f.input :started_at
  = f.input :stopped_at
  = f.input :working_indicator
  = f.input :working_unit
  = f.custom_fields

= field_set(:budgets) do
  %table
    %tr.support_nested_fields
      %td
        = :void
      = f.backend_fields_for :supports do |support_form|
        = render 'support_fields', f: support_form
      %td
        = link_to_add_association :'+', f, :supports, partial: 'support_fields'
    %tr
      %td{colspan: '100%'}
        = f.input :homogeneous_expenses, wrapper: :nested
        = :expenses
    = f.backend_fields_for :expenses do |expense_form|
      = render 'budget_fields', f: expense_form, direction: :expense
    %tr#add_expense
      %td
        = link_to_add_association :'+', f, :budgets, partial: 'budget_fields', render_options:{locals:{direction: :expense}}, data:{association_insertion_node: 'tr#add_expense', asosciation_insertion_traversal: 'closest', association_insertion_method: :before}
    %tr
      %td{colspan: '100%'}
        = f.input :homogeneous_revenues, wrapper: :nested
        = :revenues
    = f.backend_fields_for :revenues do |revenue_form|
      = render 'budget_fields', f: revenue_form, direction: :revenue
    %tr#add_revenue
      %td
        = link_to_add_association :'+', f, :budgets, partial: 'budget_fields', render_options:{locals:{direction: :revenue}}, data:{association_insertion_node: 'tr#add_revenue', association_insertion_traversal: 'closest', association_insertion_method: :before}
