= field_set do
  = f.referenced_association :activity, :source => :main
  = f.referenced_association :campaign, :source => :currents
  = f.referenced_association :variant
  = f.referenced_association :support_variant
  = f.input :static_support, :show => :supports
  = f.input :state, as: :radio_buttons
  = f.input :started_at
  = f.input :stopped_at
  = f.input :working_indicator
  = f.input :working_unit
  = f.custom_fields

= field_set(:budgets) do
  = render 'budget_form', f: f
