.nested-fields
  = link_to_remove_nested_association(:marker, f)
  = f.input(:indicator_name)
  -# = f.input(:indicator_datatype)
  -# = f.input(:value)
  = f.input(:aim, as: :radio_buttons)
  = f.input(:subject, as: :radio_buttons)
  = f.input(:derivative)
