%tr.nested-fields.support
  %td= f.referenced_association :storage, :source => :supportables, wrapper: :nested
  %td= f.input :production_usage, wrapper: :nested
  %td.support-quantity.decimal= f.object.get(f.object.production.working_indicator).to_d(f.object.production.working_unit).round(4) rescue 0
  %td.support-unit= Nomen::Units[f.object.production.working_unit].symbol rescue "-"
  %td= link_to_remove_nested_association(:support, f)
