.items.supports
  %table.table
    %thead
      %tr
        %th= ProductionSupport.human_attribute_name(:storage)
        %th= ProductionSupport.human_attribute_name(:production_usage)
        %th= ProductionSupport.human_attribute_name(:current_quantity)
        %th= ProductionSupport.human_attribute_name(:quantity)
        %th
    - precision = Nomen::Currencies[Preference[:currency]].precision
    %tfoot
      %tr.total
        %th= link_to_add_association :add_support.tl, f, :supports, partial: 'support_fields', 'data-association-insertion-node' => '#supports', 'data-association-insertion-method' => :append, class: "btn primary"
        %th{colspan: 2}= :total.tl
        %td.decimal
          %span#supports-quantity{data: {use: ".nested-fields input.support-quantity", calculate: "sum", calculate_round: precision, use_closest: ".fieldset-fields"}}
          - unit = Nomen::Units[f.object.support_variant_unit]
          %span.working-unit= (unit ? unit.symbol : "?")
        %th
    %tbody#supports
      = f.simple_fields_for :supports, resource.supports do |item|
        = render 'support_fields', f: item
