%tr.nested-fields.support
  - variant = f.object.production.support_variant
  - source = {scope: {supportables: true}}
  - source[:scope][:of_variant] = variant.id if variant
  %td= f.referenced_association :storage, source: source, wrapper: :nested
  %td= f.input :production_usage, wrapper: :nested
  %td.decimal
    %span.support-current-quantity= (f.object.storage ? f.object.current_quantity : 0).round(4)
    %span.support-unit= Nomen::Units[f.object.unified_quantity_unit].symbol
  %td.decimal
    = f.input :quantity, wrapper: :nested_append do
      = f.input_field :quantity, class: "support-quantity", data: {calculate_round: 2}, size: 5
      %span.add-on.support-unit= Nomen::Units[f.object.unified_quantity_unit || :unity].symbol
  %td= link_to_remove_nested_association(:support, f)
