%td.nested-fields
  %table
    %tr
      = f.referenced_association(:storage, :source => :supportables)
    %tr
      = f.object.working_indicator_value
      = link_to_remove_nested_association(:support, f)
    %tr
      = f.input(:started_at)
    %tr
      = f.input(:stopped_at)
    %tr
      = f.input :nature
    %tr
      = f.input :irrigated
