%td.nested-fields
  = f.input :name
  = f.input :started_at
  = f.input :stopped_at
  = f.input :nature
  = f.input :irrigated
  = link_to_remove_nested_association(:support, f)
  = f.object.working_indicator_value
