= field_set do
  = f.input :nature, as: :radio_buttons, show: '#{{value}}_options', label_method: lambda {|a| a.last.tl}
  = f.referenced_association :entity, new: { nature: :contact }, source: { scope: :contacts }
  = f.referenced_association :contract_nature, new: false, label: :contract_nature.tl
  = f.input :name
  = f.input :description, as: :text
  = f.custom_fields

  = f.attachments

= field_set do
  = f.input :started_at
  = f.input(:monthly_duration, wrapper: :append) do
    = f.input(:monthly_duration, wrapper: :simplest)
    = content_tag(:span, 'h', class: 'add-on')
  = f.input(:raw_hourly_amount, wrapper: :append) do
    = f.input(:raw_hourly_amount, wrapper: :simplest)
    = content_tag(:span, '€', class: 'add-on')

= field_set(:worker_options) do
  = f.input :salaried
  = f.input :stopped_at
