- main_toolbar do |t|
  = t.edit resource

= main_informations attachment: true do
  .big-infos
    .med-info.important
      %span.title= :worker_contract_started_at.tl
      %span.value= resource.started_at.l
    .med-info.important
      %span.title= :monthly_duration.tl
      %span.value= resource.monthly_duration.in(:hour).round(2).l
    .med-info.important
      %span.title= :worker_contract_raw_hourly_amount.tl
      %span.value= resource.raw_hourly_amount.l(currency: Preference[:currency])
  - if resource.reference_name.present?
    .big-infos
      .med-info.important
        %span.title= :worker_contract_year_charged_cost.tl
        %span.value= resource.cost(period: :year, mode: :charged)&.l(currency: Preference[:currency], precision: 2)
      .med-info.important
        %span.title= :worker_contract_month_charged_cost.tl
        %span.value= resource.cost(period: :month, mode: :charged)&.l(currency: Preference[:currency], precision: 2)
      .med-info.important
        %span.title= :worker_contract_hour_charged_cost.tl
        %span.value= resource.cost(period: :hour, mode: :charged)&.l(currency: Preference[:currency], precision: 2)

  = attributes_list do |l|
    - l.attribute :entity, label: :full_name, url: true
    - l.attribute :salaried
    - l.attribute :description
