= kujaku do |k|
  - k.text
  - sm = TaxDeclaration.state_machine.states
  - k.multi_choice :state, [:draft, :validated,:sent].map{|s| [sm[s].human_name, s] }, label: TaxDeclaration.human_attribute_name(:state)
  - k.helper :journal_period_crit
  - responsibles = User.where(id: Purchase.select(:responsible_id).distinct)
  - if responsibles.any?
    - k.helper do
      %label= Purchase.human_attribute_name(:responsible)
      = select_tag(:responsible_id, options_for_select([[]] +  responsibles.map{|u| [u.label, u.id]}, params[:responsible_id].to_i))
- main_toolbar do |t|
  = t.new
= main_list
