- main_toolbar do |t|
  = t.edit resource if resource.draft?
  = t.destroy if resource.destroyable?

= main_state_bar(resource)

= main_informations attachment: true do
  = attributes_list do |l|
    - l.attribute :number
    - l.attribute :started_on
    - l.attribute :stopped_on
    - l.attribute :mode
    - l.attribute :financial_year, url: true
    - l.attribute :reference_number unless resource.reference_number.blank?
    - l.attribute :responsible, label: :full_name
    - l.attribute :description unless resource.description.blank?
    - l.attribute :journal_entry, url: true if resource.journal_entry

= cobbles do |c|

  - c.cobble :items, title: TaxDeclaration.human_attribute_name(:items) do
    -# = cobble_list :items do
    - columns = [:deductible, :fixed_asset_deductible, :collected, :balance]
    %table.list
      %thead
        %tr
          %th= TaxDeclarationItem.human_attribute_name(:tax)
          %th
          - columns.each do |column|
            %th= TaxDeclarationItem.human_attribute_name(column)
      %tfoot
        %tr.total
          %th{ colspan: 2 }= :totals.tl
          - columns.each do |column|
            %td.decimal
              .tax-amount= resource.items.sum("#{column}_tax_amount").l(currency: resource.currency)
              %small.pretax-amount= resource.items.sum("#{column}_pretax_amount").l(currency: resource.currency)
        %tr.total
          - to_pay = resource.items.sum(:balance_tax_amount)
          - if to_pay >= 0
            %th{ colspan: 5}= :to_pay.tl
            %td= to_pay.l(currency: resource.currency)
          - else
            %th{ colspan: 5}= :to_reclaim.tl
            %td= (-to_pay).l(currency: resource.currency)

      - resource.items.order(:id).each do |item|
        %tbody
          %tr
            %td= link_to(item.tax_name, { controller: :taxes, action: :show, id: item.tax_id })
            %td.decimal= number_to_percentage(item.tax.amount)
            - columns.each do |column|
              %td.decimal
                .tax-amount= item.send("#{column}_tax_amount").l(currency: item.currency)
                %small.pretax-amount= item.send("#{column}_pretax_amount").l(currency: item.currency)

  -# c.cobble :affair do
    = affair_of(resource, default: 'OutgoingPayment')
