=sales_steps

=formalize do |f|
  -f.error :outgoing_delivery
  -f.title :infos
  -f.field :outgoing_delivery, :contact_id, :choices=>:outgoing_delivery_contacts, :new=>{:controller=>:relations, :action=>:contact_create, :entity_id=>@sales_order.client_id} 
  -f.field :outgoing_delivery, :mode_id, :choices=>{:reflection=>:outgoing_delivery_modes}, :new=>{:action=>:outgoing_delivery_mode_create}
  -f.field :outgoing_delivery, :planned_on
  -f.field :outgoing_delivery, :transporter_id, :choices=>{:reflection=>:transporters, :include_blank=>""}, :new=>{:controller=>:relations, :action=>:entity_create, :transporter=>1}
%h2=OutgoingDelivery.human_attribute_name("lines")
%table.kame 
  %tr
    %th=OutgoingDeliveryLine.human_attribute_name(:product)
    %th=tc(:unit_price_pretax_amount)
    %th=tc(:unit_price_amount)
    %th=tc(:total_quantity)
    %th=OutgoingDeliveryLine.human_attribute_name(:unit)
    %th=tc(:quantity_rest)
    %th=tc(:quantity)
    %th=OutgoingDeliveryLine.human_attribute_name(:pretax_amount)
    %th=OutgoingDeliveryLine.human_attribute_name(:amount)
  -for line in @outgoing_delivery_lines
    %tr{:class=>cycle('odd','even')}
      %td=line.order_line.label
      %td.dec{:class=>"pta-#{line.order_line_id}"}=line.order_line.price.pretax_amount
      %td.dec{:class=>"awt-#{line.order_line_id}"}=line.order_line.price.amount
      %td.dec=line.order_line.quantity
      %td=line.order_line.unit.label
      %td.dec=line.order_line.undelivered_quantity
      %td{:style=>'text-align:center'}
        =text_field_tag "outgoing_delivery_line[#{line.order_line_id}][quantity]", line.quantity, :id=>"outgoing_delivery_line_#{line.order_line_id}_quantity", :onkeyup=>"t6(this, #{line.order_line.undelivered_quantity});", :class=>"pta-#{line.order_line_id} awt-#{line.order_line_id}"
        =#observe_field "outgoing_delivery_line_#{line.order_line_id}_quantity", :url=>{:action => :sum_calculate}, :frequency => 0.25, :with=>"Form.serialize('#{@outgoing_delivery_form}')"
      %td.dec.pta{"mul-of"=>"pta-#{line.order_line_id}"}
      %td.dec.awt{"mul-of"=>"awt-#{line.order_line_id}"}
  %tr.total
    %th{:colspan=>7}=tg :total
    %td#total_pretax_amount{"sum-of"=>"pta"}=@outgoing_delivery.pretax_amount
    %td#total_amount{"sum-of"=>"awt"}=@outgoing_delivery.amount
  :javascript
    window.t6 = function(element, max) {
      compute("total_pretax_amount");
      compute("total_amount");
      if (element !== null) {
        if (isNaN(element.value) || (!isNaN(element.value) && parseFloat(element.value)>max)) {
          element.addClassName("invalid");
        } else {
          element.removeClassName("invalid");
        }
      }
    }
    t6();

