- if @checks.size > 0
  - form_tag do
    %table.dyta
      %tr
        %th= tc('amount')
        %th= tc('to_bank_on')
        %th= tc('entity_name')
        %th= tc('embanker')
        %th= tc('embank')
      - for @check in @checks
      -klass=cycle("odd","even")
        %tr{:class=>klass}
          %td=@check.amount
          %td=@check.to_bank_on
          %td=@check.entity.full_name
          -if !@check.embanker.nil?
            %td=@check.embanker.first_name+" "+@check.embanker.last_name
          -else
            %td
          %td{:style=>'text-align:center'}
            - if @check.to_bank_on <= Date.today
              =check_box_tag "check[#{@check.id}]","#{@check.id}",true,:id=>"check_#{@check.id}"
            - else
              =check_box_tag "check[#{@check.id}]","#{@check.id}",false,:id=>"check_#{@check.id}"


    .actions
      =submit_tag(tc('validate'), :action=>:embankment_payment_create)
-else
  %p{:style=>'text-align:center'}= tc('no_checks')
  .actions
    =link_to tc(:back), :action=>:embankment_create
