-form_tag() do
  -for location in @current_company.locations
    -if location.reservoir
      %h2= location.name+" : "+tc('reservoir')
    -else 
      %h2= location.name
    %table.dyta 
      %tr
        %th= tc('product')
        %th= tc('unit')
        %th= tc('theoric_quantity')
        %th= tc('quantity')
      - for stock in location.stocks
        %tr
          %td= stock.product.name
          %td= stock.product.unit.label
          %td= stock.quantity
          %td= text_field_tag "stock[#{stock.id}]", stock.quantity, :id=>"stock__#{stock.id}_quantity"

  .actions
    =link_to tg(:previous), :action=>:inventories
    =submit_tag(tc('validate_and_reflect_changes'), :action=>:inventory_consult)
