=toolbar do |t|
  -t.link :invoice_print, :id=>@invoice.id

%table
  %tr
    %td
      = evalue @invoice, :number
      = evalue @invoice, :client, :label=>:full_name
      = evalue @invoice, :contact, :label=>:address
      = evalue @invoice, :payment_on
    %td
      = evalue @invoice, :amount
      = evalue @invoice, :amount_with_taxes
      = evalue @invoice, :credit
      = evalue @invoice, :sale_order, :label=>:number, :url=>{:action=>:sale_order}
      = evalue @invoice, :origin, :label=>:number, :url=>{:action=>:invoice} if !@invoice.origin.nil?

%h2= tc(:invoice_lines) 
=dyta :invoice_credit_lines


- if !@invoice.credit
  %h2= tc(:credits)
  =dyta :credits
