-if !session[:errors].nil?
  -if !session[:errors].empty?
    .errorExplanation
      %h2=session[:errors].size.to_s+" erreur(s) ont empéché l'enregistrement"
      %p Il y a eu des problèmes avec les champs suivantes :
      %ul
        -for error in session[:errors]
          %li= error.to_s


=error_messages_for('invoice', :object=>@credit) if @credit


- form_tag() do
  =dyta :credit_lines

  .actions
    =#link_to tg(:previous), :action=>:invoices
    =submit_tag(tc('validate'), :action=>:invoice_cancel)


#old 
  %table.dyta{:style=>'display:none'}
    %tr
      %th= tc('product')
      %th= tc('price_amount')
      %th= tc('price_amount_with_taxes')
      %th= tc('unit')
      %th= tc('total_quantity')
      %th= tc('already_credited_quantity')
      %th= tc('quantity_to_credit')
    - for line in @invoice.lines
      %tr{:class=>cycle('odd','even')}
        %td= line.product.name
        %td= line.price.amount
        %td= line.price.amount_with_taxes
        %td= line.product.unit.name
        %td= line.quantity
        %td= line.credited_quantity
        -if line.uncredited_quantity <= 0
          %td= 0
        -else
          %td= text_field_tag "credit_lines[#{line.id}][quantity]", line.uncredited_quantity, :id=>"credit_lines_#{line.id}_quantity"
 
