=toolbar do |t|
  -t.link :sales_products, :id=>@sale_order.id
  -t.link :sales_print, :id=>@sale_order.id

%h2= tc 'general_informations'
%table
  %tr
    %td
      =evalue @sale_order, :nature
      =evalue @sale_order, :contact, :label=>:address
      -if (@sale_order.contact_id != @sale_order.delivery_contact_id) || (@sale_order.contact_id != @sale_order.invoice_contact_id)
        =evalue @sale_order, :delivery_contact, :label=>:address
        =evalue @sale_order, :invoice_contact, :label=>:address
      =evalue @sale_order, :created_on
    %td
      =evalue @sale_order, :amount
      =evalue @sale_order, :amount_with_taxes
      =evalue @sale_order, :payment_delay, :label=>:name
      =evalue @sale_order, :confirmed_on
    %td
      =evalue @sale_order, :comment if !@sale_order.comment.empty?

%h2= tc 'sale_order_lines'
=dyta :sale_lines
%h2= tc 'deliveries'
=dyta :deliveries
%h2= tc 'invoices' 
=dyta :invoice_lines
%h2= tc 'payments'
=toolbar do |t|
  -t.link :payments_create if @sale_order.state == 'R' and @sale_order.unpaid_amount>0
=dyta :payments

.actions
  =link_to_back
