= field_set do
  = f.input :name
  = f.input :serial
  = f.input :active

= field_set(:details) do
  = f.referenced_association :product
  = f.referenced_association :producer
  = f.input :description, as: :text
  = f.input :used_by_type
  = f.input :used_by_on
  = f.custom_fields


