= field_set do
  = f.input :loan_id, as: :hidden
  = f.input :position, as: :hidden
  = f.input :due_on
  = f.input :amount
  = f.input :base_amount
  = f.input :interest_amount
  = f.input :insurance_amount
  = f.input :remaining_amount

