- main_toolbar do |t|
  - t.export do |e|
    - e.deposit_list resource.number, resource
  - t.edit resource

= attributes_list do |l|
  - l.attribute :number
  - l.attribute :cash, url: true
  - l.attribute :mode # , url: true
  - l.attribute :payments_count
  - l.attribute :responsible
  - l.attribute :description
  - l.attribute :journal_entry, url: true

%h2= Deposit.human_attribute_name(:payments)
= list :payments

%table.list
  %tr.total
    %th= :payments_count.tl(mode: resource.mode.name)
    %td= resource.payments_count
  %tr.total.important
    %th= :total.tl
    %td= resource.amount.l(currency: resource.currency)
