= field_set do
  = f.input :name
  - if f.object.new_record?
    = f.input :root_model, collection: root_models
  = f.input :conditions
  = f.input :description
  = f.custom_fields
  = render 'nodes_form'

