:ruby
  item = reconciliation_row_form || {}
  @@item_count = 0 unless defined?(@@item_count)
  id = "e" + @@item_count.to_s(36)
  @@item_count += 1

%tr.bank-statement-item-type{ class: "#{id}-bank-statement-item" }
  %td.hidden= hidden_field_tag "items[#{id}][transfered_on]", item.transfered_on
  - if item.debit != 0 || item.credit != 0
    %td.hidden= hidden_field_tag "items[#{id}][debit]", item.debit
    %td.hidden= hidden_field_tag "items[#{id}][credit]", item.credit
  %td.hidden= hidden_field_tag "items[#{id}][letter]", item.letter, class: "bank-statement-letter"
  %td.hidden= hidden_field_tag "items[#{id}][initiated_on]", item.initiated_on
  %td.hidden= hidden_field_tag "items[#{id}][transaction_number]", item.transaction_number

  %td.del
    = link_to "#", class: "destroy" do
      %i
  %td.type-icon
    %i
  %td.name= text_field_tag("items[#{id}][name]", item.name, class: "name")
  %td
  - if item.debit != 0 || item.credit != 0
    %td.center.debit= item.debit
  - else
    %td.center
      = text_field_tag "items[#{id}][debit]", (item.debit || 0.0), id: "items_#{id}_debit", class: "center debit", data: { exclusive_nullify: "#items_#{id}_credit" }
  - if item.debit != 0 || item.credit != 0
    %td.center.credit= item.credit
  - else
    %td.center
      = text_field_tag "items[#{id}][credit]", (item.credit || 0.0), id: "items_#{id}_credit", class: "center credit", data: { exclusive_nullify: "#items_#{id}_debit" }
  %td.center.bank-statement-letter= item.letter
  %td.clear
    %a{ href: "#" }
      %i
      Effacer
  %td
