= cobbles do |c|
  - c.cobble :profile do
    = simple_form_for([:backend, @user], url: backend_myself_path, method: :patch) do |f|
      = f.input :first_name
      = f.input :last_name
      = f.input :language, collection: available_languages
      = form_actions do
        = f.submit :update.ta, class: 'primary'

  - c.cobble :change_password do
    = simple_form_for([:backend, @user], url: change_password_backend_myself_path, method: :patch) do |f|
      = f.input :current_password
      = f.input :password
      = f.input :password_confirmation
      = form_actions do
        = f.submit :update.ta, class: 'primary'
