= kujaku do |k|
  - k.criterion do
    = tc(:manual_period, start: date_field_tag(:started_at, params[:started_at], size: 8), finish: date_field_tag(:stopped_at, params[:stopped_at], size: 8)).html_safe


:ruby
  conditions = Proc.new{ |x|
    ["state = 'invoice' AND ? BETWEEN ? AND ? ", x, params[:started_at], params[:stopped_at]]
  }
= beehive do |b|
  - b.cell :x_sales_invoices, count: current_user.sales.where(conditions[:invoiced_at]).count(:id) do
    .big-infos
      .big-info
        %span.title= Sale.human_attribute_name(:pretax_amount)
        %span.value= current_user.sales.sum(:pretax_amount).l(currency: Preference[:currency])
      .big-info
        %span.title= Sale.human_attribute_name(:amount)
        %span.value
          - invoiced_amount = current_user.sales.where(conditions[:invoiced_at]).sum(:amount)
          = invoiced_amount.l(currency: Preference[:currency])
      .big-info.important
        %span.title= tc(:total_paid_amount)
        %span.value
          - paid_amount = current_user.sales.where(conditions[:invoiced_at]).sum(:downpayment_amount)
          = paid_amount.l(currency: Preference[:currency])
      .big-info
        %span.title= tc(:total_unpaid_amount)
        %span.value= (invoiced_amount - paid_amount).l(currency: Preference[:currency])
      - if invoiced_amount > 0
        .big-info
          %span.title= tc(:profitability)
          %span.value= number_to_percentage 100*(paid_amount/invoiced_amount)
  - started_at, stopped_at = params[:started_at].beginning_of_day, params[:stopped_at].end_of_day
  - cond = ["created_at BETWEEN ? AND ?", started_at, stopped_at]
  -# b.cell :x_events, count: current_user.events.where(cond).count do
    %ul
      - for event_nature in Nomen::EventNatures.all
        - cond = ["nature_id=? AND created_at BETWEEN ? AND ?", event_nature.id, started_at, stopped_at]
        %li= tc(:x_events_of_nature_y, count: current_user.events.where(cond).count.to_i, nature: event_nature.name, duration: current_user.events.where(cond).sum(:duration).to_i)
