= field_set do
  - if resource.new_record?
    = f.referenced_association :cash, source: :pointables
  = f.input :number
  = f.input :started_at
  = f.input :stopped_at
  = f.custom_fields

= f.attachments_field_set