= field_set do
  - if resource.new_record?
    = f.referenced_association :cash, as: :hidden, source: :pointables
  = f.input :number
  = f.input :started_on
  = f.input :stopped_on
  = f.custom_fields

= field_set BankStatement.human_attribute_name(:items) do
  .items
    %table#items-table
      %thead
        %tr
          %th= BankStatementItem.human_attribute_name(:name)
          %th= BankStatementItem.human_attribute_name(:transfered_on)
          %th{ colspan: 2 }= BankStatementItem.human_attribute_name(:debit)
          %th{ colspan: 2 }= BankStatementItem.human_attribute_name(:credit)
          %th
      %tfoot
        %tr#total.total
          %th
            = link_to_add_association :add_item.tl, f, :items, partial: 'item_fields', data: { association_insertion_node: '#items-table', association_insertion_method: :append }, class: "btn primary"
          %th
            %span= :total.tl
          %td#debit.decimal{data: {use: "input.debit", calculate_round: 2}}=  resource.debit
          %td.txt= resource.currency
          %td#credit.decimal{data: {use: "input.credit", calculate_round: 2}}= resource.credit
          %td.txt= resource.currency
          %th.action
      - f.object.items.build unless f.object.items.any?
      = f.simple_fields_for :items do |item|
        = render 'item_fields', f: item

= f.attachments_field_set
