= form_tag(reconciliate_backend_bank_reconciliation_items_path, method: :get) do
  = hidden_field_tag :cash_id, params[:cash_id]
  = field_set do
    = field BankStatement.human_attribute_name(:started_on), date_field_tag(:period_start)
    = field BankStatement.human_attribute_name(:stopped_on), date_field_tag(:period_end)
  = form_actions do
    = submit_tag :validate.tl
