- main_toolbar do |t|
  = t.edit resource

= form_tag do
  = hidden_field_tag :bank_statement_id, resource.id

  = field_set(:details) do
    = attributes_list stamps: false do |l|
      - l.attribute(:number)
      - l.attribute(:started_on)
      - l.attribute(:stopped_on)

  = field_set(:items) do
    #items-form.bank-statement-items-form{href: new_backend_bank_statement_path, data: {refresh: new_backend_bank_statement_path, refresh_mode: :update, with: "#bank_statement_id"}}
      = render "items_form"

  = form_actions do
    = submit_tag :save.tl
    = link_to :cancel.tl, :back, class: "btn"
