= form_tag(reconciliate_bank_statements_backend_bank_reconciliation_items_path, method: :get) do
  = hidden_field_tag :cash_id, params[:cash_id]
  = field_set do
    = field :started_at.tl, date_field_tag(:period_start)
    = field :stopped_at.tl, date_field_tag(:period_end)
  = form_actions do
    = submit_tag :validate.tl
