- main_toolbar do |t|
  - t.edit resource

= form_tag do

  = field_set :details do
    = attributes_list stamps: false do |l|
      - l.attribute(:number)
      - l.attribute(:started_at)
      - l.attribute(:stopped_at)

  = field_set :entries_to_point do
    .active-list
      %table.list

        %thead
          %tr
            %th
            %th= JournalEntry.human_attribute_name(:printed_on)
            %th= JournalEntryItem.human_attribute_name(:name)
            %th= JournalEntryItem.human_attribute_name(:debit)
            %th= JournalEntryItem.human_attribute_name(:credit)
            %th= JournalEntry.human_attribute_name(:number)


        - precision = Nomen::Currencies[resource.currency].precision
        %tfoot
          %tr.total
            %th{colspan: 3}= :total.tl
            %td#total-debit{data:  {use: "tr.selected .debit", calculate_round: precision}}=  resource.debit  || 0
            %td#total-credit{data: {use: "tr.selected .credit", calculate_round: precision}}= resource.credit || 0
            %th
          - if previous = resource.previous
            %tr.total
              %th{colspan: 3}= :previous_bank_statement.tl(number: previous.number, started_at: previous.started_at, stopped_at: previous.stopped_at)
              %td#previous-debit=  previous.balance_debit  || 0
              %td#previous-credit= previous.balance_credit || 0
              %th
            %tr.total
              %th{colspan: 3}= :cumul.tl(number: previous.number, started_at: previous.started_at, stopped_at: previous.stopped_at)
              %td#cumul-debit{data:  {use: "#total-debit, #previous-debit", calculate_round: precision}}=   previous.balance_debit  || 0
              %td#cumul-credit{data: {use: "#total-credit, #previous-credit", calculate_round: precision}}= previous.balance_credit || 0
              %th
            %tr.total
              %th{colspan: 3}= :balance.tl
              %td#balance-debit{data:  {balance: "#cumul-debit - #cumul-credit", calculate_round: precision}}= previous.balance_debit  || 0
              %td#balance-credit{data: {balance: "#cumul-credit - #cumul-debit", calculate_round: precision}}= previous.balance_credit || 0
              %th

        %tbody
          - for journal_entry_item in @journal_entry_items
            - checked = (journal_entry_item.bank_statement_id == resource.id)
            - trid, conf = "e#{journal_entry_item.id}", {}
            %tr{id: trid, class: (checked ? "selected " : "") + cycle("even", "odd")}
              %td.chk
                - if journal_entry_item.bank_statement_id.nil? or checked
                  = check_box_tag("journal_entry_item[#{journal_entry_item.id}][checked]", "1", checked, id: "journal_entry_item_#{journal_entry_item.id}_checked", data: {add_class: "selected", add_class_to: "##{trid}"})
                  - conf = {data: {click: "#journal_entry_item_#{journal_entry_item.id}_checked"}}
                - else
                  = link_to(journal_entry_item.bank_statement.number, action: :show, id: journal_entry_item.bank_statement.id)
              %td.date{conf}= journal_entry_item.entry.printed_on.l
              %td{conf}= journal_entry_item.name
              %td.dec.debit{conf}=  number_to_accountancy(journal_entry_item.debit)
              %td.dec.credit{conf}= number_to_accountancy(journal_entry_item.credit)
              %td= link_to(journal_entry_item.entry.number, action: :show, controller: :journal_entries, id: journal_entry_item.entry_id)

  = form_actions do
    = submit_tag :save.tl
