- content_for(:main_toolbar) do
  = button_tag(:reset.tl, type: :button, class: "btn btn-default", id: "reset_reconciliation")
  = button_tag(:auto_reconciliate.tl, type: :button, class: "btn btn-default", id: "auto_reconciliation")

= field_set(:entries_to_point) do
  .reconciliation-list{ data: { currency_precision: Nomen::Currency.find(@bank_statement.currency).precision } }
    .legend
      .buttons
        = dropdown_menu_button :new_outgoing_payment, icon: false do |menu|
          - PurchaseNature.find_each do |nature|
            - menu.item nature.name, new_backend_quick_affair_path(mode: :outgoing, nature_id: nature.id, redirect: url_for), tabindex: -1, method: :get, class: 'from-selected', title: nature.name
        = dropdown_menu_button :new_incoming_payment, icon: false do |menu|
          - SaleNature.find_each do |nature|
            - menu.item nature.name, new_backend_quick_affair_path(mode: :incoming, nature_id: nature.id, redirect: url_for), tabindex: -1, method: :get, class: 'from-selected', title: nature.name
      %p= :initial_balance_of_bank_statement.tl
      .amounts
        .debit
          %p.title= BankStatementItem.human_attribute_name(:debit)
          .field= @bank_statement.initial_balance_debit || 0.0
        .credit
          %p.title= BankStatementItem.human_attribute_name(:credit)
          .field= @bank_statement.initial_balance_credit || 0.0
      .details
        %label
          %input#hide-lettered{ type: :checkbox, checked: true }
          = :hide_lettered_lines.tl

    -# JS template for DatePicker.
    .date-section.hidden
      = render 'date_header', date: nil, bank_statement: @bank_statement
    - @items_grouped_by_date.each do |date, items|
      .date-section
        = render 'date_header', date: date, bank_statement: @bank_statement
        - items.each do |item|
          = render 'reconciliation_item', item: item

    .totals
      #matching
        .title
          #new-item= date_field_tag "add-bank-statement-item-date", nil, id: "add-bank-statement-item-date", data: { label: :add_line.tl, classes: "btn btn-new icn" }
          %p= :reconciled_total.tl
        .amounts
          .credit= 0
          .debit= 0
        .details
      #to-match
        .title
          %p= :remaining_amount_to_reconcile.tl
        .amounts
          .credit= 0
          .debit= 0
        .details
      #final
        .title
          %p= :final_balance.tl
        .amounts
          .credit{ data: { use: "#initial_balance_debit,.bank-statement-item-type .debit", calculate_round: 2 } }= 0
          .debit{ data: { use: "#initial_balance_debit,.bank-statement-item-type .debit", calculate_round: 2 } }= 0
        .details
