- main_toolbar do |t|
  = t.edit resource
  = t.point resource

= main_informations attachment: true do
  = attributes_list do |l|
    - l.attribute(:number)
    - l.attribute(:cash, url: true)
    - l.attribute(:credit, currency: true)
    - l.attribute(:debit, currency: true)
    - l.attribute(:started_at)
    - l.attribute(:stopped_at)

= cobbles do |c|

  - c.cobble :items, label: BankStatement.human_attribute_name("items") do
    = cobble_list(:items)
