%ul.desc-list
  - [User, Team, Account, FinancialYear, ProductNatureCategory, ProductNature, ProductNatureVariant, Campaign, Worker, Building, LandParcel, Settlement].each do |model|
    %li.link
      - collection = model.name.underscore.pluralize
      = link_to(controller: "/backend/#{collection}", action: :index) do
        %h3
          = "actions.backend/#{collection}.index".t
          %span.badge= model.count
