- if @intervention
  - targets = @intervention.casts.of_generic_role(:target)
  - targets = @intervention.casts.of_generic_role(:input) unless targets.any?
  - if target = targets.first and actor = target.actor
    = map(actor, box: {height: 240})
  .info
    %span.title= Intervention.human_attribute_name(:name)
    %span.value= link_to(@intervention.name, controller: "/backend/interventions", action: :show, id: @intervention.to_param)
  .info
    %span.title= Intervention.human_attribute_name(:casting)
    %span.value= @intervention.casting
  - if @intervention.started_at?
    .info
      %span.title= Intervention.human_attribute_name(:started_at)
      %span.value= @intervention.started_at.l
    .info
      %span.title= Intervention.human_attribute_name(:duration)
      %span.value= human_duration(@intervention.duration)
    .info
      %span.title= Intervention.human_attribute_name(:state)
      %span.value= @intervention.state.l
    - total = 0
    - for type in [:input, :tool, :doer]
      - cost = (@intervention.cost(type) || 0.0).round
      - total += cost
      .info
        %span.title= "evaluated_#{type}_cost".tl
        %span.value= cost.l(currency: Preference[:currency])
    .big-info.important
      %span.title= :total_cost.tl
      %span.value= total.l(currency: Preference[:currency])

- else
  = no_data
