- item_partial = 'item_fields'
= field_set :general_informations do
  = f.input :nature, as: :hidden
  - if f.object.incoming?
    - item_partial = 'incoming_item_fields'
    #nature-incoming
      = f.referenced_association :sender
  - elsif f.object.outgoing?
    #nature-outgoing
      = f.referenced_association :recipient
  = f.referenced_association :address, source: :mails
  = f.referenced_association :storage, source: :storage
  = f.input :with_delivery
  = f.input :delivery_mode, as: :radio_buttons
  #delivery-mode-transporter
    = f.referenced_association :transporter, source: :transporters, new: {transporter: 1}
  -#= f.referenced_association :sale
  = f.input :planned_at
  - if f.object.outgoing?
    = f.input :remain_owner
  = f.custom_fields
  = f.attachments
  -# = f.object.errors.inspect


- if f.object.items.any?(&:updateable?)
  = field_set resource_model.human_attribute_name(:items) do
    %table.list
      %thead
        %tr
          %th.act
          %th= ParcelItem.human_attribute_name(:product)
          -# %th= ParcelItem.human_attribute_name(:parted)
          %th= ParcelItem.human_attribute_name(:quantity)
          -# %th= ParcelItem.human_attribute_name(:shape)
          %th= ParcelItem.human_attribute_name(:analysis)

      %tbody#items
        = f.simple_fields_for :items, resource.items do |item|
          - if item.object.updateable?
            = render item_partial, f: item
      %tfoot
        %tr.total
          %th{colspan: 4}= link_to_add_association :add_item.tl, f, :items, partial: item_partial, 'data-association-insertion-node' => '#items', 'data-association-insertion-method' => :append, class: "btn primary"

