- item ||= f.object
%tr.nested-fields.delivery-item.incoming-parcel-item
  %td.act
    - if f.object.destroyable?
      = link_to_remove_association(content_tag(:i) + h(:destroy.tl), f, 'data-no-turbolink' => true, class: 'destroy remove remove-item')
  %td
    = f.referenced_association(:variant, wrapper: :nested, source: { scope: :deliverables }, input_html: {data: {product_of_delivery_item: {url: backend_product_nature_variant_path("RECORD_ID", format: :json)}}})
    -# .errors= item.errors.inspect
  %td
    .item-quantifier
      .item-quantifier-population
        = f.input :population, wrapper: :nested_append do
          = f.input_field :population, class: "item-population", placeholder: (item.source_product ? item.source_product.population.to_s : nil)
          %span.add-on.item-population-unit-name{data: {selector: {update: "parcel_item_variant_id", update_with: "unit-name", "use-closest": "tr"} }}
            = item.variant ? item.variant.unit_name : '#'
  %td= f.referenced_association(:analysis, wrapper: :nested)
