= form_tag do
  = field_set do
    = field Delivery.human_attribute_name(:transporter), content_tag(:span, selector_tag(:transporter_id, {controller: :entities, action: :unroll}, value: params[:transporter_id], new: backend_entity_path(transporter: 1)), class: "input-append")
    = field Delivery.human_attribute_name(:responsible), content_tag(:span, selector_tag(:responsible_id, {controller: :entities, action: :unroll, scope: :contacts}, value: params[:responsible_id], new: backend_entity_path), class: "input-append")
  = form_actions do
    = submit_tag :ship.ta
