- main_toolbar do |t|
  - t.edit resource if resource.updateable?
  - t.destroy(resource, method: :delete, "data-confirm" => :are_you_sure_you_want_to_delete.tl, params: {redirect: nil}) if resource.destroyable?

= main_state_bar(resource)

= main_informations attachment: true do
  = attributes_list do |l|
    - l.attribute :number
    - l.attribute :nature
    - l.attribute :delivery_mode
    - l.attribute :delivery, url: true
    -# l.attribute :net_mass
    - l.attribute :sale, url: true
    - l.attribute :purchase, url: true
    - l.attribute :address
    - l.attribute :transporter, url: true

= cobbles do |c|

  - c.cobble :items, title: resource_model.human_attribute_name(:items) do
    = cobble_list :items
