- main_toolbar do |t|
  = t.edit resource if resource.updateable?
  = t.destroy

= main_state_bar(resource)

= main_informations attachment: true do
  = attributes_list do |l|
    - l.attribute :number
    - l.attribute :nature
    - l.attribute :sender, url: true
    - l.attribute :delivery_mode
    - l.attribute :delivery, url: true
    -# l.attribute :net_mass
    - l.attribute :sale, url: true
    - l.attribute :purchase, url: true
    - l.attribute :address
    - l.attribute :transporter, url: true
    - l.attribute :planned_at
    - l.attribute :ordered_at
    - l.attribute :in_preparation_at
    - l.attribute :prepared_at
    - l.attribute :given_at


= cobbles do |c|

  - c.cobble :items, title: resource_model.human_attribute_name(:items) do
    - if resource.incoming?
      = cobble_list :incoming_items
    - else
      = cobble_list :outgoing_items
