= field_set do
  = f.input :number
  = f.input :name
  = f.input :reconcilable
  = f.input :description, :field => :text
  = f.input :usages, collection: Nomen::Account.list.collect { |c| [c.human_name, c.name.to_s] }
  = f.custom_fields
