= field_set do
  = f.input :nature, as: :radio_buttons, show: '.{{value}}-nature-options'
  .general-nature-options.centralizing-nature-options
    = f.input :number
  .auxiliary-nature-options
    = f.input :auxiliary_number
    = f.input :centralizing_account, collection: Account.centralizing
  = f.input :name
  = f.input :description, as: :text
  = f.input :usages, collection: Nomen::Account.selection
  = f.custom_fields
