= field_set do
  = f.input :nature, as: :radio_buttons, show: '.{{value}}-nature-options'
  .general-nature-options.centralizing-nature-options
    = f.input :number
  - unless f.object.protected_auxiliary_number?
    .auxiliary-nature-options
      = f.input :centralizing_account, collection: Nomen::Account.select(&:centralizing), required: true, value_method: :name, label_method: lambda {|a| a.send(Account.accounting_system)+ " - " + a.name.tl}
      = f.input :auxiliary_number, required: true
  = f.input :name, as: :text
  = f.input :description, as: :text
  = f.input :usages, collection: Nomen::Account.selection
  = f.custom_fields
