- checked = (item.letter.blank? && (params[:journal_entry_item]||{}).keys.include?(item.id.to_s))
- trid, conf = "e#{item.id}", {}
%tr{id: trid, class: (item.closed? ? "disabled " : checked ? "selected " : "test") + cycle("even", "odd") + (item.completely_lettered? ? ' lettered-item' : '')}
  %td.chk
    - unless item.completely_lettered? || item.closed?
      = check_box_tag("journal_entry_item[#{item.id}][to_mark]", "1", checked, id: "journal_entry_item_#{item.id}_to_mark", data: {add_class: "selected", add_class_to: "##{trid}"})
      - conf = {data: {click: "#journal_entry_item_#{item.id}_to_mark"}}
  %td.ltr
    = item.letter
  %td.act
    - unless item.letter.blank? or item.closed?
      = link_to({action: :unmark, id: @account.id, letter: item.letter}, class: "unmark", method: :post, data: {confirm: :are_you_sure.tl}) do
        %i
        = :unmark.ta
  %td.dat{conf}= item.printed_on.l
  %td.code{conf}= link_to(item.entry_number, {action: :show, controller: :journal_entries, id: item.entry_id}, keep: true)
  %td{conf}= item.name
  %td.dec.debit{conf}=  number_to_accountancy(item.absolute_debit, currency)
  %td.dec.credit{conf}= number_to_accountancy(item.absolute_credit, currency)
