= kujaku do |k|
  - k.helper :journal_period_crit

= form_tag() do

  = field_set :details do
    = attributes_list(@account, stamps: false) do |l|
      - l.attribute :name, url: true
      - l.attribute :number, url: true
      - l.attribute :description

    = error_messages "account"

  = field_set :items do
    - [:period, :started_at, :stopped_at].each do |x|
      = hidden_field_tag(x, params[x])
    - precision = Nomen::Currency[Preference[:currency]].precision

    .active-list-actions
      = mask_lettered_items_button :mark_journal_entry_items

    .active-list#mark_journal_entry_items
      %table.list
        %thead
          %tr
            %th= JournalEntryItem.human_attribute_name(:letter)
            %th.act
            %th= JournalEntry.human_attribute_name(:printed_on)
            %th= Journal.model_name.human
            %th= JournalEntry.model_name.human
            %th= JournalEntryItem.human_attribute_name(:name)
            %th= JournalEntryItem.human_attribute_name(:absolute_debit)
            %th= JournalEntryItem.human_attribute_name(:absolute_credit)

        %tfoot
          %tr#total.valid.total{data: {valid_if_equality_between: "#total-debit, #total-credit", submit_if_valid: "true"}}
            %th{colspan: 6}= :total.tl
            %td#total-debit{data:  {use: "tr.selected .debit", calculate_round: precision}}=  0
            %td#total-credit{data: {use: "tr.selected .credit", calculate_round: precision}}= 0

        %tbody
          - @account.reconcilable_entry_items(params[:period], params[:started_at], params[:stopped_at]).each do |item|
            - checked = (item.letter.blank? and (params[:journal_entry_item]||{}).keys.include?(item.id.to_s))
            - trid, conf = "e#{item.id}", {}
            %tr{id: trid, class: (item.closed? ? "disabled " : checked ? "selected " : "test") + cycle("even", "odd") + (item.lettered? ? ' lettered-item' : '')}
              %td.chk
                - if item.letter.blank? and not item.closed?
                  = check_box_tag("journal_entry_item[#{item.id}][to_mark]", "1", checked, id: "journal_entry_item_#{item.id}_to_mark", data: {add_class: "selected", add_class_to: "##{trid}"})
                  - conf = {data: {click: "#journal_entry_item_#{item.id}_to_mark"}}
                - else
                  = item.letter
              %td.act
                - unless item.letter.blank? or item.closed?
                  = link_to({action: :unmark, id: @account.id, letter: item.letter}, class: "unmark", method: :post, data: {confirm: :are_you_sure.tl}) do
                    %i
                    = :unmark.ta
              %td.dat{conf}= item.entry.printed_on.l
              %td{conf}= link_to(item.journal.name, {action: :show, controller: :journals, id: item.journal_id}, keep: true)
              %td.code{conf}= link_to(item.entry.number, {action: :show, controller: :journal_entries, id: item.entry_id}, keep: true)
              %td{conf}= item.name
              %td.dec.debit{conf}=  number_to_accountancy(item.absolute_debit)
              %td.dec.credit{conf}= number_to_accountancy(item.absolute_credit)
