-work_center = production_chain_work_center_inputs
-if work_center
  %table.list.formalize
    %thead
      %tr
        %th=OperationLine.human_attribute_name("product")
        %th=OperationLine.human_attribute_name("quantity")
        %th=OperationLine.human_attribute_name("unit")
        %th=OperationLine.human_attribute_name("stock")
    -for conveyor in work_center.input_conveyors
      -style_class = cycle("odd", "even")
      %tr{:class=>style_class}
        %td=conveyor.product.name
        %td=text_field_tag("inputs[#{conveyor.id}][quantity]", 0.0)
        %td=conveyor.unit.readable_name
        %td=select_tag("inputs[#{conveyor.id}][stock_id]", options_for_select(conveyor.product.available_stocks.collect{|s| [s.label, s.id]}))
      -if conveyor.check_state
        -for column in TrackingState.report_columns
          %tr.child.field{:class=>style_class}
            %td.label=TrackingState.human_attribute_name(column.name)
            %td.input{:colspan=>3}=send("#{column.type==:text ? 'text_area' : 'text_field'}_tag", "states[#{conveyor.id}][#{column.name}]")
            
              
