= field_set do
  = f.input :name
  = f.input :active
  = f.input :by_default
  = f.input :description, as: :text
  = f.custom_fields

= field_set(:accountancy) do
  = f.referenced_association :journal, :new => {:nature => 'purchases'}
