= field_set do
  = f.input :name
  = f.input :active
  = f.input :currency
  = f.input :with_accounting, :show => :accountancy
  = f.input :description, :field => :text
  = f.custom_fields

= field_set :accountancy do
  = f.referenced_association :journal, :source => :purchases




