= field_set do
  = f.input :name
  = f.input :active
  = f.input :by_default
  = f.input :currency
  = f.input :with_accounting, show: :accountancy
  #accountancy
    = f.referenced_association :journal, source: :purchases
  = f.input :description, as: :text
  = f.custom_fields
