= kujaku do |k|
  - k.text
  - k.helper :journal_period_crit
  - k.multi_choice :repayment_period, resource_model.repayment_period.values.map{ |s| [s.tl, s] }, label: :repayment_period.tl
  - cash_ids = Loan.all.pluck(:cash_id).compact.uniq
  - cashes = Cash.where(id: cash_ids).reorder(:name)
  - if cashes.any?
    - k.helper do
      %label= Cash.human_attribute_name(:name)
      = select_tag(:cash_id, options_for_select([[]] +  cashes.map{|u| [u.name, u.id]}, params[:cash_id].to_i))

- main_toolbar do |t|
  = t.new params: { redirect: nil }

  %span.depreciation-trigger.btn-group
    - if reading_ltr?
      = link_to :generate_repayments.tl, { action: :generate_repayments_up_to, generate_repayments_date: params[:'generate-repayments-date'] }, { class: 'btn btn-default js-complete-links-with-ids', id: 'generate_repayments_up_to', 'data-update-link-with': '#generate_repayments_date', 'data-complete-link-with-ids': 'loans_ids' }
      = content_tag(:span, :up_to.tl.downcase, class: 'add-on')
      %input#generate_repayments_date{ type: 'date', value: params[:'generate-repayments-date'] }
    - else
      %input#generate_repayments_date{ type: 'date', value: params[:'generate-repayments-date'] }
      = content_tag(:span, :up_to.tl.downcase, class: 'add-on')
      %button#generate_repayments_up_to.btn.btn-default= :generate_repayments.tl
      = link_to :generate_repayments.tl, { action: :generate_repayments_up_to, generate_repayments_date: params[:'generate-repayments-date'] }, { class: 'btn btn-default', id: 'generate_repayments_up_to', 'data-update-link-with': '#generate_repayments_date', 'data-complete-link-with-ids': 'loans_ids' }

= main_list
