= kujaku do |k|
  - k.text
  - k.multi_choice :repayment_period, resource_model.repayment_period.values.map{ |s| [s.tl, s] }, label: :repayment_period.tl

- main_toolbar do |t|
  = t.new params: { redirect: nil }

  %span.depreciation-trigger.btn-group
    - if reading_ltr?
      %button#generate_repayments_up_to.btn.btn-default= :generate_repayments.tl
      = content_tag(:span, :up_to.tl.downcase, class: 'add-on')
      %input#generate_repayments_period{ type: 'date' }
    - else
      %input#generate_repayments_period{ type: 'date' }
      = content_tag(:span, :up_to.tl.downcase, class: 'add-on')
      %button#generate_repayments_up_to.btn.btn-default= :generate_repayments.tl

= main_list
