- if @financial_year && Account.french_accounting_system? && JournalEntry.where(financial_year: @financial_year).any?
  :ruby

    base_compute = AccountancyComputation.new(@financial_year)

    products = base_compute.sum_entry_items_by_line(:profit_and_loss_statement, :products_subtotal)
    charges = base_compute.sum_entry_items_by_line(:profit_and_loss_statement, :charges_subtotal)

  = infos do
    - if products
      .big-info
        %span.title= :products.tl(financial_year: @financial_year.name)
        %span.value= products.l(currency: Preference[:currency])
    - if charges
      .big-info
        %span.title= :charges.tl(financial_year: @financial_year.name)
        %span.value= charges.l(currency: Preference[:currency])
    - [:exploitation, :financial, :exceptional, :exercice].each do |r|
      - item = "#{r}_result"
      - result = base_compute.sum_entry_items_by_line(:profit_and_loss_statement, item.to_sym)
      - if result
        :ruby
          result_class = if result > 0
                           :positive
                         elsif result < 0
                          :negative
                         else
                          :caution
                         end
        .big-info{class: result_class}
          %span.title= item.to_sym.tl(financial_year: @financial_year.name)
          %span.value= result.l(currency: Preference[:currency])

- else
  = no_data
