= field_set do
  = f.referenced_association :catalog
  = f.referenced_association :variant
  = f.input :amount
  -# = f.input :currency
  = f.input :all_taxes_included # , show: :taxes
  #taxes= f.referenced_association :reference_tax
  = f.custom_fields

= field_set :details do
  = f.input :commercial_name
  = f.input :commercial_description
