= field_set do
  = f.referenced_association :catalog
  = f.referenced_association :variant
  = f.input :amount, as: :string, input_html: { pattern: "[0-9]+([\.][0-9]+)?" }
  -# = f.input :currency
  = f.input :all_taxes_included # , show: :taxes
  #taxes= f.referenced_association :reference_tax
  = f.custom_fields

= field_set :details do
  = f.input :commercial_name
  = f.input :commercial_description
