= field_set do
  = f.referenced_association :product_grading, as: :hidden
  = f.referenced_association :activity_grading_check, new: false
  = f.input :items_count
  = f.input :minimal_size_value
  = f.input :maximal_size_value
  = f.input :net_mass_value