= field_set do
  = f.referenced_association :category
  = f.input :name
  = f.input :active
  = f.input :variety
  = f.input :derivative_of
  
= field_set(:details) do 
  = f.input :description
  = f.picture

= field_set(:indicator) do
  = f.input :abilities, :disabled => true
  = f.input :indicators, :disabled => true

= field_set(:nature) do
  = f.input :population_counting

= field_set(:variants) do
  = f.nested_association(:variants)
