= field_set do
  = f.referenced_association :category
  = f.input :name
  = f.input :active
  = f.input :variety
  = f.input :derivative_of
  = f.input :population_counting, as: :radio_buttons
  = f.custom_fields

= field_set(:details) do
  = f.input :description
  = f.picture

-#= field_set(:variants) do
  = f.nested_association(:variants)

= field_set(:definition) do
  = f.input :abilities_list, :disabled => true
  = f.input :frozen_indicators_list, :disabled => true
  = f.input :variable_indicators_list, :disabled => true
  = f.input :linkage_points_list, :disabled => true
