.nested-fields
  = link_to_remove_nested_association(:variant, f)
  = f.input(:name, wrapper_html: {id: 'name-field'})
  = f.input(:commercial_name, wrapper_html: {id: 'commercial_name-field'})
  = f.input(:unit_name, wrapper_html: {id: 'unit_name-field'})
  = f.input(:commercial_description, wrapper_html: {id: 'commercial_description-field'})
  = f.picture

  