= kujaku do |k|
  - k.text
  - k.choice :all, :active, :inactive
  -# k.helper do
    %label= tl(:category)
    = select_tag(:category_id, options_for_select([[]] + ProductNatureCategory.to_a.collect{|s| [s.name, s.id]}, :selected => params[:category_id]))

- main_toolbar do |t|
  = t.new params: { redirect: nil }
  - if ProductNature.any_reference_available?
    = t.pick

= main_list

