= field_set do
  = f.input :last_name
  = f.input :first_name
  = f.input :language, collection: available_languages(false)
  = f.input :email
  - if f.object.new_record?
    = f.input :password
    = f.input :password_confirmation
  = f.custom_fields

= field_set(:function) do
  = f.referenced_association :person, new: { nature: :contact }, source: { scope: :contacts }
  = f.input :employed, :show => :employee
  #employee
    = f.input :employment
    = f.referenced_association :team

= field_set(:access) do
  = f.input :administrator, :hide => :role
  #role
    = f.referenced_association :role, input_html: { data: { refresh_access_control_list: backend_role_path("ID") } }
    = f.access_control_list
