= field_set do
  = f.input :last_name
  = f.input :first_name
  = f.input :language, collection: languages
  = f.input :email
  - if f.object.new_record?
    = f.input :password
    = f.input :password_confirmation
  = f.input :administrator, :hide => :access
  = f.input :employed, :show => :employee
  =f.custom_fields

= field_set(:employee) do
  = f.input :employment
  = f.referenced_association :team
  = f.referenced_association :establishment

= field_set(:access) do
  = f.referenced_association :role, input_html: {data: {refresh_access_control_list: backend_role_url("ID")}}
  -# input :reduction_percent
  -# input :free_price
  -# input :credits
  -# partial :rights, :depend_on => :role
  -# #rights{"data-refresh" => url_for(action: :new, mode: :rights), "data-refresh-mode" => "update"}
  = f.access_control_list
