-if @rights.is_a? Array
  -for right in User.rights_list.sort{|a,b| t("rights.#{a}")<=>t("rights.#{b}")}
    .control-group
      .controls
        =check_box_tag("rights[#{right}]", "1", @rights.include?(right.to_sym), id: "rights-#{right}")
        %label{:for => "rights-#{right}"}=t("rights.#{right}")


