= field_set do
  = f.input :name
  = f.input :work_number
  = f.referenced_nomenclature :production_system
  = f.referenced_nomenclature :soil_nature
  = f.referenced_association :farmer
  = f.referenced_association :owner
  = f.input :description
  -# = f.input :uuid
  = f.shape :shape
  = f.custom_fields
