- main_toolbar do |t|
  - t.edit resource
  - if resource.destroyable?
    - t.destroy(resource, method: :delete, "data-confirm" => :are_you_sure_you_want_to_delete.tl)

= cobbles do |c|
  - c.cobble :general_informations do
    = mini_map(resource)
    .big-infos
      .med-info
        %span.title= CultivableZone.human_attribute_name(:work_number)
        %span.value= resource.work_number
      .med-info
        %span.title= CultivableZone.human_attribute_name(:net_surface_area)
        %span.value= resource.net_surface_area.in_hectare.round(2).l
      .med-info
        %span.title= LandParcelGroup.human_attribute_name(:identification_number)
        %span.value= resource.clusters_work_number
      - if resource.current_cultivation
        .med-info
          %span.title= :current_cultivation.tl
          %span.value
            %i.picto{class: "plant"}
            = link_to(resource.current_cultivation.name, {controller: resource.current_cultivation.type.tableize, action: :show, id: resource.current_cultivation.id})

  - c.cobble :weather do
    = cell :weather, params: {id: resource.id}

  - c.cobble(:productions) do
    = list(:productions)
  - c.cobble(:contained_products) do
    = list(:contained_products)
  - c.cobble(:intervention_casts) do
    = list(:intervention_casts)
