- main_toolbar do |t|
  - t.edit resource
  - t.destroy(resource, method: :delete, "data-confirm" => tg(:are_you_sure_you_want_to_delete)) if resource.destroyable?
  
= beehive do |b|
  - b.hbox do
    - b.cell :general do
      = mini_map(resource)
      .info
        %span.title= CultivableZone.human_attribute_name(:net_surface_area)
        %span.value= resource.net_surface_area.in_hectare.round(2).l

    - b.cell :weather, params: {id: resource.id}

  - b.hbox do
    - b.cell(:markers) do
      = list(:markers)
    - b.cell(:productions) do
      = list(:productions)
  - b.hbox do
    - b.cell(:contained_products) do
      = list(:contained_products)
    - b.cell(:intervention_casts) do
      = list(:intervention_casts)
