= main_toolbar do |t|
  - t.edit @cultivable_zone

= beehive do |b|
  - b.tabbox do
    - b.cell :general do
      .picture
        = @cultivable_zone.shape_svg(:width => 180, :height => 180, :class => :map)
      .info
        %span.title= CultivableZone.human_attribute_name(:net_surface_area)
        %span.value= @cultivable_zone.net_surface_area.in_hectare.round(2).l

    - b.cell do
      = attributes_list do |l|
        - l.attribute :name

  - b.tabbox do
    - b.cell(:contained_products) do
      = list(:contained_products)
    - b.cell(:productions) do
      = list(:productions)
    - b.cell(:markers) do
      = list(:markers)
    - b.cell(:interventions) do
      = list(:intervention_casts)
