= field_set do
  = f.input :name
  = f.input :usage
  = f.input :code
  = f.input :currency, collection: currencies
  = f.input :all_taxes_included
  = f.input :by_default
  = f.input :description
  = f.custom_fields
