= aclist do |l|
  - l.action :update
  - l.action :backup

.detail
  = evalue @company , :name 
  = evalue @company , :siren
  = evalue @company , :code
  =# evalue tc(:establishments_number  ) , @company.establishments.size, :url=>{:action=>:establishments}
  =# evalue tc(:departments_number ) , @company.departments.size, :url=>{:action=>:departments}
  =# evalue tc(:users_number ) ,@users.size, :url=>{:action=>:users}

%h2= tc :users
=dyta :users
%h2= tc(:roles)
.aclist
  =link_to tc('roles_create'), {:action=>:roles_create}, :class=>'procedure create'
=dyta :roles
%h2= tc :establishments
=dyta :establishments
%h2= tc :departments
=dyta :departments
