%h1=lc(:title, [@company.name])
=link_to lc(:update) , {:action=>:update}
.detail
  = evalue @company , :name 
  = evalue @company , :siren
  = evalue @company , :code
  = evalue lc(:establishments_number  ) , @company.establishments.size, :url=>{:action=>:establishments}
  = evalue lc(:departments_number ) , @company.departments.size, :url=>{:action=>:departments}
  = evalue lc(:users_number ) ,@company.users.size, :url=>{:action=>:users}
