#titlep
  =lc(:companie)
#updatebutton
  = link_to lc(:up) , {:action=>:update}
#test 
  #tit
    =@company.name
  #name
    = evalue @company , :name 
  #siren
    = evalue @company , :siren
  #code
    = evalue @company , :code
  #estab
    = evalue lc(:establishments_number  ) , @company.establishments.size, :url=>{:action=>:establishments}
  #depart
    = evalue lc(:departments_number ) , @company.departments.size, :url=>{:action=>:departments}
  #use
    = evalue lc(:users_number ) ,@company.users.size, :url=>{:action=>:users}
