%h1=lc(:title, [@user.label])
= link_to lc(:change_password) ,  {:controller=>:authentication , :action=>:change_password}
.detail
  = evalue @user, :name
  = evalue @user, :first_name
  = evalue @user, :last_name
  = evalue @user, :email
