- puts Entity.columns_hash.inspect.red
= field_set(:major => true) do
  = f.input :nature
  = f.input :language, :collection => languages, :field => :select
  = f.input :last_name
  = f.input :first_name
  = f.input :active, :hide => :dead_at
  -# = f.input :number
  = f.input :prospect
  = f.input :client, :show => :client_informations
  = f.input :supplier, :show => :supplier_informations
  = f.input :transporter

= field_set(:details) do # , :collapsed => true
  = f.input :country, :collection => countries
  = f.input :siren
  = f.input :activity_code
  = f.input :vat_number
  = f.input :born_at
  = f.input :dead_at
  = f.input :picture
  -# = f.input :ean13
  = f.custom_fields

= field_set(:client_informations) do
  = f.input :meeting_origin, :autocomplete => true
  = f.input :first_met_at
  = f.referenced_association :proposer
  = f.referenced_association :responsible, :source => :employees
  = f.input :vat_subjected
  = f.input :reminder_submissive, :show => :reduction_percentage
  = f.input :authorized_payments_count
  = f.input :deliveries_conditions, :field => :text
  = f.referenced_association :client_account, :source => :thirds, :buttons => {:new => {:number => Account.find_or_create_in_chart(:clients).number}}

= field_set(:supplier_informations) do
  = f.referenced_association :supplier_account, :source => :thirds, :buttons => {:new => {:number => Account.find_or_create_in_chart(:suppliers).number}}

= field_set(:coordinates, :major => true) do
  = f.nested_association(:emails)
  = f.nested_association(:mails)
  = f.nested_association(:phones)
  = f.nested_association(:mobiles)
  = f.nested_association(:faxes)
  = f.nested_association(:websites)
