- entity_address ||= f.object
.nested-fields
  = link_to_remove_nested_association(:mail, f)
  = f.input(:canal, as: :hidden, wrapper_html: {id: 'canal-field'})
  = f.input(:mail_line_1, wrapper_html: {id: 'mail-line-1-field'})
  = f.input(:mail_line_2, wrapper_html: {id: 'mail-line-2-field'})
  = f.input(:mail_line_3, wrapper_html: {id: 'mail-line-3-field'})
  = f.input(:mail_line_4, wrapper_html: {id: 'mail-line-4-field'})
  = f.input(:mail_line_5, wrapper_html: {id: 'mail-line-5-field'})
  = f.input(:mail_line_6, autocomplete: { controller: :postal_zones, column: :name }, wrapper_html: {id: 'mail-line-6-field'})
  = f.input(:mail_country, collection: Nomen::Country.selection, wrapper_html: {id: 'mail-country-field'})
