- main_toolbar do |t|
  = t.new

= kujaku do |k|
  - k.text
  - k.helper do
    %div.label-container
      %label= :use.tl
    = select_tag(:usage, options_for_select([""] + @usages.map{ |s| [s, s]}))

= main_list
