- main_toolbar do |t|
  = t.edit
  = t.destroy
  = t.duplicate resource, method: :post, params: {redirect: nil}

= main_informations do
  = infos do
    .med-info.important
      %span.title= :worker_number.tl
      %span.value
        = resource.items.size
    .med-info.important
      %span.title= :use.tl
      %span.value
        = resource.usage

= cobbles do |c|
  - c.cobble(:workers) do
    = cobble_list(:workers)
