.nested-fields.tactic-step
  = link_to_remove_nested_association(:steps, f) if f.object.destroyable?
  = f.input :name
  - categories = Nomen::ProcedureCategory.select { |c| c.activity_family.include?(resource.of_family) }
  = f.referenced_nomenclature :procedure_categorie, collection: categories.map { |c| [c.human_name, c.name] }, input_html: {data: {procedure_categorie: true}}
  - procedure_name = f.object.procedure_name
  = f.input :procedure_name, collection: ((procedure_name) ? f.object.of_procedures_name.map { |c| [c.human_name, c.name] } : [] ), wrapper_html: {style: "display: #{(procedure_name) ? 'block' : 'none'}"}, input_html: {data: {procedure_name: true}}
  - action = f.object.action
  = f.referenced_nomenclature :action, collection: ((action) ? f.object.of_actions : [] ), wrapper_html: {style: "display: #{(action) ? 'block' : 'none'}"}
  = f.input :started_on
  = f.input :stopped_on
