- main_toolbar do |t|
  = dropdown_menu_button(:articles.tl, main_class: 'btn-pill' + (controller_name.match(/article/) ? ' active' : '')) do |d|
    - %w[farm_product fertilizer plant_medicine seed_and_plant].each do |sub_nature|
      - d.item sub_nature.pluralize.tl, { controller: "/backend/variants/articles/#{sub_nature}_articles", action: :index }
    - d.item :others.tl, { controller: '/backend/variants/article_variants', action: :index }

  = dropdown_menu_button(:equipments.tl, main_class: 'btn-pill' + (controller_name.match(/equipment/) ? ' active' : '')) do |d|
    - %w[fixed_equipment motorized_equipment tool trailed_equipment].each do |sub_nature|
      - d.item sub_nature.pluralize.tl, { controller: "/backend/variants/equipments/#{sub_nature}_equipments", action: :index }
    - d.item :others.tl, { controller: '/backend/variants/equipment_variants', action: :index }

  - %w[animal crop service worker zone].each do |nature|
    - btn_class = controller_name.match(/#{Regexp.quote(nature)}/) ? 'btn-pill active' : 'btn-pill'
    = link_to nature.pluralize.tl, send("backend_variants_#{nature}_variants_path"), class: btn_class

  = t.pick label: :pick_reference_article.tl, params: { redirect_show_path: "/#{controller_path}", redirect_edit_path: backend_product_nature_variants_path, selector_label: :product_variant.tl }
  = t.new label: :new_article.tl, params: { controller: "/#{controller_path}", subdivision: controller_name }

