- metadata = document.klippa_metadata.deep_symbolize_keys
.big-info
  %span.title= :ocr_informations.tl
= infos do
  .med-info
    %span.title= Purchase.human_attribute_name(:invoiced_at)
    %span.value= Date.parse(metadata[:fields][:invoice_date]).l
  .med-info
    %span.title= Purchase.human_attribute_name(:number)
    %span.value= metadata[:fields][:supplier_invoice_number]
  .med-info
    %span.title= :purchase_items.tl
    %span.value= (metadata[:items].any? ? metadata[:items].count : nil)
  .med-info
    %span.title= Purchase.human_attribute_name(:amount)
    %span.value= (metadata[:fields][:total_incl_vat].present? ? metadata[:fields][:total_incl_vat].to_d : nil)
  .med-info
    %span.title= :tax_amount.tl
    %span.value= (metadata[:fields][:total_vat].present? ? metadata[:fields][:total_vat].to_d : nil)
  .med-info
    %span.title= Purchase.human_attribute_name(:pretax_amount)
    %span.value= (metadata[:fields][:total_wo_taxes].present? ? metadata[:fields][:total_wo_taxes].to_d : nil)

- if document.attach_to_resource
  - purchase = PurchaseInvoice.find(document.attach_to_resource)
  .med-info
    %span.title= :purchase_invoice_generated_by_ai.tl
    %span.value= link_to(purchase.number, backend_purchase_invoice_path(purchase.id))
