= main_informations do
  - if @document.file.exists?
    .picture
      = link_to(backend_document_path(@document, format: @file_format), target: '_blank') do
        = image_tag(backend_document_path(@document, format: :jpg))
      .archived-at= @document.created_at.l
      - if @document.template
        .template-name= link_to(@document.template_name, backend_document_template_path(@document.template))

  = attributes_list do |l|
    - l.attribute :nature
    - l.attribute :number
    - l.attribute :key
    - l.attribute :mandatory
    - l.attribute :file_pages_count
    -# l.attribute :file_fingerprint
    -# l.attribute :file_content_text

  - if @document.mandatory
    .controls
      = button_tag :display_electronic_signature.tl, data: { toggle: 'modal', target: '#signature-modal' }, class: "btn btn-default", id: "lock-btn", type: 'button'

      #signature-modal.modal.fade{ tabindex: '-1', role: 'dialog', 'aria-labelledby': 'indexModal', 'aria-hidden': 'true' }
        .modal-dialog.modal-dialog-centered{ role: 'document' }
          .modal-content
            .modal-header.modal-header-generic
              %button.close{ data: { dismiss: 'modal' }, 'aria-label': 'Close', type: 'button' }
                %i.icon.icon-destroy{ 'aria-hidden': 'true' }
              %b.modal-title= :electronic_signature.tl
            .modal-signature-infos
              = field_set(:fingerprint_sha256.tl) do
                = @document.sha256_fingerprint
              = field_set(:signature.tl) do
                = @document.signature.gsub(/\n/, '<br />').html_safe
            .modal-footer
              = link_to :signature_check.tl, "#{FinancialYearArchive::PUBLIC_KEY_URL}?signature=#{@document.signature.gsub(/\n/, '¤').gsub(/\+/, '§')}", class: "btn btn-primary", target: '_blank'
              %button.btn.btn-primary.no-icn{ type: 'button', 'data-dismiss': 'modal' }= :cancel.tl
