= form_tag({action: :update}, {method: :put}) do
  = field_set :general do
    - Preference.global.where.not(name: [:accounting_system, :currency]).order(:name).each do |preference|
      = field "preferences.#{preference.name}".t, {datatype: preference.nature.to_sym, value: preference.value, name: "preferences[#{preference.name}][value]"}, {label: {class: 'large-control-label'}, controls: {class: 'large-controls'}}

  = form_actions do
    = submit_tag :update.tl, class: 'primary'
    = link_to :cancel.tl, { controller: :dashboards, action: :settings}, class: 'btn'
