= form_tag({action: :update}, {method: :put}) do
  = field_set :general do
    - for preference in Preference.global.order(:name)
      = field t("preferences.#{preference.name}"), {datatype: preference.nature.to_sym, value: preference.value, name: "preferences[#{preference.name}][value]"}

  = form_actions do
    = submit_tag tg(:update), class: 'primary'
    = link_to tg(:cancel), :back, class: 'btn'
