= form_tag({action: :update}, {method: :put}) do
  = field_set :general do
    - for preference in Preference.global.order(:name)
      = field "preferences.#{preference.name}".t, {datatype: preference.nature.to_sym, value: preference.value, name: "preferences[#{preference.name}][value]"}

  = form_actions do
    = submit_tag :update.tl, class: 'primary'
    = link_to :cancel.tl, :back, class: 'btn'
