- if to_display == :items
  - unit = Nomen::Unit[:thousand]
  - yield_unit = Nomen::Unit[:unity_per_hectare]
  - short_name = "items"
  - long_name = "items_count"
- elsif to_display == :mass
  - unit = Nomen::Unit[:ton]
  - yield_unit = Nomen::Unit[:ton_per_hectare]
  - short_name = "mass"
  - long_name = "net_mass"
- else
  - raise "What are we trying to display totals for? #{to_display}"

- if resource.activity.send(:"measure_grading_#{long_name}")
  - ActivityInspectionPointNature.unmarketable_categories.each do |category|
    .med-info
      %span.title= category.l
      %span.value= resource.send("points_#{long_name}_percentage", category).round(2).l(precision: 2) + '%'
  - if resource.activity.inspection_calibration_scales.any?
    :ruby
      totals_of = [
        ["marketable_#{long_name}", unit],
        ["marketable_#{short_name}_yield", yield_unit, :marketable_net_yield],
        ["total_#{long_name}", unit, :"gross_#{short_name}"],
        ["#{long_name}_yield", yield_unit, :gross_yield_value]
      ]
    - totals_of.each do |method, unit, title|
      .med-info
        - total_title = (title || method)
        %span.title= Inspection.human_attribute_name(total_title)
        %span.value= resource.send(method).convert(unit).round(2).l(precision: 0)