= field_set do
  = f.input :name
  = f.referenced_association :client # , source: :clients
  = f.referenced_association :responsible, source: {scope: :users}, new: {employed: 1}
  = f.input :dead_line_at
  = f.input :pretax_amount
  = f.input :currency, collection: Nomen::Currency.where(name: SaleNature.actives.pluck(:currency).uniq.map(&:to_sym)).selection, include_blank: false
  = f.input :origin
  = f.input :probability_percentage
  -# = f.input :state
  = f.input :description
  = f.custom_fields

= f.attachments_field_set
