= form_tag({}) do
  = field_set :division do
    -#= field LandParcel.human_attribute_name("stopped_at"), date_field(:land_parcel, :stopped_at)
    %table.list
      %thead
        %tr
          %th=LandParcel.human_attribute_name("name")
          %th=LandParcel.human_attribute_name("area_measure")
          %th.act
          %th.act
      %tfoot
        %tr.total#total_item{"data-valid-if-equality-between" => "#used-area, #total-area"}
          %th=tl(:total)
          %td
            %span#used-area{"data-use" => ".area"}
            %span="/"
            %span#total-area=@land_parcel.area_measure
          %th
          %th
      %tbody#subdivisions
        = render :partial => "backend/land_parcels/subdivision_form"
  = form_actions do
    = submit_tag(tl(:divide))
