= cobbles do |c|
  - c.cobble :general_informations do
    = product_mini_map
    = infos do
      - if resource.initial_shape && resource.human_initial_shape_area_unit && resource.activity_production
        .med-info.important
          %span.title= LandParcel.human_attribute_name(:net_surface_area)
          %span.value= resource.activity_production.human_support_shape_area
        .med-info.important
          %span.title= :working_area.tl
          %span.value= resource.activity_production.decorate.human_working_zone_area
        - unless @reentry_possible.possible
          .med-info.delay
            %span.title= :re_entry_delay.tl
            %span.value
              %span= @reentry_possible.next_possible_date.l
            - if @reentry_possible.period.duration == 8
              %span
                %span= :add_two_hours_reentry_delay.tl

  - c.cobble :weather do
    = cell :weather, params: {centroid: resource.initial_shape.centroid} if resource.initial_shape.present?

  - if resource&.activity_production&.interventions&.any?
    - c.cobble(:production_costs, title: :production_costs.tl) do
      = render partial: 'backend/shared/production_costs', locals: { costs: resource.activity_production.decorate.production_costs }

    - c.cobble(:interventions) do
      = cobble_toolbar do |t|
        = t.new(params: { controller: :interventions, production_support_id: resource.activity_production.id })
        = cobble_list(:interventions)
  - else
    = no_data

  - if resource&.activity_production&.decorate&.plants?
    - c.cobble(:plants, title: :crops.tl) do
      = cobble_list(:plants)
