- main_toolbar do |t|
  - t.edit resource
  - t.destroy

= cobbles do |c|
  - c.cobble :general_informations do
    = mini_map(resource)
    = infos do
      .med-info
        %span.title= LandParcel.human_attribute_name(:net_surface_area)
        %span.value= resource.population.l + " " + resource.unit_name
      = resource_info(:soil_nature, label: Nomen::Indicator[:soil_nature].human_name, nomenclature: true)
      - indicators = [:potential_hydrogen, :available_water_capacity_per_area, :soil_depth, :organic_matter_concentration]
      - indicators.each do |indicator|
        = resource_info(indicator, label: Nomen::Indicator[indicator].human_name)
  - if resource.analyses.any?
    - c.cobble :analyses do
      = cell :last_analyses, params: {nature: :soil_analysis, product_id: resource.id}
