- main_toolbar do |t|
  = t.edit resource
  = t.destroy

= cobbles do |c|
  - c.cobble :general_informations do
    = product_mini_map
    = infos do
      .med-info
        %span.title= LandParcel.human_attribute_name(:population)
        %span.value= resource.population.round(3).l + " " + resource.unit_name
      = product_info(:soil_nature, label: Nomen::Indicator[:soil_nature].human_name, nomenclature: true)
      - indicators = [:potential_hydrogen, :available_water_capacity_per_area, :soil_depth, :organic_matter_concentration]
      - indicators.each do |indicator|
        = product_info(indicator, label: Nomen::Indicator[indicator].human_name)
  - if resource.analyses.any?
    - c.cobble :analyses do
      = cell :last_analyses, params: {nature: :soil_analysis, product_id: resource.id}
