= field_set do
  = hidden_field_tag :journal_id, (f.object.new_record? ? params[:journal_id] : f.object.journal_id)
  -# = f.referenced_association :journal, readonly: true, input_html: { data: { dependents: '#items-form' } }
  = f.input :number
  = f.input :printed_on, input_html: { data: { dependents: '#items-form', parameter_name: 'printed_on' } }
  = f.custom_fields
  #items-form{href: new_backend_journal_entry_path, data: {refresh: new_backend_journal_entry_path, refresh_mode: :update, with: '#journal_id'}}
    = render 'items_form', items: f.object.items

= f.attachments_field_set
