- if @financial_year = FinancialYear.at(@journal_entry.printed_on)
  - if @journal.currency != @financial_year.currency
    = field :exchange_rate_from_x_to_y.tl(x: @journal.currency, y: @financial_year.currency), text_field(:journal_entry, :real_currency_rate)

- budget_size = budget_columns_count
- team_size = Team.any? ? 1 : 0

.active-list
  %table.list

    %thead
      %tr
        %th= JournalEntryItem.human_attribute_name(:name)
        %th= JournalEntryItem.human_attribute_name(:account)
        - if budget_size > 0
          %th= JournalEntryItem.human_attribute_name(:activity_budget)
        - if team_size > 0
          %th= JournalEntryItem.human_attribute_name(:team)
        %th{ colspan: 2 }= JournalEntryItem.human_attribute_name(:debit)
        %th{ colspan: 2 }= JournalEntryItem.human_attribute_name(:credit)
        %th.act

    %tfoot
      %tr#total.total{data: {valid_if_equality_between: "#entry-real-debit, #entry-real-credit", submit_if_valid: false}}
        %th{ colspan: 2 + budget_size + team_size }
          = tool_to(:new.ta, {controller: :journal_entry_items, action: :new, printed_on: @journal_entry.printed_on, journal_id: @journal.id}, remote: true, tabindex: -1, method: :get, data: {update: "#items", update_at: :bottom, type: :html})
          %span= :total.tl
        %td#entry-real-debit.decimal{ data: {use: "input.real-debit", calculate_round: Nomen::Currency[@journal.currency].precision}}=  @journal_entry.real_debit
        %td.txt= @journal.currency
        %td#entry-real-credit.decimal{data: {use: "input.real-credit", calculate_round: Nomen::Currency[@journal.currency].precision}}= @journal_entry.real_credit
        %td.txt= @journal.currency
        %th.act

      - if @financial_year and @journal.currency != @financial_year.currency
        %tr#subtotal.subtotal{data: {valid_if_equality_between: "#entry-debit, #entry-credit", submit_if_valid: false}}
          %th{colspan: 2 + budget_size}= :total_in_currency.tl(currency: @financial_year.currency)
          %td#entry-debit.decimal{ data: {use: "td.debit",  calculate_round: Nomen::Currency[@financial_year.currency].precision}}= @journal_entry.debit
          %td.txt= @financial_year.currency
          %td#entry-credit.decimal{data: {use: "td.credit", calculate_round: Nomen::Currency[@financial_year.currency].precision}}= @journal_entry.credit
          %td.txt= @financial_year.currency
          %th.act

    %tbody#items.items
      = render partial: 'backend/journal_entry_items/row_form', collection: items.sort_by{|item| item.position || 0}
      = render partial: 'backend/journal_entry_items/row_form', object: @journal_entry.items.new if items.empty?
