:ruby
  budget_size = budget_columns_count
  team_size = team_columns_count

%tbody.nested-fields
  %tr
    %td= f.input(:name, wrapper: :nested)
    %td= f.referenced_association(:account, { input_html: { data: { add_details: '/backend/account_balances/:id', add_details_on: '#journal_entry_printed_on' } }, wrapper: :nested })
    %td= f.referenced_association(:variant, wrapper: :nested)
    - if budget_size > 0
      %td= f.referenced_association(:activity_budget, wrapper: :nested)
    %td= f.referenced_association(:project_budget, wrapper: :nested)
    - if team_size > 0
      %td= f.referenced_association(:team, wrapper: :nested)
    %td= f.referenced_association(:equipment, wrapper: :nested)
    %td.dec= f.input(:real_debit, wrapper: :nested, input_html: { size: 10, class: f.object._destroy ? '' : 'real-debit', data: { add_item_unless: '#total', toggled_by: '#preference_entry_autocompletion', exclusive_nullify: '.real-credit', fill_item_with: '.journal_entry_items_name > input=>tr@.journal_entry_items_name > input,.journal_entry_items_real_debit > input=>table@#real-credit-balance,.journal_entry_items_real_credit > input=>table@#real-debit-balance,.journal_entry_items_account input:first=>table@#account-id', use_closest: 'tr' } })
    %td= currency
    %td.dec= f.input(:real_credit, wrapper: :nested, input_html: { size: 10, class: f.object._destroy ? '' : 'real-credit', data: { add_item_unless: '#total', toggled_by: '#preference_entry_autocompletion', exclusive_nullify: '.real-debit', fill_item_with: '.journal_entry_items_name > input=>tr@.journal_entry_items_name > input,.journal_entry_items_real_debit > input=>table@#real-credit-balance,.journal_entry_items_real_credit > input=>table@#real-debit-balance,.journal_entry_items_account input:first=>table@#account-id', use_closest: 'tr' } })
    %td= currency
    %td.action= link_to_remove_association(content_tag(:i) + h(:destroy.ta), f, 'data-no-turbolink' => true, class: 'remove-item')

  %tr.tr-add-on.currency-change
    - financial_year = f.object.expected_financial_year
    - precision = financial_year ? Nomen::Currency[financial_year.currency].precision : 3
    %td.dec{ colspan: 3 + budget_size + team_size }
      .debit-without-error-correction.hidden=  f.object.debit
      .credit-without-error-correction.hidden= f.object.credit
    %td.debit.decimal{ data: { calculate_round: precision } }= f.object.debit
    %td.financial-year-currency= financial_year ? financial_year.currency : '¤'
    %td.credit.decimal{ data: { calculate_round: precision } }= f.object.credit
    %td.financial-year-currency= financial_year ? financial_year.currency : '¤'
    %td.act
