= field_set do
  = f.referenced_association :worker, new: false, source: { scope: :workers }
  = f.input :started_at
  = f.input :stopped_at
  = f.input :duration do
    = f.input_field :human_duration, readonly: true, disabled: true
  = f.input :description, as: :text
  = f.custom_fields

  = field_set(:project) do
    = f.referenced_association :project_task
    = f.input :travel_expense
    = f.input :travel_expense_details
