- main_toolbar do |t|
  = t.new

= kujaku do |k|
  - k.text
  - k.helper :journal_period_crit
  - w_ids = WorkerTimeLog.all.pluck(:worker_id).compact.uniq
  - workers = Worker.where(id: w_ids).reorder(:name)
  - if workers.any?
    - k.helper do
      %div.label-container
        %label= Product.human_attribute_name(:name)
      = select_tag(:worker_id, options_for_select([[]] + workers.map{|u| [u.name, u.id]}, params[:worker_id].to_i))

= janus do |j|
  - j.face :calendar do
    #calendar{data: {simple_calendar: "true"}}= render "month"
  - j.face :list do
    = main_list
