= main_toolbar do |t|
  - t.edit resource

= beehive do |b|
  - b.cell do
    = attributes_list do |l|
      - l.attribute :name
      - l.attribute :nature
      - l.attribute :variant
  - b.hbox do
    - b.cell(:interventions) do
      = toolbar do |t|
        - t.new(params: {controller: :interventions})
      = list(:intervention_casts)
  - b.hbox do
    - b.cell(:variable_indicators) do
      = variable_readings(resource)
    - b.cell(tl(:x_readings, count: resource.readings.count)) do
      = list(:readings)
