= field_set :informations do
  - nature = params[:nature] || resource.nature
  - parameters = resource.parameters || {}
  = f.input :nature, as: :hidden
  = f.simple_fields_for :parameters do |p|
    - resource.parameter_keys.each do |parameter|
      - value   = parameters[parameter.to_s]
      - value ||= parameter.default_value
      - translation_key = "integrations.#{resource.nature}"
      = p.input parameter.to_s, input_html: { value: value }, label: "#{translation_key}.parameters.#{parameters.to_s}".t(default: ["#{translation_key}.#{parameter.to_s}".to_sym, "#{translation_key}.#{parameter.to_s}".to_sym, "labels.#{parameter.to_s}".to_sym, parameter.to_s.humanize])
