.integration-form
  .integration-presentation
    .integration-picture
      = image_tag(integration_logo_path(resource.nature, size: :large))
    .integration-description
      %h2= resource.integration_name
      %p= "#{resource.nature}_long_description".tl
      - url = "#{resource.nature}_url".tl(default: 'none')
      - if url != 'none'
        - url_name = url.gsub(/\Ahttp(s)?\:\/\/(www\.)?/, '').gsub(/\/\z/, '')
        %p
          = :website.tl
          = link_to(url_name, url)

    %p
      - incoming_data_label = "#{resource.nature}_incoming_data_exchange"
      - if I18n.exists? "labels.#{incoming_data_label}"
        %i.icon.icon-cloud-download
        = incoming_data_label.tl

    %p
      - outgoing_data_label = "#{resource.nature}_outgoing_data_exchange"
      - if I18n.exists? "labels.#{outgoing_data_label}"
        %i.icon.icon-cloud-upload
        = outgoing_data_label.tl

    - if resource.last_sync_at.present?
      .integration-synchronisation
        %p
          %i.icon.icon-sync
          =resource.last_sync_at.strftime("%e/%m/%Y - %T")
  = render resource.authentication_mode.to_s, f: f
