= field_set do
  = f.input :first_name
  = f.input :last_name
  = f.input :language, collection: available_languages(false), include_blank: false
  = f.referenced_association :role, required: true, new: false
  = f.input :email, input_html: { disabled: true }

