- productions = Production.of_activities(Activity.of_families(:field_crops)).of_campaign(Campaign.currents).reorder(:name).select{|p| p.budgets.any? }
= beehive do |b|
  - b.hbox do
    - productions.each do |production|
      - b.cell "#{production.id}_quandl".to_sym, type: :quandl, title: production.name, params: {threshold: {3 => 172.25, 4 => 283.70}[production.id], dataset: production.quandl_dataset}
  - b.hbox do
    - productions.each do |production|
      - b.cell "#{production.id}_threshold_commercialization".to_sym, type: :threshold_commercialization_by_production, title: production.name, params: {production_id: production.id}

  - b.cell :simulator, removeable: false do
    .regulator
      %span.name= "Salaire"
      %span.slider.slider-salary{data: {regulator: {value: 2000, unit: "€"}.to_json}}
      %span.value= "2000 €"
    .regulator
      %span.name= "Provision pour trésorerie"
      %span.slider.slider-salary{data: {regulator: {value: 5000, unit: "€"}.to_json}}
      %span.value= "5000 €"
      %span.price= "Prix d'objectif"
    - productions.each do |production|
      %h3= production.name
      .regulator
        %span.name= "Rendement"
        %span.slider{data: {regulator: {value: 70, unit: "qt/ha"}.to_json}, class: "slider-yield"}
        %span.value= "70 qt/ha"
        %span.price= "180 €/qt"