- main_toolbar do |t|
  - t.edit resource
  - if resource.can_close?
    - t.close(resource, method: :post, "data-confirm" => are_you_sure_you_want_to(:close_issue))
  - if resource.can_abort?
    - t.abort(resource, method: :post, "data-confirm" => are_you_sure_you_want_to(:abort_issue))
  - if resource.can_reopen?
    - t.reopen(resource, method: :post, "data-confirm" => are_you_sure_you_want_to(:reopen_issue))
  -# for event in resource.state_paths.events
    - if resource.send("can_#{event}?")
      - t.send(event, resource, method: :post, "data-confirm" => are_you_sure_you_want_to("#{event}_issue"))
  - t.destroy(resource, method: :delete, "data-confirm" => :are_you_sure_you_want_to_delete.tl) if resource.destroyable?

= beehive do |b|
  - b.hbox do
    - b.cell do
      - if resource.picture.exists?
        .picture= image_tag(resource.picture.url(:identity))
      = attributes_list do |l|
        - l.attribute :target, url: true
        - l.attribute :state
        - l.attribute :description

  - b.hbox do
    - b.cell(:interventions) do
      = toolbar do |t|
        - t.new(params: {controller: :interventions, :issue_id => resource.id})
      = list(:interventions)
