- main_toolbar do |t|
  - t.edit @issue
  - if @issue.can_close?
    - t.close(@issue, method: :post, "data-confirm" => are_you_sure_you_want_to(:close_issue))
  - if @issue.can_abort?
    - t.abort(@issue, method: :post, "data-confirm" => are_you_sure_you_want_to(:abort_issue))
  - if @issue.can_reopen?
    - t.reopen(@issue, method: :post, "data-confirm" => are_you_sure_you_want_to(:reopen_issue))
  -# for event in @issue.state_paths.events
    - if @issue.send("can_#{event}?")
      - t.send(event, @issue, method: :post, "data-confirm" => are_you_sure_you_want_to("#{event}_issue"))
  - t.destroy(@issue, method: :delete, "data-confirm" => tg(:are_you_sure_you_want_to_delete)) if @issue.destroyable?

= beehive do |b|
  - b.hbox do
    - b.cell do
      = attributes_list do |l|
        - l.attribute :name
        - l.attribute :target, url: true
        - l.attribute :description
    - if @issue.picture.exists?
      - b.cell do
        .picture= image_tag(@issue.picture.url(:identity))

  - b.hbox do
    - b.cell(:interventions) do
      = toolbar do |t|
        - t.new(params: {controller: :interventions, :issue_id => @issue.id})
      = list(:interventions)