= field_set do
  = f.input :nature
  = f.input :number
  = f.input :reference_number
  = f.input :sampled_at
  = f.referenced_association :sampler
  = f.input :analysed_at
  = f.referenced_association :analyser
  = f.referenced_association :product
  = f.custom_fields
