- main_toolbar do |t|
  = t.edit resource

= main_informations attachment: true do
  = attributes_list do |l|
    - l.attribute :number
    - l.attribute :reference_number
    - l.attribute :sensor, url: true
    - l.attribute :product, url: true
    - l.attribute :sampler, url: true
    - l.attribute :sampled_at
    - l.attribute :analyser, url: true
    - l.attribute :analysed_at

  - if resource.geolocation
    = visualization do |v|
      - v.serie :data, [{name: resource.number, shape: resource.geolocation}]
      - v.path "#{resource.number}", :data
      - v.control :zoom
      - v.control :scale
      - v.control :fullscreen
      - v.control :layer_selector

= cobbles do |c|

  - c.cobble :items do
    = cobble_list :items

