- if @visualization
  - id = "map-#{@visualization}"
  %div{id: id}
    -# &sql=&zoom=3&center_lat=45.27488643704891&center_lon=9.84375
    %iframe{width: '100%', height: 520, frameborder: 0, src: "http://#{@account}.cartodb.com/viz/#{@visualization}/embed_map?title=false&description=false&search=false&shareable=false&cartodb_logo=false&layer_selector=false&legends=true&scrollwheel=false&sublayer_options=1"}
    = link_to(:refresh.tl, {action: :update}, method: :patch, remote: true, 'data-update' => "##{id}", 'data-update-at' => 'replace', class: "btn")
- else
  = :no_data.tl