= f.product_form_frame do
  = field_set do # partie info general de l entité animal_group
    = f.input :name # affiche le champ name de l entité animal avec une infos derriere
    = f.input :work_number

  = field_set(:details) do # partie entrée sortie de l entité animal
    = f.input :description # affiche le champ description formaté en zone de texte
