= field_set do
  = f.referenced_association :sale_item, as: :hidden
  = f.referenced_association :nature
  = f.referenced_association :address, source: { scope: :mails }
  = f.input :started_on
  = f.input :stopped_on
  = f.input :quantity
  = f.input :suspended
  = f.input :description
  = f.custom_fields
