- main_toolbar do |t|
  = t.new params: { redirect: nil }
  = t.export(:worker_register, key: Printers::WorkerRegisterPrinter.build_key(campaign: current_campaign), label: :print_worker_register)

- main_period_selector(:year)

= kujaku do |k|
  - k.text
  - if Worker.any?
    - variant_list = ProductNatureVariant.where(id: Worker.select(:variant_id).distinct).pluck(:name, :id)
    - k.list :variant, list_values: variant_list
%div.merge-matter-div.create-workers-group.hidden
  = link_to(:create_group.tl, nil, class: "btn btn-primary create-worker-group-btn")
= main_list
