- main_toolbar do |t|
  = t.edit resource

- main_period_selector(:year)

= main_informations attachment: true do
  = render 'picture'
  = infos do
    -#= product_info(:variant, important: true) do |variant|
      - if variant.pictogram.any?
        - icon = variant.pictogram
      - if icon
        %i.picto{class: "picto-#{icon}"}
      = link_to(variant.name, controller: :product_nature_variants, action: :show, id: variant.id)
    - if resource.person
      = product_info(:person) do |person|
        %i.picto{class: "picto-user"}
        = link_to(person.full_name, controller: :entities, action: :show, id: person.id)
    - if resource.born_at && resource.age >= 1.day
      = product_info(:age) do |age|
        %i.picto{class: "picto-clock-o"}
        = human_age(resource.born_at, display: 2)
    = product_info(:working_duration) do |working_duration|
      %i.picto{class: "picto-timelapse"}
      = resource.working_duration(as: :doer).in_hour.round(1).l(precision: 1)
  = labels_info(resource.labels)

= cobbles do |c|

  - if resource.intervention_product_parameters.any?
    - c.cobble(:intervention_product_parameters, title: :x_interventions.tl(count: resource.interventions.count)) do
      = cobble_list(:intervention_product_parameters)

  - time_spent_by_activity(resource, cobbler: c, as: :doer, current_campaign: current_campaign)
