= kujaku do |k|
  - k.text
  - k.helper :journal_period_crit
  - k.choice :all, :consume, :available
  - k.needle_choice :working_set, [[]] + Nomen::WorkingSet.selection
  - if ProductLabelling.any?
    - k.helper do
      %label= Label.model_name.human
      = select_tag(:label_id, options_for_select([[]] + Label.where(id: ProductLabelling.select(:label_id).uniq).map{ |l| [l.name, l.id] }, params[:label_id].to_i))

- main_toolbar do |t|
  = t.new params: { controller: :receptions, action: :new, redirect: nil }, label: :new_incoming_parcel.tl
  = t.new params: { redirect: nil }

= main_list
