= main_toolbar do |t|
  - t.edit @matter
  - t.destroy(@matter, :method=>:delete, "data-confirm" => tg(:are_you_sure_you_want_to_delete)) if @matter.destroyable?

= beehive do |b|
  - b.tabbox do
    - b.cell :general do
      - if @matter.picture.exists?
        .picture= image_tag(@matter.picture.url(:identity))
      .info
        %span.title= Matter.human_attribute_name(:work_number)
        %span.value= @matter.work_number
      - if @matter.born_at
        .info
          %span.title=Matter.human_attribute_name(:age)
          -#%span.value=distance_of_time_in_words(@animal.born_at, (@animal.dead_at||Time.now)) rescue @animal.born_at.l
          %span.value
            -seconds = (@matter.dead_at||Time.now) - @matter.born_at
            -vals = []
            -if (seconds/1.year).floor > 0
              -vals << "labels.x_years".t(:count => (seconds/1.year).floor)
              -seconds -= 1.year * (seconds/1.year).floor
            -if (seconds/1.month).floor > 0
              -vals << "labels.x_months".t(:count => (seconds/1.month).floor)
              -seconds -= 1.month * (seconds/1.month).floor
            -if (seconds/1.day).floor > 0
              -vals << "labels.x_days".t(:count => (seconds/1.day).floor)
              -seconds -= 1.day * (seconds/1.day).floor
            =vals.to_sentence

    - b.cell :details do
      = attributes_list do |l| # liste des champs à afficher
        - l.attribute :name
        - l.attribute :variety, url: true
        -#l.attribute :group, url: true # on affiche l'attribut name de l'entité ProductGroup associé par l'attribut group de l'entité courante Product avec un lien vers ce groupe
        - l.attribute :born_at
        - l.attribute :dead_at
        - l.attribute :identification_number
        - l.attribute :description

  - b.tabbox do
    - b.cell(:places) do
      = list(:places)
    - b.cell(:groups) do
      = list(:groups)

