= f.product_form_frame(input_html: {class: 'delivery-item'}) do
  = field_set :identification do
    = f.input :work_number
    = f.input :identification_number
    = f.picture
    = f.input :description, :field => :text
