- main_toolbar do |t|
  - t.edit resource

= cobbles do |c|
  - c.cobble :general_informations do
    = mini_map(resource)
    = infos do
      .med-info.important
        - icon = resource.category.pictogram
        %span.title= Matter.human_attribute_name(:variant)
        %span.value
          %i.picto{class: "picto-#{icon}"}
          = link_to(resource.variant_name, controller: :product_nature_variants, action: :show, id: resource.variant_id)
      - if resource.born_at and resource.age >= 1.day
        .med-info
          %span.title= Matter.human_attribute_name(:work_number)
          %span.value
            %i.picto{class: "picto-barcode"}
            = resource.work_number
  - c.cobble(:contained_products) do
    = cobble_list(:contained_products)
