= field_set do
  = f.input :name
  = f.input :family
  = f.input :nature, as: :radio_buttons, show: ".{{value}}_options"
  = f.input :description
  = f.custom_fields

.auxiliary_options
  = field_set(Activity.human_attribute_name(:distributions)) do
    = f.nested_association(:distributions)

