.nested-fields
  = link_to_remove_nested_association(:grading_check, f)
  = f.input :nature, as: :radio_buttons, show: '#{{value}}-options', input_html: {data: {closest: '.nested-fields'}}
  - activity = f.object.activity
  #calibre-options
    = f.input :minimal_calibre_value, wrapper: :append do
      = f.input_field :minimal_calibre_value
      %span.add-on= (activity ? activity.human_grading_calibre_unit_name : '#')
    = f.input :maximal_calibre_value, wrapper: :append do
      = f.input_field :maximal_calibre_value
      %span.add-on= (activity ? activity.human_grading_calibre_unit_name : '#')
  #second_calibre-options
    = f.input :minimal_calibre_value, wrapper: :append do
      = f.input_field :minimal_calibre_value
      %span.add-on= (activity ? activity.human_second_grading_calibre_unit_name : '#')
    = f.input :maximal_calibre_value, wrapper: :append do
      = f.input_field :maximal_calibre_value
      %span.add-on= (activity ? activity.human_second_grading_calibre_unit_name : '#')
  #quality-options
    = f.referenced_association :quality_criterion