- if calibrations.any?
  %table{:border => "1"}
    %thead
    %tbody
      %tr.title
        %th= :stock_in_ground_by_calibration.tl
      %tr
    - calibrations.each do |inspection|
      %tr
        %td= inspection[:label]
        %td= inspection[:value]

- if inspection_qualities_evolutions.any?
  - inspection_qualities_evolutions.compact.each do |evolution|
    %tr
      %td= evolution[:label]
      %td= evolution[:value]
      %br

= button_group do
  = tool_to(:show.ta, {action: :show, controller: "/backend/plants", id: plant.id, redirect: params[:redirect] }, tool: false)
