- main_toolbar do |t|
  - t.new
  - if current_campaign && current_campaign.activity_productions.empty?
    - preceding = current_campaign.preceding
    - if preceding && preceding.activity_productions.any?
      - t.duplicate method: :post, confirm: :are_you_sure.tl

- main_campaign_selector

- @current_activities.each do |activity|
  .activity-box
    .activity-container
      - style = "background-color: #fafafa"
      - unless activity.avatar_path.nil?
        - style = "background-image: url(#{image_url(activity.avatar_path.relative_path_from(Rails.root.join('app', 'assets', 'images')))})"
      .img-container{style: style}
      .activity-content{style: "border-right-color: #{activity.color}"}
        .name= activity.name
        .indicators
          .item.value
            = activity.size_during(current_campaign)
          .item.cash
            = activity.real_expense_amount(current_campaign).l(currency: Preference[:currency])
            = '/'
            = activity.budget_expense_amount(current_campaign).l(currency: Preference[:currency])
          .item.cumulated-time
            = Intervention.of_campaign(current_campaign).of_activity(activity).sum(:working_duration)
          .item.opened-issues
            = Issue.of_campaign(current_campaign).of_activity(activity).opened.count
            = '/'
            = Issue.of_campaign(current_campaign).of_activity(activity).count

