- main_toolbar do |t|
  - t.edit resource
  - budget = resource.budget_of(current_campaign)
  - if budget
    - t.edit params: {controller: :activity_budgets, id: budget.id}, label: :edit_budget.tl

- main_campaign_selector

= cobbles do |c|
  - if current_campaign
    - c.cobble :budget do
      = infos do
        - budget = resource.budgets.find_by(campaign: current_campaign)
        - if budget
          = link_to(controller: :activity_budgets, action: :edit, id: budget.id, redirect: request.fullpath) do
            = info ActivityBudget.human_attribute_name(:expenses_amount), budget.expenses_amount.round(budget.currency_precision).l(currency: budget.currency)
          = link_to(controller: :activity_budgets, action: :edit, id: budget.id, redirect: request.fullpath) do
            = info ActivityBudget.human_attribute_name(:revenues_amount), budget.revenues_amount.round(budget.currency_precision).l(currency: budget.currency)
        - else
          %p.help-message= :no_budget_defined_for_current_campaign.tn
          - if current_campaign.preceding && resource.budgets.find_by(campaign: current_campaign.preceding)
            - source = resource.budgets.find_by(campaign: current_campaign.preceding)
            = link_to(:copy_previous_budget.tl, { controller: :activity_budgets, action: :duplicate, activity_id: resource.id, campaign_id: current_campaign.id, id: source.id, edit: true, redirect: request.fullpath }, method: :post, class: 'btn btn-default')
          - other_budgets = current_campaign.activity_budgets.where.not(activity_id: resource.id)
          - if other_budgets.any?
            = dropdown_menu_button(:copy_from_another_activity.tl) do |menu|
              - other_budgets.includes(:activity).order('activities.name').each do |budget|
                - menu.item budget.activity_name, { controller: :activity_budgets, action: :duplicate, id: budget.id, activity_id: resource.id, campaign_id: current_campaign.id, edit: true, redirect: request.fullpath }, method: :post
          = link_to(:new_budget.tl, { controller: :activity_budgets, action: :new, activity_id: resource.id, campaign_id: current_campaign.id, redirect: request.fullpath }, class: 'btn btn-default')
  - c.cobble :details do
    = attributes_list do |l|
      - l.attribute :nature
      - l.attribute :family
      - if resource.with_cultivation
        - l.attribute :cultivation_variety
      - if resource.with_supports
        - l.attribute :support_variety
      - l.attribute :production_cycle
      - if resource.custom_fields.any?
        - l.custom_fields

  - if resource.vegetal_crops? && current_campaign && resource.productions.of_campaign(current_campaign).any?

    - c.cobble :map do
      = model_map(resource.productions.of_campaign(current_campaign), shape_method: :support_shape)


  - c.cobble(:productions) do
    = cobble_toolbar do |t|
      - t.new(params: {controller: :activity_productions, activity_id: resource.id})
    = cobble_list(:productions)

  - if resource.auxiliary?
    - c.cobble(:distributions, title: Activity.human_attribute_name(:distributions)) do
      :ruby
        data = []
        resource.distributions.reorder(:affectation_percentage).find_each do |distribution|
          y = distribution.affectation_percentage.to_s.to_f
          data << {name: :label_value.th(label: distribution.main_activity_name, value: number_to_percentage(y, precision: 2)), y: y }
        end
        series = [{type: 'pie', name: Activity.human_attribute_name(:distributions), data: data}]

      = pie_highcharts(series, legend: true)
