- main_toolbar do |t|
  = t.edit resource
  - budget = resource.budget_of(current_campaign)
  - if budget && budget.items.any?
    = tool_to(:edit_budget.tl, { controller: :activity_budgets, action: :edit, id: budget.id })
  - if current_campaign && resource.productions.of_campaign(current_campaign).empty?
    = tool_to(:close.ta, { controller: :campaigns, action: :close, id: current_campaign.id, activity_id: resource.id, redirect: url_for(controller: :campaigns, action: :show, id: current_campaign.id) }, method: :delete, data: { confirm: :are_you_sure.tl }, tool: :remove)
  - if resource.productions.any? && Product.of_variety(resource.cultivation_variety, resource.support_variety).any?
    = tool_to(:distribute_unaffected_products.tl, { controller: :target_distributions, action: :edit_many, activity_id: resource.id }, icon: false)

- main_period_selector(:year)


= main_informations attachment: true do
  = attributes_list do |l|
    - l.attribute :production_system
    - l.attribute :use_countings
    - l.attribute :use_gradings
    - l.attribute :use_seasons
    - l.attribute :use_tactics
    -# if resource.use_gradings
      - l.attribute :measure_grading_net_mass
      - if resource.measure_grading_net_mass
        - l.attribute :grading_net_mass_unit
      - l.attribute :measure_grading_sizes
      - if resource.measure_grading_sizes
        - l.attribute :grading_sizes_indicator
        - l.attribute :grading_sizes_unit

= cobbles do |c|

  - if current_campaign
    - c.cobble :budget do
      = render 'budget'
  -# c.cobble :details do
    = attributes_list do |l|
      - l.attribute :nature
      - l.attribute :family
      - l.attribute :production_system_name
      - if resource.with_cultivation
        - l.attribute :cultivation_variety
      - if resource.with_supports
        - l.attribute :support_variety
      - l.attribute :production_cycle

  - if resource.plant_farming? && resource.productions.of_campaign(current_campaign).any?

    - inspection_data = nil
    - if resource.inspectionable?
      - dimension = resource.unit_preference(current_user)
      - inspection_data = inspection_series(dimension, resource.inspections)

    - c.cobble :map do
      - data = support_series(resource)
      - if data.empty?
        .placeholding-message= :no_production_defined_for_current_campaign.tn
      - else
        = visualization do |v|
          - v.serie :main, data
          - v.simple :support, :main
          - if !inspection_data.blank?
            - v.serie :inspection, inspection_data
            - v.categories :ready_to_harvest, :inspection, without_ghost_label: true
            - v.choropleth :disease_percentage, :inspection, stop_color: "#FF0000"
            - v.choropleth :deformity_percentage, :inspection, stop_color: "#FFB300"
          - v.control :zoom
          - v.control :scale
          - v.control :fullscreen
          - v.control :layer_selector

  - if resource.with_supports
    - c.cobble(:productions) do
      = render 'productions'

  - if resource.auxiliary? && resource.distributions.any?
    - c.cobble(:distributions, title: Activity.human_attribute_name(:distributions)) do
      :ruby
        resource.distributions.reorder(:affectation_percentage).find_each.map do |distribution|
          percentage = distribution.affectation_percentage.to_s.to_f
          { name: :label_value.th(label: distribution.main_activity_name, value: number_to_percentage(y, precision: 2)), y: percentage }
        end
        series = [{type: 'pie', name: Activity.human_attribute_name(:distributions), data: data}]

      = pie_highcharts(series, legend: true)

  - if resource.inspectionable?
    - dimension       = resource.unit_preference(current_user)
    - last_inspection = resource.inspections.last
    - measure_symbol  = Nomen::Unit.find(last_inspection.user_quantity_unit(dimension)).symbol
    - yield_symbol    = Nomen::Unit.find(last_inspection.user_per_area_unit(dimension)).symbol

    - c.cobble(:stock_in_ground) do
      = render 'backend/inspections/unit_selector', activity: resource
      .chart-table
        - resource.inspection_calibration_scales.each do |scale|
          - if InspectionCalibration.where(nature: scale.natures).exists?
            - base_series = caliber_series(dimension, scale, resource.inspections)
            - stock_series = base_series[:stock]
            - yield_series = base_series[:yield]

            - calibrations = InspectionCalibration.joins(inspection: :activity).where('activity_id = ?', resource.id)
            - if calibrations.merge(InspectionCalibration.of_scale(scale)).exists?
              - stock_chart = column_highcharts(stock_series, chart_style(:stock_in_ground_by_calibration_x.tl(x: scale.name), measure_symbol))
              - yield_chart = column_highcharts(yield_series, chart_style(:yield_by_calibration_x.tl(x: scale.name), yield_symbol))

            - if resource.inspection_point_natures.any? && calibrations.exists?
              - evolt_series = spline_series(dimension, resource.inspections)
              - x_labels     = spline_categories(resource.inspections).map(&:l)
              - chart_style  = chart_style(:unmarketable_inspection_categories_evolution.tl, '%').merge(plot_options: {}, x_axis: { categories: x_labels })
              - evolt_chart  = spline_highcharts(evolt_series, chart_style)

            - unless [stock_chart, yield_chart, evolt_chart].compact.blank?
              .chart-line
                - [stock_chart, yield_chart, evolt_chart].each do |chart|
                  .chart-cell
                    = chart

    - c.cobble(:inspections) do
      = cobble_list :inspections
