= form_tag({action: :upload}, {method: :post, multipart: true, remote: true, :authenticity_token => true, data: { 'importer-form': true}}) do
  .row
    = radio_button_tag(:importer_format, :gml, true)
    = label_tag(:importer_format_gml, "gml")
    = radio_button_tag(:importer_format, :kml)
    = label_tag(:importer_format_kml, "kml")
    = radio_button_tag(:importer_format, :geojson)
    = label_tag(:importer_format_geojson, "geojson")
  .row
    = file_field_tag :import_file
    %span.spinner-loading{data: { 'importer-spinner': true}}
      %i

