- current_part = Ekylibre::Parts.part_of(controller.controller_path, action_name)
%nav#top

  = link_to("#side", id: "menu", "data-toggle" => "side") do
    %i

  -#= link_to(backend_root_path, id: "brand") do
    %i
    %h1= "Ekylibre"

  = link_to(backend_root_path, id: "home") do
    %i
    = :home.tl


  = link_to(Ekylibre::Parts.human_name(current_part), {controller: "/backend/dashboards", action: current_part}, id: "part") if current_part

  .collapse

    - if true # current_part
      %ul#parts
        - for part in Ekylibre::Parts.hash.keys
          - next unless part_authorized?(part)
          %li.separator
          :ruby
            attrs = {:id => "#{part}-part"}
            attrs[:class] = :active if current_part == part
          %li{attrs}
            = link_to(controller: "/backend/dashboards", action: part) do
              %i
              = Ekylibre::Parts.human_name(part)

    %ul#user
      %li.separator
      %li.dropdown
        = link_to("#", "data-toggle" => "dropdown") do
          = Entity.of_company.full_name
          %i
        %ul#user-menu.dropdown-menu
          %li
            = link_to(backend_myself_path, :class => :user) do
              %i
              = current_user.person.full_name
          %li
            = link_to(destroy_user_session_path, :method => :delete, :class => :signout) do
              %i
              = Authentication::SessionsController.human_action_name(:destroy)
