-##help=render :partial=>"help/search", :object=>@article

-current_page = menus.page(controller_name, action_name)
-menu = current_page.useful_menu

-side_menu do |m|
  -if request.url == root_url
    -m.link(:logout, session_url, :method => :delete)
  -else
    -m.link(:back, root_url, :icon => :up)
    -if menu and menu.hierarchy.size > 2
      -for item in menu.hierarchy[1..-2]
        -m.link(item.human_name, item.default_page.url_options, :icon => :up)
    -if menu.default_page != current_page
      -item = menu
      -m.link(item.human_name, item.default_page.url_options, :icon => :up)


-side_menu do |m|
  -if menu
    -for item in menu
      -unless item.name == :settings
        -attrs = {:active => item.in_path?(controller_name, action_name)}
        -attrs[:icon] = :inside if item.items.size > 0
        -m.link(item.human_name, item.default_page.url_options, attrs)


-#side_menu do |m|
  -rm = reverse_menus("#{controller_name}::#{action_name}")
  -# raise session[:menus].keys.inspect
  -
  -for submenu in session[:menus][path[0]]||[]
    -name = "menu.#{path[0]}.#{submenu[0]}"
    -url = submenu[1][0]
    -m.link(t("actions.#{url[:controller]}.#{url[:action]}"), url[:url], :active => (submenu[0] == rm[1]))

-side_menu do |m|
  -unless menu.hierarchy.detect{|i| i.name == :settings}
    -m.link("labels.menus.settings".t, settings_dashboard_url)
  -m.link(:help, "#", "data-toggle-visibility" => "#help")

-if content_for?(:aside)
  =content_for(:aside)
