-if menu = menus[path[0]] and path[1] != :__hidden__
  -prefix = "#{path[0]}_#{path[1]}"
  -preference = @current_user.preference("interface.side.#{prefix}.opened", true, :boolean)
  .module.menu
    %ul{:id=>"side_#{prefix}_actions", :style=>(preference.value ? nil : "display: none") }
      -for url in menu[path[1]]||[]
        =li_link_to(t("actions.#{url[:controller]}.#{url[:action]}"), url, :class=>(:current if path[2] == "#{url[:controller]}::#{url[:action]}"))


-if session[:history].is_a?(Array) and not session[:history].size.zero?
  .module.menu
    %h2=tl("recent_historic")
    %ul
      -for page in session[:history][0..4]
        %li
          -title=h(page[:title])
          -# title=h(tl("menus.#{page[:reverse][0]}"))+" &ndash; ".html_safe+title if page[:reverse].is_a?(Array) and page[:reverse][0]
          =link_to(title.html_safe, page[:url], :title=>(h(tl("menus.#{page[:reverse][0]}"))+" &ndash; ".html_safe+h(tl("menus.submenus.#{page[:reverse][1]}"))).html_safe, :class=>(:current if request.url == page[:url]))

.module.help.flex
  %h2=tl("contextual_help")
  #help.flex=render :partial=>"help/search", :object=>@article
