%nav#top.top-bar.fixed
  %ul.left
    %li.name
      =link_to do
        Ekylibre
    %li.toggle-bar
  %section>
    %ul.left>
      -for x in menus
        %li>=link_to(x.human_name, x.default_page.url_options)
  
-#if current_user
  .user-bar
    %a.name.root
      %span.text=Entity.of_company.full_name
    %ul
      %li.no-link
        %a.name
          %span.icon
          %span.text=current_user.entity.full_name
      %li.separator
      %li=menu_to(Authentication::SessionsController.human_action_name(:destroy), destroy_user_session_url, :method => :delete, :menu => :logout)

-#if current_user
  -rm = reverse_menus
  .menu-bar
    %ul
      %li
        .logo-item
      -for menu, submenus in menus
        -if rm[0] != menu
          %li.menu.other{:class=>menu}
            =link_to(last_page(menu), :class=>"menu other #{menu}") do
              %span.icon
              %span.text=tl("menus.#{menu}")
            %ul
              -for submenu, items in submenus
                %li.submenu.mn.rblue
                  =link_to(items[0][:url]) do
                    %span.icon
                    %span.text=tl("menus.submenus.#{submenu}")
        -else
          %li.menu.current{:class=>menu}
            =link_to({:controller=>:dashboards, :action=>menu}, :class=>"menu current #{menu}") do
              %span.icon
              %span.text=tl("menus.#{menu}")
