-if @current_user
  .user-bar
    %a.name.root
      %span.text=@current_company.name
    %ul
      %li.no-link
        %a.mn.name
          %span.icon
          %span.text=@current_user.label
      %li.separator
      -for mode in ["printable", "resized"]
        %li=menu_to(tl("view_modes.#{mode}"), params, :menu=>"#{'un' unless mode == session[:view_mode]}checked", "data-toggle-view-mode"=>url_for(:action=>:toggle_view_mode, :controller=>:interfacers, :mode=>mode))
      %li.separator
      %li=menu_to(SessionsController.human_action_name(:destroy), session_url, :method=>:delete, :menu=>:logout)

-if @current_user
  -rm = reverse_menus
  .menu-bar
    %ul
      %li
        .logo-item
      -for menu, submenus in menus
        -if rm[0] != menu
          %li.menu.other{:class=>menu}
            =link_to(last_page(menu), :class=>"menu other #{menu}") do
              %span.icon
              %span.text=tl("menus.#{menu}")
            %ul
              -for submenu, items in submenus
                %li.submenu
                  =link_to(items[0][:url]) do
                    %span.icon
                    %span.text=tl("menus.submenus.#{submenu}")
        -else
          %li.menu.current{:class=>menu}
            =link_to({:controller=>:dashboards, :action=>menu}, :class=>"menu current #{menu}") do
              %span.icon
              %span.text=tl("menus.#{menu}")
