-if @current_user
  .user-bar
    %a.name.root=@current_company.name
    %ul
      %li.no-link
        %a.name=@current_user.label
      %li.separator
      -for mode in ["printable", "resized"]
        %li=link_to(tl("view_modes.#{mode}"), params, :class=>"icon im-#{'un' unless mode == session[:view_mode]}checked", "data-toggle-view-mode"=>url_for(:action=>:toggle_view_mode, :controller=>:interfacers, :mode=>mode))
      %li.separator
      %li=link_to(SessionsController.human_action_name(:destroy), session_url, :method=>:delete, :class=>"icon im-logout")

-if @current_user
  -rm = reverse_menus
  .menu-bar
    %ul
      %li.logo-item
      -for menu, submenus in menus
        -if rm[0] != menu
          %li.menu.other{:class=>menu}
            =link_to(tl("menus.#{menu}"), last_page(menu), :class=>"menu other #{menu}")
            %ul
              -for submenu, items in submenus
                %li.submenu
                  =link_to(tl("menus.submenus.#{submenu}"), items[0][:url], :class=>"icon im-menu")
        -else
          %li.menu.current{:class=>menu}
            =link_to(tl("menus.#{menu}"), {:controller=>:dashboards, :action=>menu}, :class=>"menu current #{menu}")
