!!! XML utf-8
!!! Strict
%html{:xmlns=>'http://www.w3.org/1999/xhtml'}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=UTF-8'}
    = title_tag
    = stylesheet_link_tag :defaults
    = javascript_include_tag :defaults
  %body{:onload=>'resize();',:onresize=>'resize();'}
    = top_tag
    #columns{:orient=>:horizontal}
      = location_tag(:side, :orient=>:vertical)
      #main{:flex=>3}
        = help_tag
        = flash_tag :error
        = flash_tag :warning
        = flash_tag :notice
        #yield
          = yield
