.cell{data: {beehive_cell: params[:cell]}}
  .cell-inner
    .cell-title
      = link_to("##{params[:beehive]}", data: {beehive_remove: "cell"}) do
        %i
      %i
      = params[:cell].tl
      - if @counter
        %span.badge= @counter
    .cell-content= yield
    .cell-bottom
