= main_toolbar do |t|
  - t.edit @incident

= beehive do |b|
  - b.cell do
    = attributes_list do |l|
      - l.attribute :name
      - l.attribute :target, url: true

  - b.tabbox do
    - b.cell(:interventions) do
      = toolbar do |t|
        - t.new(:params => {:controller => :interventions, :incident_id => @incident.id})
      = list(:interventions)